<ion-content>

  <div class="header"> 

    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>
    Entretien anesthésique
  </div>
      <br>

      <ion-item color="turquoise-fonce"> 
        <ion-label>
          <p class="MonPatient">{{sexeMF}} - {{ageLecture}} ans ( = {{AgeNum}} mois) - {{PoidsNum}} kg - {{Taille}} cm</p> 
          <p class="MonPatient">Estomac {{EstomacOuiNon}} - Jeune {{DureeJeune}} h</p>
          <p class="MonPatient">Allergie : {{Allergie}}</p></ion-label> 
      </ion-item>
  
      <br>

  
  <ion-item-divider (click)="ToggleInhalatoire()" >
    <ion-label color="dark-turquoise">Entretien inhalatoire
  <ion-icon *ngIf="!isShownInhalatoire" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
  <ion-icon *ngIf="isShownInhalatoire" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
    </ion-label>
  </ion-item-divider> 

  <ion-card *ngIf="isShownInhalatoire" class="drogueContainer">


      <ion-item>         
        <ion-label  color="warning" class="drogueInduction"> Sevoflurane : {{CAMSevo}} %
      <p class="dilutionDrogueInduction">%EtHalogéné, bas DGF</p>
    </ion-label>
  </ion-item>

  </ion-card>

  <ion-item-divider (click)="ToggleHypnotiquesIntraVeineux()" >
    <ion-label color="dark-turquoise">Hypnotiques intraveineux
  <ion-icon *ngIf="!isShownHypnotiquesIntraVeineux" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
  <ion-icon *ngIf="isShownHypnotiquesIntraVeineux" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
    </ion-label>
  </ion-item-divider> 

  <ion-card *ngIf="isShownHypnotiquesIntraVeineux" class="drogueContainer">

<ion-item>     
  <ion-label class="drogueInduction" color="warning">
  <p class="posologieDrogueInduction">Posologie proposée : 10 mg/kg/h </p>
  Propofol : {{PropoEntretien}} mg/h IVSE
</ion-label>
  </ion-item>
<ion-item >         
  <ion-label class="drogueInduction" color="orange">
    <p class="dilutionDrogueInduction">Posologie proposée : 0,1 mg/kg/h </p>
    Midazolam : {{HypnoEntretien}} mg/h IVSE
 </ion-label>
  </ion-item>


<ion-item class="avecAMM">         
  <ion-label class="drogueInduction" color="dark-blue">Dexmédétomidine : 
  <p class="dilutionDrogueInduction">Bolus seul : {{DexdorBolusSeul}} µg IVD
  <p class="comment">pour 0,5 µg/kg </p>
  <p class="dilutionDrogueInduction">IVSE : {{DexdorBolusAvecIVSE}} µg sur 10' puis {{DexdorEntretien}} µg/h</p>
  <p class="comment">pour 1 µg/kg sur 10' puis 0,4 µg/kg/h  </p>
  <p class="dilutionDrogueInduction">Prévention agitation : {{DexdorAgitation}} µg IVD</p>
  <p class="comment">pour 0,3 µg/kg, en fin d'intervention </p>
</ion-label>

  </ion-item>

  <div class="AMM">AMM : <br> sédation chez l'adulte en USI objectif RASS [0 ; -3]</div>

</ion-card>  


<ion-item-divider (click)="ToggleAntalgiques()" >
  <ion-label color="dark-turquoise">Antalgiques
<ion-icon *ngIf="!isShownAntalgiques" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
<ion-icon *ngIf="isShownAntalgiques"class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
  </ion-label>
</ion-item-divider> 

<ion-card *ngIf="isShownAntalgiques" class="drogueContainer">

<ion-item>         
<ion-label class="drogueInduction" color="primary">
  <p  class="dilutionDrogueInduction">Posologie proposée 10 µg/kg/h </p>
  Remifentanil : {{RemiEntretien}} µg/h IVSE
</ion-label>
</ion-item>

<ion-item>         
<ion-label class="drogueInduction" color="primary">
  <p  class="dilutionDrogueInduction">Posologie proposée : 0,2 µg/kg/h </p>
  Sufentanil : {{SufEntretien}} µg/h IVSE
</ion-label>
</ion-item>

<ion-item>         
<ion-label class="drogueInduction" color="dark">
  <p  class="dilutionDrogueInduction">Posologie proposée : 1 mg/kg/h </p>
  Xylocaïne : {{XyloEntretien}} mg/h IVSE
</ion-label>
</ion-item>

<ion-item>         
<ion-label class="drogueInduction" color="warning">
  <p  class="dilutionDrogueInduction">Posologie proposée : 0,15 mg/kg/h </p>
  Ketamine : {{KetaEntretien}} mg/h IVSE
</ion-label>
</ion-item>

</ion-card>


<ion-item-divider (click)="ToggleCurares()" >
  <ion-label color="dark-turquoise">Curares
<ion-icon *ngIf="!isShownCurares" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
<ion-icon *ngIf="isShownCurares" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
  </ion-label>
</ion-item-divider> 

<ion-card *ngIf="isShownCurares"class="drogueContainer">

<ion-item >         
<ion-label color="danger" class="drogueInduction">
  <p class="dilutionDrogueInduction">Posologie proposée : 0,6 mg/kg/h </p>
  Rocuronium (Esméron®) : {{RocuEntretien}} mg/h IVSE
</ion-label>
</ion-item>

<ion-item >         
<ion-label color="danger" class="drogueInduction">
  <p class="dilutionDrogueInduction">Posologie proposée </p>
  Atracurium (Tracrium®) : {{TracEntretien}} mg/h IVSE
</ion-label>
</ion-item>



 
  <ion-item class="avecAMM">
    <ion-label color="dark-green" class="drogueInduction">
      <p class="dilutionDrogueInduction">Posologie proposée : 20 µg/kg</p>
     - Atropine {{AdminAtropineAntagonisation}} µg IVD
    <p class="dilutionDrogueInduction">
      Antagonisation curare en association avec prostigmine
    </p></ion-label>
  </ion-item>
  <div class="AMM">Vérifier : <br> TOF > 2/4</div>

  <ion-item class="avecAMM">    
    <ion-label color="primary" class="drogueInduction"> 
  <p class="dilutionDrogueInduction">Posologie proposée : 40 µg/kg</p>
  - Prostigmine {{AdminProstigmineAntagonisation}} µg IVD
  <p class="dilutionDrogueInduction">
    Antagonisation curare en association avec atropine
  </p></ion-label>
  </ion-item>
  <div class="AMM">Vérifier : <br> TOF > 2/4</div>

  

  <ion-item class="avecAMM">         
    <ion-label color="orange" class="drogueInduction">Antagonisation rocuronium   
    <p color="dark-green" class="dilutionDrogueInduction">- TOF > 2/4 : Suggamadex (Bridion®) {{PosoBridion2reponses}} mg  (4 mg/kg) IVD</p>
    <p color="primary" class="dilutionDrogueInduction">- TOF > 4/4 : Suggamadex (Bridion®) {{PosoBridion4reponses}} mg (2 mg/kg) IVD </p>
  </ion-label> 
  </ion-item>
  
    <div class="AMM">Vérifier : <br> TOF > 2/4</div>


  

</ion-card>  


</ion-content>