<ion-content>

  <div class="header"> 

    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>
    Entretien anesthésique
  </div>
      <br>

      <ion-item color="turquoise-fonce"> 
        <ion-label>
          <p class="MonPatient">{{sexeMF}} - {{ageLecture}} ans ( = {{AgeNum}} mois) - {{PoidsNum}} kg - {{Taille}} cm</p> 
          <p class="MonPatient">Estomac {{EstomacOuiNon}} - Jeune {{DureeJeune}} h</p>
          <p class="MonPatient">Allergie : {{Allergie}}</p></ion-label> 
      </ion-item>
  
      <br>

  
  <ion-item-divider (click)="ToggleInhalatoire()" >
    <ion-label color="dark-turquoise">Entretien inhalatoire
  <ion-icon *ngIf="!isShownInhalatoire" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
  <ion-icon *ngIf="isShownInhalatoire" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
    </ion-label>
  </ion-item-divider> 

  <ion-card *ngIf="isShownInhalatoire" class="drogueContainer">


      <ion-item>         
        <ion-label  color="warning" class="drogueInduction"> Sevoflurane (Sevorane®) : {{CAMSevo}} %
      <p class="dilutionDrogueInduction">%EtHalogéné, bas DGF</p>
    </ion-label>
  </ion-item>

  </ion-card>

  <ion-item-divider (click)="ToggleHypnotiquesIntraVeineux()" >
    <ion-label color="dark-turquoise">Hypnotiques intraveineux
  <ion-icon *ngIf="!isShownHypnotiquesIntraVeineux" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
  <ion-icon *ngIf="isShownHypnotiquesIntraVeineux" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
    </ion-label>
  </ion-item-divider> 

  <ion-card *ngIf="isShownHypnotiquesIntraVeineux" class="drogueContainer">

<ion-item>     
  <ion-label class="drogueInduction" color="warning">
  <p class="posologieDrogueInduction">Posologie proposée : 10 mg/kg/h </p>
  Propofol (Diprivan® 200mg/20mL) : {{PropoEntretien}} mg/h IVSE
</ion-label>
  </ion-item>
<ion-item >         
  <ion-label class="drogueInduction" color="orange">
    <p class="dilutionDrogueInduction">Posologie proposée : 0,1 mg/kg/h </p>
    Midazolam (Hypnovel® 5mg/5mL) : {{HypnoEntretien}} mg/h IVSE
 </ion-label>
  </ion-item>


<ion-item class="avecAMM">         
  <ion-label class="drogueInduction" color="dark-blue">Dexmédétomidine (Dexdor® 200µg/2mL) :
  <p class="comment">pour 0,5 µg/kg </p>
  <p class="dilutionDrogueInduction">IVSE : {{DexdorBolusAvecIVSE}} µg sur 10' puis {{DexdorEntretien}} µg/h</p>
  <p class="comment">pour 1 µg/kg sur 10' puis 0,4 µg/kg/h  </p>
  <p class="dilutionDrogueInduction">Prévention agitation : {{DexdorAgitation}} µg IVD</p>
  <p class="comment">pour 0,3 µg/kg, en fin d'intervention </p>
</ion-label>

  </ion-item>

  <div class="AMM">AMM : <br> sédation chez l'adulte en USI objectif RASS [0 ; -3]</div>

</ion-card>  


<ion-item-divider (click)="ToggleAntalgiques()" >
  <ion-label color="dark-turquoise">Antalgiques
<ion-icon *ngIf="!isShownAntalgiques" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
<ion-icon *ngIf="isShownAntalgiques"class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
  </ion-label>
</ion-item-divider> 

<ion-card *ngIf="isShownAntalgiques" class="drogueContainer">

<ion-item>         
<ion-label class="drogueInduction" color="primary">
  <p  class="dilutionDrogueInduction">Posologie proposée 10 µg/kg/h </p>
  Remifentanil (2mg pdr) : {{RemiEntretien}} µg/h IVSE
</ion-label>
</ion-item>

<ion-item>         
<ion-label class="drogueInduction" color="primary">
  <p  class="dilutionDrogueInduction">Posologie proposée : 0,2 µg/kg/h </p>
  Sufentanil (50µg/10mL) : {{SufEntretien}} µg/h IVSE
</ion-label>
</ion-item>

<ion-item>         
<ion-label class="drogueInduction" color="dark">
  <p  class="dilutionDrogueInduction">Posologie proposée : 1 mg/kg/h </p>
  Xylocaïne (100mg/20mL) : {{XyloEntretien}} mg/h IVSE
</ion-label>
</ion-item>

<ion-item>         
<ion-label class="drogueInduction" color="warning">
  <p  class="dilutionDrogueInduction">Posologie proposée : 0,15 mg/kg/h </p>
  Ketamine (Ketalar® 50mg/5mL) : {{KetaEntretien}} mg/h IVSE
</ion-label>
</ion-item>

</ion-card>


<ion-item-divider (click)="ToggleCurares()" >
  <ion-label color="dark-turquoise">Curares
<ion-icon *ngIf="!isShownCurares" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
<ion-icon *ngIf="isShownCurares" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
  </ion-label>
</ion-item-divider> 

<ion-card *ngIf="isShownCurares"class="drogueContainer">

<ion-item >         
<ion-label color="danger" class="drogueInduction">
  <p class="dilutionDrogueInduction">Posologie proposée : 0,6 mg/kg/h </p>
  Rocuronium (Esméron® 50mg/5mL) : {{RocuEntretien}} mg/h IVSE
</ion-label>
</ion-item>

<ion-item >         
<ion-label color="danger" class="drogueInduction">
  <p class="dilutionDrogueInduction">Posologie proposée </p>
  Atracurium (Tracrium® 25mg/2,5mL) : {{TracEntretien}} mg/h IVSE
</ion-label>
</ion-item>  

</ion-card>  


</ion-content>