<ion-header translucent>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Entretien anesthésique</ion-title>
  </ion-navbar>
  <ion-item color="secondary"> 
    <ion-label class="MonPatient" >Mon patient : {{AgeNum}} mois - {{PoidsNum}} kg 
      <p class="dilution">Estomac {{EstomacOuiNon}} - Jeune {{DureeJeune}} h</p>
    <p>Allergie : {{Allergie}}</p></ion-label>
    <ion-icon slot="end" icon="accessibility-outline"></ion-icon> 
  </ion-item>
</ion-header>

<ion-content padding>

  
  <ion-item-divider (click)="ToggleInhalatoire()" >
    <ion-label>Entretien inhalatoire
  <ion-icon *ngIf="!isShownInhalatoire" class="fluidIcon" name="add-circle" style="zoom:1.5"></ion-icon>
  <ion-icon *ngIf="isShownInhalatoire" class="fluidIcon" name="close-circle"  style="zoom:1.5"></ion-icon>
    </ion-label>
  </ion-item-divider> 

  <ion-card *ngIf="isShownInhalatoire">

      <ion-item><p>
        Suggestions de concentrations selon l'âge
      </p>
      <p>Exprimées en %EtHalogéné</p>
    </ion-item>

      <ion-item color="warning">         
        <ion-label >Sevoflurane : <b>{{CAMSevo}} %</b></ion-label>
        </ion-item>
  </ion-card>  

  <ion-item-divider (click)="ToggleIntraVeineux()" >
    <ion-label>Entretien intraveieneux
  <ion-icon *ngIf="!isShownIntraVeineux" class="fluidIcon" name="add-circle" style="zoom:1.5"></ion-icon>
  <ion-icon *ngIf="isShownIntraVeineux" class="fluidIcon" name="close-circle"  style="zoom:1.5"></ion-icon>
    </ion-label>
  </ion-item-divider> 


  <ion-card *ngIf="isShownIntraVeineux">

<ion-item color="warning">         
  <ion-label >Propofol : <b>{{PropoEntretien}} mg/h</b>
  <p>Pour 10 mg/kg/h </p></ion-label>
  </ion-item>


<ion-item color="orange">         
  <ion-label >Midazolam : <b>{{HypnoEntretien}} mg/h</b>
  <p>Pour 0,1 mg/kg/h </p></ion-label>
  </ion-item>


<ion-item color="primary">         
  <ion-label >Remifentanil : <b>{{RemiEntretien}} µg/h</b>
  <p>Pour 10 µg/kg/h </p></ion-label>
  </ion-item>

 

<ion-item color="danger">         
  <ion-label >Rocuronium : <b>{{RocuEntretien}} mg/h</b>
  <p>Pour 0,6 mg/kg/h </p></ion-label>
  </ion-item>


<ion-item color="danger">         
  <ion-label >Tracrium : <b>{{TracEntretien}} mg/h</b>
  <p>Pour 0,5 mg/kg/h </p></ion-label>
  </ion-item>

</ion-card>  

</ion-content>