

<ion-content>

        <!-- HEADER MENU  -->
        <div class="header"> 

          <div (click)="retourHome()" class="backButton">
          <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
          Retour
          </div>
Monitorage & dispositifs  </div>
            <br>
      
                  <!-- HEADER MON PATIENT  -->
  
            <ion-item color="turquoise-fonce"> 
              <ion-label>
                <p class="MonPatient">{{sexeMF}} - {{ageLecture}} ans ( = {{AgeNum}} mois) - {{PoidsNum}} kg - {{Taille}} cm</p> 
                <p class="MonPatient">Estomac {{EstomacOuiNon}} - Jeune {{DureeJeune}} h</p>
                <p class="MonPatient">Allergie : {{Allergie}}</p></ion-label> 
            </ion-item>
        
            <br>
       <!-- END HEADER -->

      <ion-item-divider (click)="ToggleConstantes()">
    <ion-label color="dark-turquoise">Paramètres vitaux selon l'âge
  <ion-icon *ngIf="!isShownConstantes" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
  <ion-icon *ngIf="isShownConstantes" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
    </ion-label>
  </ion-item-divider> 


  <ion-grid fixed="true" *ngIf="isShownConstantes" class="ionFirstRow">
    <ion-row >
      <ion-col>
      </ion-col>
      <ion-col class="normale">
        Normale
      </ion-col>
      <ion-col class="trophaut">
        Trop haut
      </ion-col>
      <ion-col class="tropbas">
        Trop bas
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col class="intitules">
          FC (/min)
      </ion-col>
      <ion-col class="normale">
        {{FCnormale}}
      </ion-col>
      <ion-col class="trophaut">
        {{FCdangerHaut}}
      </ion-col>
      <ion-col class="tropbas">
        {{FCdangerBas}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="intitules" >
          FR (/min)
      </ion-col>
      <ion-col class="normale"> 
        {{FRnormale}}
      </ion-col>
      <ion-col class="trophaut">
        {{FRdangerHaut}}
      </ion-col>
      <ion-col class="tropbas">
        {{FRdangerBas}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="intitules">
          SpO2 (%)
      </ion-col>
      <ion-col class="normale">
        {{SpO2normale}}
      </ion-col>
      <ion-col class="trophaut">
        -
      </ion-col>
      <ion-col class="tropbas">
        {{SpO2dangerBas}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="intitules">
          PAS (mmHg)
      </ion-col>
      <ion-col class="normale">
        {{PASnormale}}
      </ion-col>
      <ion-col class="trophaut">
        {{PASdangerHaut}}
      </ion-col>
      <ion-col class="tropbas">
        {{PASdangerBas}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="intitules">
          PAD (mmHg)
      </ion-col>
      <ion-col class="normale">
        {{PADnormale}}
      </ion-col>
      <ion-col class="trophaut">
        {{PADdangerHaut}}
      </ion-col>
      <ion-col class="tropbas">
        {{PADdangerBas}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="intitules">
          PAM (mmHg)
      </ion-col>
      <ion-col class="normale">
        {{PAMnormale}}
      </ion-col>
      <ion-col class="trophaut">
        {{PAMdangerHaut}}
      </ion-col>
      <ion-col class="tropbas">
        {{PAMdangerBas}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="intitules">
          Diurèse (mL/h sur 3h)
      </ion-col>
      <ion-col class="normale">
        {{Diuresenormale}}
      </ion-col>
      <ion-col class="trophaut">
        {{DiuresedangerHaut}}
      </ion-col>      
      <ion-col class="tropbas">
        {{DiuresedangerBas}}
      </ion-col>
    </ion-row>
    </ion-grid>


    <ion-item-divider (click)="ToggleDispositifs()">
      <ion-label color="dark-turquoise">Taille des dispositifs
    <ion-icon *ngIf="!isShownDispositifs" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
    <ion-icon *ngIf="isShownDispositifs" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
      </ion-label>
    </ion-item-divider> 

    <ion-list *ngIf="isShownDispositifs">
      <ion-item>
        <ion-label class="drogueInduction">Doppler Oesophagien
            <p class="dilutionDrogueInduction">Modele de sonde : {{SondeDoppler}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction">NIRS - Stable à +/- 20%
            <p class="dilutionDrogueInduction">Capteur : {{CapteurNirs}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction">BIS - Objectif 40 à 60
            <p class="dilutionDrogueInduction">Electrodes : {{ElectrodesBIS}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction">Sonde urinaire
            <p class="dilutionDrogueInduction">Taille de sonde : {{TailleSondeUrinaire}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction">Sonde gastrique
            <p class="dilutionDrogueInduction">Taille de sonde : {{TailleSondeGastrique}} </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item-divider (click)="ToggleANI()">
      <ion-label color="dark-turquoise">Analgesia Monitoring Index (ANI)
    <ion-icon *ngIf="!isShownANI" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
    <ion-icon *ngIf="isShownANI" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
      </ion-label>
    </ion-item-divider> 


    <ion-card *ngIf="isShownANI" class="drogueContainer">
      <ion-card-content>
        <p class="reference">Fabriquant : MDoloris Medical Systems, Lille, France</p> 
        <br>
        <p class="aideMemoire"><b>Objectif</b> : faciliter la gestion des drogues antalgiques en per-opératoire</p> 
        <br>
        <p class="aideMemoire"><b>Principe</b> : propose un index d'activité parasympathique (p&Sigma;) calculé sur la base des variations de l'espace RR (ECG) au cours du cycle respiratoire. </p> 
        <br>
        <p class="aideMemoire">
          <b>Interprétation</b> : réactivité sympathique à une stimulation nociceptive dans les 10 minutes.
          <br>- p&Sigma; > 70 :  très improbable, envisager une réduction des doses d'antalgique ;
          <br>- 50 < p&Sigma; < 70 : peu probable, fenêtre cible ;
          <br>- p&Sigma; < 50 : très probable, envisager l'administration d'antalgique.
        </p>
        <br>
        <p class="aideMemoire"><b>Limites</b> : 
          <br> - arythmie cardiaque
          <br> - changement de volume courant dans la dernière minute, respiration irrégulière
          <br> - fréquence respiratoire < 9/minute ou apnée 
          <br> - modification pharmacologique de la fréquence cardiaque : atropine, éphédrine, catécholamines, etc.
        </p>
        <br>
        <p class="aideMemoire"><b>Electrodes & moniteur</b> :</p>
        <img class="imgAideMemoire" src="/assets/imgs/ani.jpg">
        <img class="imgANIMoniteur" src="/assets/imgs/animoniteur.png">




      </ion-card-content>


    </ion-card>

</ion-content>
