.intitules {
    font-size: 10px; 
}

.normale 
{
    background-color:#028e2c !important;
    font-size: 12px; 
}

.tropbas 

{
    background-color:#e285ff !important;
    font-size: 12px; 
}

.trophaut

{
    background-color:#ff6961 !important;
    font-size: 12px; 
}

.graphPoids {
    box-shadow: none !important;
}