<ion-content>


      <!-- HEADER MENU  -->
      <div class="header"> 

        <div (click)="retourHome()" class="backButton">
        <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
        Retour
        </div>
Apports et produits sanguins 
</div>
          <br>
    
                <!-- HEADER MON PATIENT  -->

          <ion-item color="turquoise-fonce"> 
            <ion-label>
              <p class="MonPatient">{{sexeMF}} - {{ageLecture}} ans ( = {{AgeNum}} mois) - {{PoidsNum}} kg - {{Taille}} cm</p> 
              <p class="MonPatient">Estomac {{EstomacOuiNon}} - Jeune {{DureeJeune}} h</p>
              <p class="MonPatient">Allergie : {{Allergie}}</p></ion-label> 
          </ion-item>
      
          <br>
     <!-- END HEADER -->

  
      <!-- ITEMS CALCULES-->
   
      <ion-list>
        <ion-item-group>

          <ion-item-divider (click)="ToggleApportsJournaliers()">
            <ion-label color="dark-turquoise">Apports journaliers selon l'âge
            <ion-icon *ngIf="!isShownApportsJournaliers" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
            <ion-icon *ngIf="isShownApportsJournaliers" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
            </ion-label>
          </ion-item-divider>
            
            <ion-card class="drogueContainer"  *ngIf="isShownApportsJournaliers">
            <ion-card-content>
              <p *ngIf="AgeNum >= 24">Pour un {{CategorieAge}} de {{ageLecture}} ans</p>
              <p *ngIf="AgeNum < 24">Pour un {{CategorieAge}} de {{AgeNum}} mois</p>
            </ion-card-content>
          </ion-card>
 
              <ion-grid  fixed="true" *ngIf="isShownApportsJournaliers" class="ionFirstRow">
                <ion-row class="TableApports" >
                  <ion-col >
                    Apports cibles
                  </ion-col>
                  <ion-col>
                    En dose poids (/kg)
                  </ion-col>
                  <ion-col>
                    Pour mon patient
                  </ion-col>            
                </ion-row>

                <ion-row class="TableApports">
                <ion-col>
                  Calories (KCal/j)
                </ion-col>
                <ion-col>
                  {{StandardKCal}}
                </ion-col>
                <ion-col>
                  {{KCal}}
                </ion-col>            
              </ion-row>

              <ion-row class="TableApports">
              <ion-col>
                Glucides (g/j)
              </ion-col>
              <ion-col>
                {{StandardGlucides}}
              </ion-col>
              <ion-col>
                {{Glucides}}
              </ion-col>            
            </ion-row>

            <ion-row class="TableApports">
            <ion-col>
              Acides aminés (g/j)
            </ion-col>
            <ion-col>
              {{StandardAcidesAmines}}
            </ion-col>
            <ion-col>
              {{AcidesAmines}}
            </ion-col>            
          </ion-row>
            
          <ion-row class="TableApports">
          <ion-col>
            Lipides (g/j)
          </ion-col>
          <ion-col>
            {{StandardLipides}}
          </ion-col>
          <ion-col>
            {{Lipides}}
          </ion-col>            
        </ion-row>

        <ion-row class="TableApports">
        <ion-col>
        Sodium (mEq/j)
          </ion-col>
        <ion-col>
          {{StandardSodium}}
        </ion-col>
        <ion-col>
          {{Sodium}}
        </ion-col>            
      </ion-row>

      <ion-row class="TableApports">
      <ion-col>
        Potassium (mEq/j)
          </ion-col>
        <ion-col>
          {{StandardPotassium}}
        </ion-col>
        <ion-col>
          {{Potassium}}
        </ion-col>            
      </ion-row>

      <ion-row class="TableApports">
      <ion-col>
        Calcium (mg/j)
          </ion-col>
        <ion-col>
          {{StandardCalcium}}
        </ion-col>
        <ion-col>
          {{Calcium}}
        </ion-col>            
      </ion-row>

      <ion-row class="TableApports">
      <ion-col>
        Phosphore (mg/j)
          </ion-col>
        <ion-col>
          {{StandardPhosphore}}
        </ion-col>
        <ion-col>
          {{Phosphore}}
        </ion-col>            
      </ion-row>

      <ion-row class="TableApports">
      <ion-col>
        Magnesium (mg/j)
          </ion-col>
        <ion-col>
          {{StandardMagnesium}}
        </ion-col>
        <ion-col>
          {{Magnesium}}
        </ion-col>            
      </ion-row>

                </ion-grid>

         
          
          <ion-item-divider (click)="ToggleApports()">
            <ion-label color="dark-turquoise">Apports hydriques
          <ion-icon *ngIf="!isShownApports" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownApports" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
            </ion-label>
          </ion-item-divider> 


          <ion-card *ngIf="isShownApports" class="drogueContainer">
          <ion-item>
            <ion-label class="drogueInduction">Besoins de base : <b>{{ApportBaseHoraire}} mL/h</b>
            <p class="dilutionDrogueInduction">{{Solute}}</p></ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="drogueInduction">Compensation du jeûne ({{DureeJeune}} heures) : <b>{{CompJeune}} mL</b>
            <p class="dilutionDrogueInduction">{{Solute}}</p>
            <p class="dilutionDrogueInduction">Passer {{CompJeuneH1}} mL sur 1h puis {{CompJeuneH2}} mL sur 2h</p>
          </ion-label>
          </ion-item>

          <ion-item> <ion-label class="drogueInduction" >Pertes chirurgicales</ion-label>
            <ion-select class="drogueInduction" #newselect (ionChange)="SelectPerteChir(chir.pertes)" [(ngModel)]="chir.pertes" interface="action-sheet" placeholder="choisir"
             okText="OK" cancelText="Retour">
              <ion-option checked="true" value="Mineures">Mineures (2 mL/kg/h)</ion-option>
              <ion-option value="Moderees">Modérées (5 mL/kg/h)</ion-option>
              <ion-option value="Importantes">Importantes (10 mL/kg/h)</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label class="drogueInduction">Pertes insensibles
            <p class="dilutionDrogueInduction"><b>{{Solute}} : {{CompPertesChir}} mL/h</b></p>
          </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="drogueInduction">Apports recommandés : <b>
            <p class="dilutionDrogueInduction"> - La 1ere heure {{Solute}} : {{TotalH1}} mL</p>
            <p class="dilutionDrogueInduction"> - La 2e et la 3e heure {{Solute}} : {{TotalH2et3}} mL</p>
            <p class="dilutionDrogueInduction"> - puis {{Solute}} : {{TotalHoraire}} mL/h</p>
          </b>
        </ion-label>
          </ion-item>
        </ion-card>

        <ion-item-divider (click)="ToggleHypoTA()">
          <ion-label color="dark-turquoise">Remplissage vasculaire
          <ion-icon *ngIf="!isShownHypoTA" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownHypoTA" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
          </ion-label>
        </ion-item-divider>
          
          <ion-card class="drogueContainer"  *ngIf="isShownHypoTA">
          <ion-card-content>
            <p class="dilutionDrogueInduction">Envisager devant une PAM abaissée de 20% ou plus par rapport la valeur mesurée avant induction.</p>
            <p class="dilutionDrogueInduction">Enfant de <b>{{ageLecture}} ans : PAS &lt; {{PAShypoTA}} mmHg </b>environ </p>
            <br>
            <p class="drogueInduction">Mesures à envisager :</p>
            <p class="dilutionDrogueInduction"> - Remplissage par cristalloïde : <b>{{VolRemplissage}} mL </b> de <b>{{SoluteRemplissage}}</b>, renouvelable une fois</p>
            <p class="dilutionDrogueInduction"> - Ephédrine par bolus IVD de <b>{{AdminEphedrine}} mg</b>, renouvelable</p>
            <p class="dilutionDrogueInduction"> - En seconde intention, remplissage par colloïde : <b>{{AdminAlbumine}} mL albumine 10% sur 30 minutes</b> (mélange équivolume Albumine 20% & NaCl 0.9%).</p>
          </ion-card-content>
        </ion-card>

          

          <ion-item-divider (click)="ToggleCGR()">
            <ion-label color="danger">Concentré de globules rouges
          <ion-icon *ngIf="!isShownCGR" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownCGR" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
            </ion-label>
          </ion-item-divider> 

          <ion-card *ngIf="isShownCGR" class="drogueContainer">
          <ion-item>
            <ion-label class="drogueInduction">
              Masse sanguine estimée : <b>{{MasseSanguine}} mL</b>
              <p class="dilutionDrogueInduction">(pour 80 mL/kg)</p>
          </ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="danger" class="drogueInduction">Hémogloginémie mesurée : <b>{{Hbmesuree}} g/dL</b></ion-label>
            <ion-range max="16" step="1"  pin="true" color="danger" (ionChange)="MesureeHb()" [(ngModel)]="Hbmesuree"> </ion-range>
          </ion-item>

          <ion-item >
             <ion-label color="turquoise-fonce" class="drogueInduction">Objectif d'hémoglobinémie : <b>{{Hbsouhaitee}} g/dL</b></ion-label>
            <ion-range  color="turquoise-fonce" max="16" pin="true" step="1" (ionChange)="SouhaiteeHb()" [(ngModel)]="Hbsouhaitee"> </ion-range>
          </ion-item>

          <ion-item>
            <ion-label class="drogueInduction">Transfuser : {{VolCGR}}
              <p class="dilutionDrogueInduction"><b>Pour corriger {{DiffHb}} g/dL d'hémoglobine</b></p>
            </ion-label>
        </ion-item>
        </ion-card>

        <ion-item-divider (click)="ToggleAutresPSL()">
          <ion-label  color="warning">Autres PSL
            <ion-icon *ngIf="!isShownAutresPSL" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownAutresPSL" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
          </ion-label>
        </ion-item-divider> 

          <ion-card *ngIf="isShownAutresPSL" class="drogueContainer">
          <ion-item>
            <ion-label class="drogueInduction">Unités plaquettaires
            <p class="dilutionDrogueInduction"><b>Passer {{UnitesPlaquettaires}} UI Plaquettaires</b></p>
          </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="drogueInduction">Plasma frais congelé
            <p class="dilutionDrogueInduction"><b>Passer {{VolPFC}} mL de PFC</b></p>
          </ion-label>
          </ion-item>
        </ion-card>

        </ion-item-group>
        </ion-list>

        <ion-card class="nb" padding>   Si ce n'est pas déjà fait, renseignez la durée du jeune dans les options afin d'ajuster les apports hydriques en conséquence.
          <br><br>   
          <button ion-button small color="turquoise-fonce" (click)="displayOptions()"> Options </button></ion-card>

</ion-content>

