
<ion-header translucent>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gestion des apports</ion-title>
  </ion-navbar>
  <ion-item color="turquoise-fonce"> 
    <ion-label>
      <p class="MonPatient">{{sexeMF}} - {{ageLecture}} ans ( = {{AgeNum}} mois) - {{PoidsNum}} kg - {{Taille}} cm</p> 
      <p class="MonPatient">Estomac {{EstomacOuiNon}} - Jeune {{DureeJeune}} h</p>
      <p class="MonPatient">Allergie : {{Allergie}}</p></ion-label> 
  </ion-item>
</ion-header>

<ion-content padding>


      <!-- ITEM MON PATIENT -->

  
      <!-- ITEMS CALCULES-->
   
      <ion-list>
        <ion-item-group>
          
          <ion-item-divider (click)="ToggleApports()">
            <ion-label color="dark-turquoise">Apports hydriques
          <ion-icon *ngIf="!isShownApports" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownApports" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
            </ion-label>
          </ion-item-divider> 


          <ion-card *ngIf="isShownApports" class="drogueContainer">
          <ion-item>
            <ion-label class="drogueInduction">Besoins de base : <b>{{ApportBaseHoraire}} mL/h</b>
            <p class="dilutionDrogueInduction">{{Solute}}</p></ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="drogueInduction">Compensation du jeûne ({{DureeJeune}} heures) : <b>{{CompJeune}} mL</b>
            <p class="dilutionDrogueInduction">{{Solute}}</p>
            <p class="dilutionDrogueInduction">Passer {{CompJeuneH1}} mL sur 1h puis {{CompJeuneH2}} mL sur 2h</p>
          </ion-label>
          </ion-item>

          <ion-item> <ion-label class="drogueInduction" >Pertes chirurgicales</ion-label>
            <ion-select class="drogueInduction" #newselect (ionChange)="SelectPerteChir(chir.pertes)" [(ngModel)]="chir.pertes" interface="action-sheet" placeholder="choisir"
             okText="OK" cancelText="Retour">
              <ion-option checked="true" value="Mineures">Mineures (2 mL/kg/h)</ion-option>
              <ion-option value="Moderees">Modérées (5 mL/kg/h)</ion-option>
              <ion-option value="Importantes">Importantes (10 mL/kg/h)</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label class="drogueInduction">Pertes insensibles
            <p class="dilutionDrogueInduction"><b>{{Solute}} : {{CompPertesChir}} mL/h</b></p>
          </ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="drogueInduction">Apports recommandés : <b>
            <p class="dilutionDrogueInduction"> - La 1ere heure {{Solute}} : {{TotalH1}} mL</p>
            <p class="dilutionDrogueInduction"> - La 2e et la 3e heure {{Solute}} : {{TotalH2et3}} mL</p>
            <p class="dilutionDrogueInduction"> - puis {{Solute}} : {{TotalHoraire}} mL/h</p>
          </b>
        </ion-label>
          </ion-item>
        </ion-card>

          

          <ion-item-divider (click)="ToggleCGR()">
            <ion-label color="danger">Concentré de globules rouges
          <ion-icon *ngIf="!isShownCGR" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownCGR" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
            </ion-label>
          </ion-item-divider> 

          <ion-card *ngIf="isShownCGR" class="drogueContainer">
          <ion-item>
            <ion-label class="drogueInduction">
              Masse sanguine estimée : <b>{{MasseSanguine}} mL</b>
              <p class="dilutionDrogueInduction">(pour 80 mL/kg)</p>
          </ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="danger" class="drogueInduction">Hémogloginémie mesurée : <b>{{Hbmesuree}} g/dL</b></ion-label>
            <ion-range max="16" step="1"  pin="true" color="danger" (ionChange)="MesureeHb()" [(ngModel)]="Hbmesuree"> </ion-range>
          </ion-item>

          <ion-item >
             <ion-label color="turquoise-fonce" class="drogueInduction">Objectif d'hémoglobinémie : <b>{{Hbsouhaitee}} g/dL</b></ion-label>
            <ion-range  color="turquoise-fonce" max="16" pin="true" step="1" (ionChange)="SouhaiteeHb()" [(ngModel)]="Hbsouhaitee"> </ion-range>
          </ion-item>

          <ion-item>
            <ion-label class="drogueInduction">Transfuser : {{VolCGR}}
              <p class="dilutionDrogueInduction"><b>Pour corriger {{DiffHb}} g/dL d'hémoglobine</b></p>
            </ion-label>
        </ion-item>
        </ion-card>

        <ion-item-divider (click)="ToggleAutresPSL()">
          <ion-label  color="warning">Autres PSL
            <ion-icon *ngIf="!isShownAutresPSL" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownAutresPSL" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
          </ion-label>
        </ion-item-divider> 

          <ion-card *ngIf="isShownAutresPSL" class="drogueContainer">
          <ion-item>Unités plaquettaires
            <p><b>Passer {{UnitesPlaquettaires}} UI Plaquettaires</b></p>
          </ion-item>
          <ion-item>Plasma frais congelé
            <p><b>Passer {{VolPFC}} mL de PFC</b></p>
          </ion-item>
        </ion-card>

        </ion-item-group>
        </ion-list>

        <ion-card class="nb" padding>   Si ce n'est pas déjà fait, renseignez la durée du jeune dans les options afin d'ajuster les apports hydriques en conséquence.
          <br><br>   
          <button ion-button small color="turquoise-fonce" (click)="displayOptions()"> Options </button></ion-card>

</ion-content>

