<ion-content>
  <ion-icon class="menuButton" color="turquoise-fonce" name="menu" (click)="menuToggle()"></ion-icon>
  <div class="titleHome">  
    QUADRUPED</div> 

    <br>
    <br>

 
 
  <ion-card class="homePagePatient">
    <ion-card-content>

      <ion-toolbar  color="turquoise" class="musicContainer">
        <ion-buttons>
        <ion-icon color="dark-turquoise" name="musical-notes"></ion-icon>    
        <br>
          <button (click)="selectMusic()" ion-button class="musicSelector" color="turquoise-fonce">{{MorceauChoisi}}</button>
          <button  *ngIf="!musicPlaying" color="dark-turquoise" ion-button (click)="playMusic()"><ion-icon name="play"></ion-icon></button>
        <button  *ngIf="musicPlaying" color="dark-turquoise" ion-button (click)="stopMusic()"><ion-icon name="pause"></ion-icon></button> 
      </ion-buttons>
      </ion-toolbar>

      <ion-toolbar  color="turquoise" class="timerContainer">
        <ion-buttons >    
          <ion-icon color="dark-turquoise" name="clock"></ion-icon>    
          <br>
          <p text-center class="timerTime">
          {{time}}
          </p>
      <button  *ngIf="!running" color="dark-turquoise" ion-button (click)="start()"><ion-icon name="play"></ion-icon></button>
      <button  *ngIf="running" color="dark-turquoise" ion-button (click)="stop()"><ion-icon name="pause"></ion-icon></button>         
      <button ion-button (click)="reset()"><ion-icon color="dark-turquoise" name="refresh-circle"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>

    <img class="resize" src="/assets/imgs/sleeping-baby.png"  alt="Nouveau patient"> 
    
    <br>

      <ion-toolbar class="HomeButtonContainer">
        <ion-buttons>
          <span class="comment" *ngIf = "!PoidsNum || !AgeNum || !Taille">Renseigner les données relatives au patient :<br></span>
          <span class="comment" *ngIf = "PoidsNum && AgeNum && Taille">Choisir parmi les modules accessibles<br></span>

          <button class="SexeToggle">
            <ion-segment swipeGesture="true" color="turquoise-fonce" [(ngModel)]="sexeMF" (ionChange)="SetSexe()">
              <ion-segment-button value="Fille">
                <ion-icon class="segmentIcon" name="female"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="Garçon">
                <ion-icon class="segmentIcon" name="male"></ion-icon>
              </ion-segment-button>
            </ion-segment>
          </button>

          <button solid *ngIf = "!this.AgeNum" color="dark-turquoise" ion-button  (click)="showPickerAge()">Age </button>
          <button *ngIf = "this.AgeNum > 24" color="dark-turquoise" ion-button  (click)="showPickerAge()">{{ageLecture}} ans </button>
          <button *ngIf = "this.AgeNum > 0 && this.AgeNum <= 24" color="dark-turquoise" ion-button  (click)="showPickerAge()">{{AgeNum}} mois</button>

          <button solid *ngIf = " !this.PoidsNum " color="dark-turquoise" ion-button  (click)="showPickerPoids()">Poids</button>
          <button *ngIf = " this.PoidsNum " color="dark-turquoise" ion-button  (click)="showPickerPoids()">{{PoidsNum}} kg</button>


          <button solid *ngIf = " !Taille " color="turquoise-fonce" ion-button  (click)="showPickerTaille()">Taille</button>
          <button *ngIf = " Taille " color="turquoise-fonce" ion-button  (click)="showPickerTaille()">{{Taille}} cm</button>

          <hr>
          <button ion-button small color="dark-turquoise"  (click)="displayOptions()">Options </button>
          <button ion-button  small color="danger"  (click)="effacer()"><ion-icon name="trash"></ion-icon></button>
          <button ion-button  small color="dark-turquoise"  (click)="help()"><ion-icon name="help-circle"></ion-icon></button>

  
    </ion-buttons>
    </ion-toolbar>



  </ion-card-content>
</ion-card>

<div class="monPatient">
<b>Options : </b> <span *ngIf=" this.EstomacOuiNon">Estomac {{EstomacOuiNon}}</span> <span *ngIf="this.DureeJeune"> - Jeûne {{DureeJeune}} h</span><span *ngIf="this.Allergie"> - Allergie : {{Allergie}}</span>
</div>

<hr>

   
    <button class="homeButtons" ion-button small color="pastel-green"  (click)="displayScores()">Scores</button>
    <button class="homeButtons" ion-button small color="pastel-green"  (click)="displayProtocoles()">Protocoles</button>
    

  <button outline *ngIf = " !this.PoidsNum || !this.AgeNum " ion-button full small color="light" (click)="alertPoidsAge()">Urgences & Réanimation</button>
  <button *ngIf = " this.PoidsNum && this.AgeNum " ion-button block small color="warning" (click)="displayUrgences()">Urgences & Réanimation</button>
  <button *ngIf = "PoidsNum && AgeNum && Taille"  ion-button block small color="pastel-brown"  (click)="displayCourbes()">Biométrie</button>
  <button outline *ngIf = "!PoidsNum || !AgeNum || !Taille" ion-button full small color="light"  (click)="alertAgePoidsTaille()">Biométrie</button>

    
          <button outline *ngIf = " !this.PoidsNum || !this.AgeNum " ion-button small color="light" class="homeButtons" (click)="alertPoidsAge()"> Monitorage</button>
          <button outline *ngIf = " !this.PoidsNum || !this.AgeNum " ion-button small color="light" class="homeButtons" (click)="alertPoidsAge()"> Induction </button>
          <button outline *ngIf = " !this.PoidsNum || !this.AgeNum " ion-button small color="light" class="homeButtons" (click)="alertPoidsAge()"> Voies Aériennes </button>
          <button outline *ngIf = " !this.PoidsNum || !this.AgeNum " ion-button small color="light" class="homeButtons" (click)="alertPoidsAge()"> Antibiotiques </button>
          <button outline *ngIf = " !this.PoidsNum || !this.AgeNum " ion-button small color="light" class="homeButtons" (click)="alertPoidsAge()"> Entretien </button> 
    
          <button outline *ngIf = " !this.PoidsNum || !this.AgeNum " ion-button small color="light" class="homeButtons" (click)="alertPoidsAge()"> Apports & PSL</button>
          <button outline *ngIf = " !this.PoidsNum || !this.AgeNum " ion-button small color="light" class="homeButtons" (click)="alertPoidsAge()"> Loco-régionale</button>
          <button outline *ngIf = " !this.PoidsNum || !this.AgeNum " ion-button small color="light" class="homeButtons" (click)="alertPoidsAge()">Antalgie & Post-op</button>

    
          <button solid *ngIf = " this.PoidsNum && this.AgeNum " ion-button small color="turquoise" class="homeButtons" (click)="displayMonitorage()"> Monitorage</button>
          <button solid *ngIf = " this.PoidsNum && this.AgeNum " ion-button small color="turquoise" class="homeButtons" (click)="displayInduction()"> Induction </button>
          <button solid *ngIf = " this.PoidsNum && this.AgeNum " ion-button small color="turquoise" class="homeButtons" (click)="displayVAS()"> Voies Aériennes </button>
          <button solid *ngIf = " this.PoidsNum && this.AgeNum " ion-button small color="turquoise" class="homeButtons" (click)="displayATBprophylaxie()"> Antibiotiques </button>
          <button solid *ngIf = " this.PoidsNum && this.AgeNum " ion-button small color="turquoise" class="homeButtons" (click)="displayEntretien()"> Entretien </button> 
    
          <button solid *ngIf = " this.PoidsNum && this.AgeNum " ion-button small color="turquoise" class="homeButtons" (click)="displayGestionFluides()">Apports & PSL</button>
          <button solid *ngIf = " this.PoidsNum && this.AgeNum " ion-button small color="turquoise" class="homeButtons" (click)="displayALR()"> Loco-régionale</button>
          <button solid *ngIf = " this.PoidsNum && this.AgeNum " ion-button small color="turquoise" class="homeButtons" (click)="displayPostop()">Antalgie & Post-op</button>


      <img class="logoDAR" (click)="openDARwebsite()" src="/assets/imgs/logo_dar.png"> 

      </ion-content>

  


  
 


