<ion-content>
  <div *ngIf="!Prenom" class="titleHome">  
    QUADRUPED</div> 
    <div *ngIf="Prenom" class="titleHome">  
      {{Prenom}}</div> 

    <br>
    <br>

 
 
  <ion-card class="homePagePatient">
    <ion-card-content>

      <ion-toolbar  color="turquoise" class="musicContainer">
        <ion-buttons>
        <ion-icon style="zoom:1.2" color="dark-turquoise" name="musical-notes"></ion-icon> 
       <p class="comment">{{MorceauChoisi}}</p>
        
       
          <button (click)="selectMusic()" ion-button class="musicSelector" color="turquoise-fonce"><ion-icon style="zoom:2.0" name="disc"></ion-icon></button>
          <button *ngIf="!musicPlaying" color="dark-turquoise" ion-button (click)="playMusic()"><ion-icon  style="zoom:1.2" name="play"></ion-icon></button>
        <button   *ngIf="musicPlaying" color="dark-turquoise" ion-button (click)="stopMusic()"><ion-icon style="zoom:1.2" name="pause"></ion-icon></button> 
      </ion-buttons>
      </ion-toolbar>

      <ion-toolbar  color="turquoise" class="timerContainer">
        <ion-buttons >    
          <ion-icon style="zoom:1.2" color="dark-turquoise" name="stopwatch"></ion-icon>    
          <br>
          <p text-center class="timerTime">
          {{time}}
          </p>
      <button  *ngIf="!running" color="dark-turquoise" ion-button (click)="start()"><ion-icon style="zoom:1.2" name="play"></ion-icon></button>
      <button  *ngIf="running" color="dark-turquoise" ion-button (click)="stop()"><ion-icon style="zoom:1.2" name="pause"></ion-icon></button>         
      <button ion-button (click)="reset()"><ion-icon color="dark-turquoise" style="zoom:1.2" name="refresh-circle"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>

    <img class="resize" src="/assets/imgs/sleeping-baby.png"  alt="Nouveau patient"> 
    
    <br>

      <ion-toolbar class="HomeButtonContainer">
        <ion-buttons>
          <span class="comment" *ngIf = "!PoidsNum || !AgeNum || !Taille">Ouvrir un dossier ou les données relatives au patient :<br></span>
          <span class="comment" *ngIf = "PoidsNum && AgeNum && Taille">Choisir parmi les modules accessibles<br></span>

          <button *ngIf = "sexeMF == 'Fille'" ion-button small color="dark-turquoise"><ion-icon name="female"></ion-icon></button>
          <button *ngIf = "sexeMF != 'Fille'" ion-button small color="grisclair"  (click)="SetSexeFille()"><ion-icon name="female"></ion-icon></button>
          <button *ngIf = "sexeMF == 'Garçon'" ion-button small color="dark-turquoise"  ><ion-icon name="male"></ion-icon></button>
          <button *ngIf = "sexeMF != 'Garçon'" ion-button small color="grisclair"  (click)="SetSexeGarcon()"><ion-icon name="male"></ion-icon></button>

          <button solid *ngIf = "!this.AgeNum" color="dark-turquoise" ion-button  (click)="showPickerAge()">Age </button>
          <button *ngIf = "this.AgeNum > 24" color="dark-turquoise" ion-button  (click)="showPickerAge()">{{ageLecture}} ans </button>
          <button *ngIf = "this.AgeNum > 0 && this.AgeNum <= 24" color="dark-turquoise" ion-button  (click)="showPickerAge()">{{AgeNum}} mois</button>
         
          <button solid *ngIf = " !this.PoidsNum " color="dark-turquoise" ion-button  (click)="showPickerPoids()">Poids</button>
          <button *ngIf = " this.PoidsNum " color="dark-turquoise" ion-button  (click)="showPickerPoids()">{{PoidsNum}} kg</button>
         
          <button solid *ngIf = " !Taille " color="turquoise-fonce" ion-button  (click)="showPickerTaille()">Taille</button>
          <button *ngIf = " Taille " color="turquoise-fonce" ion-button  (click)="showPickerTaille()">{{Taille}} cm</button>

          <button ion-button small color="dark-turquoise"  (click)="displayOptions()"><ion-icon name="options"></ion-icon></button>
    </ion-buttons>
    </ion-toolbar>
  </ion-card-content>
</ion-card>

<hr>

<div class="actionButtonsContainer">
  <button class="homeActionsLarge" style="zoom:1.5" ion-button color="primary"  (click)="openSauvegarde()"> <ion-icon name="filing"></ion-icon></button>
  &nbsp;  &nbsp;  &nbsp; &nbsp; 
  <button class="homeActions"  *ngIf = "PoidsNum && AgeNum && Taille"  ion-button color="dark-green"  (click)="displayCourbes()"><ion-icon name="trending-up"></ion-icon>
  </button>
  <button class="homeActions" outline *ngIf = "!PoidsNum || !AgeNum || !Taille" ion-button color="light"  (click)="alertAgePoidsTaille()"><ion-icon name="trending-up"></ion-icon>
  </button>
  <button class="homeActions" ion-button color="primary"  (click)="enregistrer()"><ion-icon name="archive"></ion-icon></button>
<button class="homeActions" ion-button color="dark-turquoise"  (click)="help()"><ion-icon name="information-circle"></ion-icon></button>
<button class="homeActions" ion-button color="danger"  (click)="effacer()"><ion-icon name="trash"></ion-icon></button>

</div>   

<hr>

  <ion-slides pager="true">
    <ion-slide>
      <p class="titleHome">Anesthésie</p>

      <!-- BOUTONS ANESTHESIE SI DONNEES PRESENTES -->
<div class="anesthesieContainer" *ngIf = "this.PoidsNum && this.AgeNum">
    <div *ngFor="let page of AnesthesiePages, let index = index" class="anesthesieName">
  <button  (click)="displayAnesthesiePage(index)" class="urgenceButton" ion-button color="{{page.color}}"><ion-icon name="{{page.icon}}"></ion-icon></button>
  <br>{{page.titre}}
  </div>
  </div>

  <!-- BOUTONS ANESTHESIE SI DONNEES ABSENTES -->
  
  <div class="urgenceContainer" *ngIf = "!this.PoidsNum || !this.AgeNum">
  <div *ngFor="let page of AnesthesiePages, let index = index" class="anesthesieName">
<button  (click)="alertPoidsAge()" outline class="urgenceButton" ion-button color="light"><ion-icon name="{{page.icon}}"></ion-icon></button>
<br>{{page.titre}}
</div>
</div>

    </ion-slide>
    <ion-slide>
      <p class="titleHome"  >Urgences & réanimation</p>
      <div class="urgenceContainer" *ngIf = "this.PoidsNum && this.AgeNum">
       
          <div *ngFor="let page of UrgenceBlocPages, let index = index" class="urgenceBlocName">
        <button  (click)="displayUrgenceBlocPage(index)"  class="urgenceButton" ion-button color="{{page.color}}"><ion-icon name="{{page.icon}}"></ion-icon></button>
        <br>{{page.titre}}
        </div>
    </div>
        
        <div class="urgenceContainer" *ngIf = "this.PoidsNum && this.AgeNum">
        <div *ngFor="let page of UrgenceReaPages, let index = index" class="urgenceReaName">
      <button  (click)="displayUrgenceReaPage(index)"  class="urgenceButton" ion-button color="{{page.color}}"><ion-icon name="{{page.icon}}"></ion-icon></button>
      <br>{{page.titre}}
      </div>
    </div>
      
      
      <!-- BOUTONS URGENCE & REA SI DONNEES ABSENTES -->
      
      <div class="urgenceContainer" *ngIf = "!this.PoidsNum || !this.AgeNum">
            <div *ngFor="let page of UrgenceBlocPages, let index = index" class="urgenceBlocName">
          <button  (click)="alertPoidsAge()" outline class="urgenceButton" ion-button color="light"><ion-icon name="{{page.icon}}"></ion-icon></button>
          <br>{{page.titre}}
          </div>
        </div>
          
          <div class="urgenceContainer" *ngIf = "!this.PoidsNum || !this.AgeNum">
          <div *ngFor="let page of UrgenceReaPages, let index = index" class="urgenceReaName">
        <button  (click)="alertPoidsAge()" outline class="urgenceButton" ion-button color="light"><ion-icon name="{{page.icon}}"></ion-icon></button>
        <br>{{page.titre}}
        </div>
      </div>
      
    </ion-slide>
  </ion-slides>





<!-- BOUTONS URGENCE & REA SI DONNEES PRESENTES -->


 
      </ion-content>

  


  
 


