<ion-content>

  <div class="headerHome">  
  <ion-icon class="menuButton" color="turquoise-fonce" name="menu" (click)="menuToggle()"></ion-icon>
    QUADRUPED</div> 

    <br>

  <ion-card class="homePagePatient">
    <ion-card-content>
      <ion-toolbar  color="turquoise" class="timerContainer">
        <ion-buttons >        
          <p text-center class="comment">
          {{time}}
          </p>
      <button  *ngIf="!running" color="dark-turquoise" ion-button (click)="start()"><ion-icon name="play"></ion-icon></button>
      <button  *ngIf="running" color="dark-turquoise" ion-button (click)="stop()"><ion-icon name="pause"></ion-icon></button>         
      <button ion-button (click)="reset()"><ion-icon color="dark-turquoise" name="refresh-circle"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>

    <img class="resize" src="/assets/imgs/sleeping-baby.png"  alt="Nouveau patient">  


      <ion-item>
        <ion-label>
        <hr>
        <p class="monPatient"><b>{{sexeMF}}</b> - <b>{{ageLecture}} ans</b> ( = {{AgeNum}} mois) - <b>{{PoidsNum}} kg</b> - {{Taille}} cm</p>
        <p class="monPatient">Estomac {{EstomacOuiNon}} - Jeûne {{DureeJeune}} h - Allergie : {{Allergie}}</p>
      </ion-label>
      </ion-item> 

      <ion-toolbar class="HomeButtonContainer">
        <ion-buttons>
          <button class="SexeToggle">
          <ion-segment swipeGesture="true" color="dark-turquoise" [(ngModel)]="sexeMF" (ionChange)="SetSexe()">
            <ion-segment-button value="Fille">
              <ion-icon class="segmentIcon" name="female"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="Garçon">
              <ion-icon class="segmentIcon" name="male"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </button>
          <button color="dark-turquoise" ion-button small (click)="showPickerAge()">Age</button>
          <button color="dark-turquoise" ion-button small (click)="showPickerPoids()">Poids</button>
          <button color="turquoise-fonce" ion-button small (click)="showPickerTaille()">Taille</button>
          <hr>
          <button ion-button small color="turquoise-fonce"  (click)="displayOptions()">Options </button>
          <button ion-button  small color="danger"  (click)="effacer()"><ion-icon name="trash"></ion-icon></button>
          <button ion-button  small color="turquoise-fonce"  (click)="help()"><ion-icon name="help-circle"></ion-icon></button>

  
    </ion-buttons>
    </ion-toolbar>

 

 


  </ion-card-content>
</ion-card>




    <button ion-button block small color="warning" (click)="displayUrgences()">Urgences</button>
  <br>
    <div class="HomePageButtonsContainer">
    <button class="homeButton" ion-button small color="turquoise"  (click)="displayCourbes()">Biométrie</button>
    <button class="homeButton" ion-button small color="pastel-green"  (click)="displayScores()">Scores</button>
    <button class="homeButton" ion-button small color="pastel-brown"  (click)="displayProtocoles()">Protocoles</button>
    </div>
  <br>
    
          <button ion-button small color="light" class="homeButtons" (click)="displayMonitorage()"> Monitorage</button>
          <button ion-button small color="light" class="homeButtons" (click)="displayInduction()"> Induction </button>
          <button ion-button small color="light" class="homeButtons" (click)="displayVAS()"> Voies Aériennes </button>
          <button ion-button small color="light" class="homeButtons" (click)="displayATBprophylaxie()"> Antibiotiques </button>
          <button ion-button small color="light" class="homeButtons" (click)="displayEntretien()"> Entretien </button> 
    
          <button ion-button small color="light" class="homeButtons" (click)="displayGestionFluides()"> Solutés et PSL</button>
          <button ion-button small color="light" class="homeButtons" (click)="displayALR()"> Loco-régionale</button>
          <button ion-button small color="light" class="homeButtons" (click)="displayPostop()">Antalgie & Post-op</button>

    
      <img class="logoDAR" (click)="openDARwebsite()" src="/assets/imgs/logo_dar.png"> 

      <!--*
      <ion-toolbar>
        <ion-buttons>
          <button ion-button slot="start" fill="solid">
            <ion-icon slot="center" name="person-circle"></ion-icon>
            Contact
          </button> 
          <button ion-button slot="end" fill="solid" color="dark-green">
            Aide 
            <ion-icon slot="end" name="help-circle"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
    *-->

      </ion-content>

  


  
 


