.homePagePatient
{
  text-align: center !important;
}

figcaption {
  font-style: bold;
  padding: 2px;
  text-align: center;
};

.resize {
    width:25% !important;
    margin-left: auto;
    margin-right: auto; 
    display: block;  
  }

.homeButtons {
    width:45% !important;
    padding:auto; 
    margin:2%;
    float:center; 
  }


.logoDAR {
  width:90% ;
  padding-left:10%;
  padding-top:5%;
}