.homePagePatient
{
  text-align: center !important;
  box-shadow: none !important; 
}

.timerContainer {
  width:20%; 
  float: right; 
  border-radius: 10px;
}

.monPatient
{
  text-align: center !important;
  font-size: 12px !important;
  width: 100% !important;
}

figcaption {
  font-style: bold;
  padding: 2px;
  text-align: center;
};

.resize {
    width:25% !important;
    margin-left: 37%;
    display: block;  
  }

.HomeButtonContainer{
  margin-bottom: -15px !important;
  margin-top: -5px !important;
}

.homeButtons {
    width:45% !important;
    padding:auto; 
    margin:2%;
    float:center; 
  }


.logoDAR {
  width: 70% ;
  padding-left: 30%;
  padding-top:1%;
}

.SexeToggle {
  position:relative;
  float:left;
  width:25% !important; 
  margin-top: -10px !important;
  margin-left: 20px !important;
  margin-right: -20px !important;
  background-color: transparent; 
}

.sexLabel {
  text-align: center !important; 

}

.segmentIcon {
  font-size: 16px !important;
}

