.logoRecosSFAR {
    
    float:right;
    width: 15%;
    margin:4px; 
}

.logoRecosHAS {
    
    float:right;
    width: 20%; 
    padding:2px; 

}

.headerRecos {
 font-size: 16px; 
 color: #009c9e; 
}

.contentRecos {
    color:  #85D0D2; 
    font-size: 12px; 

}

.cardRecos {
    background-color: #f4f4f4;
    border-radius: 3%;
}