

<ion-header><br>
  <div class="header"> 

    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>

    Réveil & SSPI</div>
      <br>

      <ion-item color="turquoise-fonce"> 
        <ion-label>
          <p class="MonPatient">{{sexeMF}} - {{ageLecture}} ans ( = {{AgeNum}} mois) - {{PoidsNum}} kg - {{Taille}} cm</p> 
          <p class="MonPatient">Estomac {{EstomacOuiNon}} - Jeune {{DureeJeune}} h</p>
          <p class="MonPatient">Allergie : {{Allergie}}</p></ion-label> 
      </ion-item>
      <ion-segment color="turquoise-fonce" [(ngModel)]="PostOpView">
        <ion-segment-button value="1">Décurar.</ion-segment-button>
        <ion-segment-button value="2">Douleur</ion-segment-button>
        <ion-segment-button value="3">NVPO</ion-segment-button>
        <ion-segment-button value="4">Anti-coag.</ion-segment-button>
      </ion-segment>
    </ion-header>

      <ion-content>


    <ion-card *ngIf="PostOpView ==1" class="drogueContainer">
    <ion-item class="avecAMM">
      <ion-label color="dark-green" class="drogueInduction">
        <p class="dilutionDrogueInduction">Posologie proposée : 20 µg/kg</p>
       - Atropine (0,5mg/mL) : {{AdminAtropineAntagonisation}} µg IVD
      <p class="dilutionDrogueInduction">
        Antagonisation curare en association avec prostigmine
      </p></ion-label>
    </ion-item>
    <div class="AMM">Vérifier : <br> TOF > 2/4</div>
  
    <ion-item class="avecAMM">    
      <ion-label color="primary" class="drogueInduction"> 
    <p class="dilutionDrogueInduction">Posologie proposée : 40 µg/kg</p>
    - Prostigmine (0,5mg/mL) : {{AdminProstigmineAntagonisation}} µg IVD
    <p class="dilutionDrogueInduction">
      Antagonisation curare en association avec atropine
    </p></ion-label>
    </ion-item>
    <div class="AMM">Vérifier : <br> TOF > 2/4</div>
  
    <ion-item class="avecAMM">         
      <ion-label color="orange" class="drogueInduction">Antagonisation rocuronium   
      <p color="dark-green" class="dilutionDrogueInduction">- TOF > 2/4 : Suggamadex (Bridion® 200mg/2mL) {{PosoBridion2reponses}} mg  (4 mg/kg) IVD</p>
      <p color="primary" class="dilutionDrogueInduction">- TOF > 4/4 : Suggamadex (Bridion® 200mg/2mL) {{PosoBridion4reponses}} mg (2 mg/kg) IVD </p>
    </ion-label> 
    </ion-item>
    
      <div class="AMM">Vérifier : <br> TOF > 2/4</div>
  </ion-card>


<div *ngIf="PostOpView == 2">
      <ion-item-divider (click)="TogglePalier1()"> 
        <ion-label color="dark-turquoise">Antalgiques palier 1 
          <ion-icon *ngIf="!isShownPal1" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownPal1" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
        </ion-label>
      </ion-item-divider> 
  
      <ion-card *ngIf="isShownPal1" class="drogueContainer">
      <ion-item>
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : 15 mg/kg</p>
          Paracétamol : {{AdminParacetamol}} mg IVL ou PO
          <p class="dilutionDrogueInduction">Toutes les 6h</p>
        </ion-label>
      </ion-item>
  
      <ion-item class="avecAMM">
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : 1 mg/kg</p>
          Ketoprofene (Profenid<span>&#174;</span>) : {{AdminKeto}} mg IVL
          <p class="dilutionDrogueInduction">Toutes les 8 h</p> 
        </ion-label>
      </ion-item>
      
      <div class="AMM">AMM <br> IV 15 ans <br> Sirop 6 mois</div>

      <ion-item class="avecAMM">
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : 10 mg/kg</p>
          Ibuprofene : {{AdminIbu}} mg PO 
          <p class="dilutionDrogueInduction">Toutes les 8h</p> 
        </ion-label>
      </ion-item>

      <div class="AMM">AMM <br> > 3 mois</div>

    </ion-card>

      
  
      <ion-item-divider (click)="TogglePalier2()">
        <ion-label color="dark-turquoise">Antalgiques palier 2

          <ion-icon *ngIf="!isShownPal2" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownPal2" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>

        </ion-label>
      </ion-item-divider>

      <ion-card *ngIf="isShownPal2" class="drogueContainer">
      <ion-item class="avecAMM">
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : 0,2 mg/kg</p>
          Nalbuphine (Nubain<span>&#174;</span>) : {{AdminNubain}} mg PO ou IVL
          <p class="dilutionDrogueInduction">Toutes les 4h</p> 
          <p class="comment">En ambulatoire, diviser par 2 : {{AdminNubainHdJ}} mg</p>
          <p class="comment">injecter sur 20 minutes avant 1 an</p>
        </ion-label>
      </ion-item>

      <div class="AMM">AMM <br> > 18 mois</div>
      
      <ion-item class="avecAMM">
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée 1 mg/kg/j</p>
          Nefopam (Acupan<span>&#174;</span>) : {{AdminAcupan}} mg/j IVSE
          <p class="dilutionDrogueInduction">IVSE continu sur 24h</p> 
        </ion-label>
      </ion-item>

      <div class="AMM">AMM <br> > 15 ans</div>
      
      <ion-item class="avecAMM" >
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : 1 mg/kg</p>
          Tramadol (Contramal<span>&#174;</span>) : {{AdminTramadol}} mg PO ou IVL
          <p class="dilutionDrogueInduction">Toutes les 6h</p> 
        </ion-label>
      </ion-item>

      <div class="AMM">AMM <br> PO 3 ans <br> IV 15 ans</div>

    </ion-card>
  
      <ion-item-divider (click)="TogglePalier3()">
        <ion-label color="dark-turquoise">Antalgiques palier 3

          <ion-icon *ngIf="!isShownPal3" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownPal3" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>

        </ion-label>
      </ion-item-divider>
  

      <ion-card *ngIf="isShownPal3" class="drogueContainer">
      <ion-item>
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : 100 µg/kg</p>
          Morphine avant réveil : {{AdminMorphineBO}} mg IVD
          <p class="dilutionDrogueInduction">Une seule fois</p> 
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : 25 µg/kg</p>
          Morphine en titration : {{AdminMorphineTitration}} mg IVD
          <p class="dilutionDrogueInduction">Toutes les 3 min, réévaluer après 4 boli</p> 
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : 20 µg/kg</p>
          Morphine en PCA : {{AdminMorphinePCA}} mg IVL
          <p class="dilutionDrogueInduction">PR de 5 min, dose max : {{AdminMorphinePCAMax}} mg (400 µg/kg) par 4h</p> 
        </ion-label>
      </ion-item> 

      <ion-item class="avecAMM">
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : LP 1 mg/kg PO ou standard 0,1 mg/kg</p>
          Morphine per os :
          <p class="dilutionDrogueInduction">- {{AdminMorphinePOLP}} mg LP toutes les 12h (1 mg/kg) PO</p> 
          <p class="dilutionDrogueInduction">- {{AdminMorphinePOID}} mg toutes les 4h SB (0,1 mg/kg) PO</p> 
        </ion-label>
      </ion-item> 

      <div class="AMM">AMM <br> > 6 mois</div>  

    </ion-card>


      <ion-item-divider (click)="ToggleAutres()">
        <ion-label color="dark-turquoise">Autres antalgiques

          <ion-icon *ngIf="!isShownAutres" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownAutres" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>

        </ion-label>
      </ion-item-divider>
  
      <ion-card *ngIf="isShownAutres" class="drogueContainer">

      <ion-item class="avecAMM">
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : 5 mg/kg</p>
          Gabapentine (Neurontin<span>&#174;</span>) : {{AdminNeurontin}} mg PO
          <p class="dilutionDrogueInduction">Toutes les 8h</p> 
          <p class="comment">NB : comprimés de 150 ou 300 mg</p>
        </ion-label>
      </ion-item>

      <div class="AMM">AMM <br> > 6 ans</div>

      <ion-item>
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : IV 0,5 mg/kg, PO 1,5 mg/kg </p>
          Phloroglucinol (Spasfon<span>&#174;</span>) :
          <p class="dilutionDrogueInduction">- {{AdminSpasfonIV}} mg IVL, toutes les 6h</p> 
          <p class="dilutionDrogueInduction">- {{AdminSpasfonPO}} mg PO, toutes les 6h</p> 
        </ion-label>
      </ion-item>

      <ion-item class="avecAMM">
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : 0,5 mg/kg</p>
          Amitryptiline (Laroxyl<span>&#174;</span>) : {{AdminLaroxylIV}} mg
          <p class="dilutionDrogueInduction">IVSE sur 6h ou PO, 1 fois par jour</p> 
        </ion-label>
      </ion-item>

      <div class="AMM">AMM <br> > 6 ans</div>

      <ion-item>
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : 0,01 mg/kg</p>
          Clonazepam (Rivotril<span>&#174;</span>) : {{AdminRivotrilPO}} mg PO
          <p class="dilutionDrogueInduction">Toutes les 8h</p> 
          <p class="comment">- soit <b>{{GouttesRivotril}} gouttes</b> (1 gtte/10kg), 3 fois par jour</p> 
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : IVSE 0,5 µg/kg/h ou PO 5 µg/kg</p>
          Catapressan (Clonidine <span>&#174;</span>) : {{AdminClonidineIVSE}} µg/h IVSE 
          <p class="dilutionDrogueInduction">- {{AdminClonidinePO}} mg (5 µg/kg) PO, toutes les 8h</p>
          <p class="comment">Possibilité de doubler si insuffisant</p>
        </ion-label>
      </ion-item>

      </ion-card>
    </div>


  
      <ion-card *ngIf="PostOpView == 3" class="drogueContainer">

      <ion-item class="avecAMM">
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée 0,1 mg/kg</p>
          Ondansétron (Zophren<span>&#174;</span>) : {{AdminZophren}} mg IVL ou PO
          <p class="dilutionDrogueInduction">toutes les 8h</p> 
        </ion-label>
      </ion-item>

      <div class="AMM">AMM <br> > 1 an</div>  

      <ion-item>
        <ion-label class="drogueInduction">
          <p class="posologieDrogueInduction">Posologie proposée : 25 µg/kg</p>
          Dropéridol (Droleptan<span>&#174;</span>) : {{AdminDroleptan}} µg IVL
          <p class="dilutionDrogueInduction">2 fois par jour maximum</p>
        </ion-label>
      </ion-item>

      </ion-card>

  
      <ion-card *ngIf="PostOpView == 4" class="drogueContainer">

      <ion-item>
        <ion-label class="drogueInduction"><b>Enoxaparine (Lovenox<span>&#174;</span>):</b>
          <p class="dilutionDrogueInduction">Préventive : {{AdminHBPMpreventive}} UI/j </p>
          <p class="dilutionDrogueInduction">- Pour 100 UI/kg/j</p>
          <p class="dilutionDrogueInduction"><b>- Administrer en 2 injections avant 1 mois</b></p>
          <p class="dilutionDrogueInduction">Curative : {{AdminHBPMefficace}} UI <b>x2/j</b> </p>
          <p class="dilutionDrogueInduction">- Pour {{PosoHBPMefficace}}</p>
          <p class="dilutionDrogueInduction"><b>- Obj aXa [0,5-1] ; 4h après 3e inj.</b></p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction"><b>HNF efficace :</b>
    
          <p class="dilutionDrogueInduction">Bolus : {{AdminHNF50}} à {{AdminHNF100}} UI </p>
          <p class="dilutionDrogueInduction">- Pour 50 à 100 UI/kg</p>
      
          <p class="dilutionDrogueInduction">Entretien : {{AdminHNFentretien}} UI/h</p>
          <p class="dilutionDrogueInduction">- Pour 20 UI/kg/h</p>
          <p class="dilutionDrogueInduction"><b>- Obj aXa [0,3-0,6] à H4.</b></p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction"><b>Protamine :</b>
          <br>
          <p class="dilutionDrogueInduction">1 mg pour 100 UI d'héparine administrées</p>
          <p class="dilutionDrogueInduction">IV <b>lent</b> sans dépasser 50mg/10min.</p>
        </ion-label>
      </ion-item>

      </ion-card> 

</ion-content>
