<ion-header>
  <!-- HEADER MENU  -->
  <div class="header"> 
<br>
    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>
Arrêt cardiorespiratoire</div>
      <br>

      </ion-header>


<ion-content>
  <div padding class="patientHighlight">
    Enfant de <span *ngIf="AgeNum <= 24">{{AgeNum}} mois</span><span *ngIf="AgeNum > 24">{{ageLecture}} ans</span> et {{PoidsNum}} kg
    <br>Allergie : <span *ngIf="!Allergie">non renseigné</span> <span *ngIf="Allergie">{{Allergie}}</span>
  </div>

    <ion-card class="drogueContainer">
      <ion-card-content>
      <p>1. Appel à l'aide (RDB <b>3535</b>).</p>
      <p>2. Débuter le massage cardiaque externe.</p>
      <p>3. Ventiler en FiO2 1.</p>
      <br>
      <h4>Posologies ACR : </h4>

    <ion-item>
      <ion-label class="drogueInduction" color="danger">
        Adrénaline : <b>{{PosoAdrenalineACR}} µg</b> - IVD/5 minutes
        <p class="dilutionDrogueInduction">- 10 µg/kg, renouvellable</p>
        <p>- d'emblée si asystolie, au 3e choc si TV/FV</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="drogueInduction" color="danger">
        CEE : <b>{{CEEACR}} J</b> 
        <p class="dilutionDrogueInduction">- 4 J/kg</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="drogueInduction" color="dark">
        Cordarone : <b>{{PosoCordaroneACR}} mg</b> - IVD 
        <p class="dilutionDrogueInduction">- 5 mg/kg</p>
        <p class="dilutionDrogueInduction">- renouvelable 1 fois après 5 min</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="drogueInduction" color="dark">
        Bicar 4,2% : <b>{{PosoBicarACR}} mL</b> - IVL 
        <p class="dilutionDrogueInduction">- 2 mL/kg dès la 15e minute</p>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>



</ion-content>
