<!--
  Generated template for the AntalgiePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header translucent>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Antalgie & post-op </ion-title>
  </ion-navbar>
  <ion-item color="turquoise-fonce"> 
    <ion-label class="MonPatient" >Mon patient : {{AgeNum}} mois - {{PoidsNum}} kg 
      <p>Allergie : {{Allergie}}</p></ion-label>
    <ion-icon slot="end" icon="accessibility-outline"></ion-icon> 
  </ion-item>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item-group>
      <ion-item-divider (click)="TogglePalier1()"> 
        <ion-label color="dark-turquoise">Palier 1 
          <ion-icon *ngIf="!isShownPal1" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownPal1" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
        </ion-label>
      </ion-item-divider> 
  
      <ion-card *ngIf="isShownPal1" class="drogueContainer">
      <ion-item>
        <ion-label class="drogueInduction"><b>Paracétamol : {{AdminParacetamol}} mg</b>
          <p class="dilutionDrogueInduction">pour 15 mg/kg, IVL ou PO toutes les 6h</p>
        </ion-label>
      </ion-item>
  
      <ion-item class="avecAMM">
        <ion-label class="drogueInduction"><b>Ketoprofene (Profenid<span>&#174;</span>) : {{AdminKeto}} mg</b>
          <p class="dilutionDrogueInduction">pour 1 mg/kg, IVL toutes les 8 h</p> 
        </ion-label>
      </ion-item>
      
      <div class="AMM">AMM <br> IV 15 ans <br> Sirop 6 mois</div>

      <ion-item class="avecAMM">
        <ion-label class="drogueInduction"><b>Ibuprofene : {{AdminIbu}} mg</b>
          <p class="dilutionDrogueInduction">pour 10 mg/kg, PO toutes les 8h</p> 
        </ion-label>
      </ion-item>

      <div class="AMM">AMM <br> > 3 mois</div>

    </ion-card>

      
  
      <ion-item-divider (click)="TogglePalier2()">
        <ion-label color="dark-turquoise">Palier 2

          <ion-icon *ngIf="!isShownPal2" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownPal2" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>

        </ion-label>
      </ion-item-divider>

      <ion-card *ngIf="isShownPal2" class="drogueContainer">
      <ion-item class="avecAMM">
        <ion-label class="drogueInduction">
          <b>Nalbuphine (Nubain<span>&#174;</span>) : {{AdminNubain}} mg</b>
          <p class="dilutionDrogueInduction">pour 0,2 mg/kg, IVL toutes les 4h</p> 
          <p class="dilutionDrogueInduction">en ambulatoire, diviser par 2 : {{AdminNubainHdJ}} mg</p>
          <p class="dilutionDrogueInduction">injecter sur 20 minutes avant 1 an</p>
        </ion-label>
      </ion-item>

      <div class="AMM">AMM <br> > 18 mois</div>
      
      <ion-item class="avecAMM">
        <ion-label class="drogueInduction"><b>Nefopam (Acupan<span>&#174;</span>) : {{AdminAcupan}} mg/j</b>
          <p class="dilutionDrogueInduction">pour 1 mg/kg/j IVSE continu</p> 
        </ion-label>
      </ion-item>

      <div class="AMM">AMM <br> > 15 ans</div>
      
      <ion-item class="avecAMM" >
        <ion-label class="drogueInduction"><b>Tramadol (Contramal<span>&#174;</span>) : {{AdminTramadol}} mg</b>
          <p class="dilutionDrogueInduction">pour 1 mg/kg, IVL ou PO toutes les 6h</p> 
        </ion-label>
      </ion-item>

      <div class="AMM">AMM <br> PO 3 ans <br> IV 15 ans</div>

    </ion-card>
  
      <ion-item-divider (click)="TogglePalier3()">
        <ion-label color="dark-turquoise">Palier 3

          <ion-icon *ngIf="!isShownPal3" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownPal3" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>

        </ion-label>
      </ion-item-divider>
  

      <ion-card *ngIf="isShownPal3" class="drogueContainer">
      <ion-item>
        <ion-label class="drogueInduction"><b>Morphine avant réveil : {{AdminMorphineBO}} mg IVD</b>
          <p class="dilutionDrogueInduction">pour 100 µg/kg, une seule fois</p> 
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction"><b>Morphine en titration : {{AdminMorphineTitration}} mg IVD</b>
          <p class="dilutionDrogueInduction">pour 25 µg/kg, toutes les 3 min</p> 
          <p class="dilutionDrogueInduction">revoir après 4 boli</p> 
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction"><b>Morphine en PCA : {{AdminMorphinePCA}} mg IVL</b>
          <p class="dilutionDrogueInduction">pour 20 µg/kg, PR de 5 min</p> 
          <p class="dilutionDrogueInduction">Dose max : {{AdminMorphinePCAMax}} mg (400 µg/kg), pour 4h</p> 
        </ion-label>
      </ion-item> 

      <ion-item class="avecAMM">
        <ion-label class="drogueInduction"><b>Morphine per os : </b>
          <p class="dilutionDrogueInduction">- {{AdminMorphinePOLP}} mg LP toutes les 12h (1 mg/kg) PO</p> 
          <p class="dilutionDrogueInduction">- {{AdminMorphinePOID}} mg toutes les 4h SB (0,1 mg/kg) PO</p> 
        </ion-label>
      </ion-item> 

      <div class="AMM">AMM <br> > 6 mois</div>  

    </ion-card>


      <ion-item-divider (click)="ToggleAutres()">
        <ion-label color="dark-turquoise">Autres antalgiques

          <ion-icon *ngIf="!isShownAutres" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownAutres" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>

        </ion-label>
      </ion-item-divider>
  
      <ion-card *ngIf="isShownAutres" class="drogueContainer">

      <ion-item class="avecAMM">
        <ion-label class="drogueInduction"><b>Gabapentine (Neurontin<span>&#174;</span>): {{AdminNeurontin}} mg PO</b>
          <p class="dilutionDrogueInduction">pour 5 mg/kg, toutes les 8h</p> 
          <p class="dilutionDrogueInduction">NB comprimés de 150 ou 300 mg</p>
        </ion-label>
      </ion-item>

      <div class="AMM">AMM <br> > 6 ans</div>

      <ion-item>
        <ion-label class="drogueInduction"><b>Phloroglucinol (Spasfon<span>&#174;</span>) : </b>
          <p class="dilutionDrogueInduction">- <b>{{AdminSpasfonIV}} mg</b> (0,5 mg/kg) IVL, toutes les 6h</p> 
          <p class="dilutionDrogueInduction">- <b>{{AdminSpasfonPO}} mg</b> (1,5 mg/kg) PO, toutes les 6h</p> 
        </ion-label>
      </ion-item>

      <ion-item class="avecAMM">
        <ion-label class="drogueInduction"><b>Amitryptiline (Laroxyl<span>&#174;</span>) : </b>
          <p class="dilutionDrogueInduction">- <b>{{AdminLaroxylIV}} mg</b> (0,5 mg/kg/j) IVSE sur 6h, 1 fois</p> 
          <p class="dilutionDrogueInduction">- <b>{{AdminLaroxylPO}} mg</b> (0,5 mg/kg/j) PO, 1 fois</p> 
        </ion-label>
      </ion-item>

      <div class="AMM">AMM <br> > 6 ans</div>

      <ion-item>
        <ion-label class="drogueInduction"><b>Clonazepam (Rivotril<span>&#174;</span>) : {{AdminRivotrilPO}} mg PO</b>
          <p class="dilutionDrogueInduction">- pour 0,01 mg/kg, toutes les 8h</p> 
          <p class="dilutionDrogueInduction">- soit <b>{{GouttesRivotril}} gouttes</b> (1 gtte/10kg), 3 fois par jour</p> 
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction"><b>Catapressan (Clonidine <span>&#174;</span>) : </b>
          <p class="dilutionDrogueInduction">- <b>{{AdminClonidineIVSE}} µg/h</b> (0,5 µg/kg/h) IVSE</p> 
          <p class="dilutionDrogueInduction">> possibilité de doubler si insuffisant</p>
          <p class="dilutionDrogueInduction">- <b>{{AdminClonidinePO}} mg</b> (5 µg/kg) PO, toutes les 8h</p> 
        </ion-label>
      </ion-item>

      </ion-card>


      <ion-item-divider (click)="ToggleAntiEmet()">
        <ion-label color="dark-turquoise">Anti-émétiques

          <ion-icon *ngIf="!isShownAntiEmet" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownAntiEmet" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>

        </ion-label>
      </ion-item-divider>
  
      <ion-card *ngIf="isShownAntiEmet" class="drogueContainer">

      <ion-item>
        <ion-label class="drogueInduction"><b>Ondansétron (Zophren<span>&#174;</span>): {{AdminZophren}} mg IVL ou PO</b>
          <p class="dilutionDrogueInduction">pour 0,1 mg/kg, toutes les 8h</p> 
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction"><b>Dropéridol (Droleptan<span>&#174;</span>) : {{AdminDroleptan}} µg IVL</b>
          <p class="dilutionDrogueInduction">pour 25 µg/kg , renouvelable 1 fois</p>
        </ion-label>
      </ion-item>

      </ion-card>

      <ion-item-divider (click)="ToggleAntiCoag()">
        <ion-label color="dark-turquoise">Anti-coagulants

          <ion-icon *ngIf="!isShownAntiCoag" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownAntiCoag" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>

        </ion-label>
      </ion-item-divider>
  
      <ion-card *ngIf="isShownAntiCoag" class="drogueContainer">

      <ion-item>
        <ion-label class="drogueInduction"><b>Enoxaparine (Lovenox<span>&#174;</span>):</b>
          <p class="dilutionDrogueInduction">Préventive : {{AdminHBPMpreventive}} UI/j </p>
          <p class="dilutionDrogueInduction">- Pour 100 UI/kg/j</p>
          <p class="dilutionDrogueInduction"><b>- Administrer en 2 injections avant 1 mois</b></p>
          <p class="dilutionDrogueInduction">Curative : {{AdminHBPMefficace}} UI <b>x2/j</b> </p>
          <p class="dilutionDrogueInduction">- Pour {{PosoHBPMefficace}}</p>
          <p class="dilutionDrogueInduction"><b>- Obj aXa [0,5-1] ; 4h après 3e inj.</b></p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction"><b>HNF efficace :</b>
    
          <p class="dilutionDrogueInduction">Bolus : {{AdminHNF50}} à {{AdminHNF100}} UI </p>
          <p class="dilutionDrogueInduction">- Pour 50 à 100 UI/kg</p>
      
          <p class="dilutionDrogueInduction">Entretien : {{AdminHNFentretien}} UI/h</p>
          <p class="dilutionDrogueInduction">- Pour 20 UI/kg/h</p>
          <p class="dilutionDrogueInduction"><b>- Obj aXa [0,3-0,6] à H4.</b></p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction"><b>Protamine :</b>
          <br>
          <p class="dilutionDrogueInduction">1 mg pour 100 UI d'héparine administrées</p>
          <p class="dilutionDrogueInduction">IV <b>lent</b> sans dépasser 50mg/10min.</p>
        </ion-label>
      </ion-item>

      </ion-card> 

    </ion-item-group>
  </ion-list>

</ion-content>
