<ion-header>
  <!-- HEADER MENU  -->
  <div class="header"> 
<br>
    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>
Intoxication & surdosage</div>
      <br>

      </ion-header>
<ion-content>
  <div padding class="patientHighlight">
    Enfant de <span *ngIf="AgeNum <= 24">{{AgeNum}} mois</span><span *ngIf="AgeNum > 24">{{ageLecture}} ans</span> et {{PoidsNum}} kg
    <br>Allergie : <span *ngIf="!Allergie">non renseigné</span> <span *ngIf="Allergie">{{Allergie}}</span>
  </div>



    <ion-card class="drogueContainer">
    <ion-card-content>
      Intoxication aux anesthésiques locaux
      <p class="drogueInduction">Devant toute suspicion, en présence de signes neurologiques :</p>
      <p class="dilutionDrogueInduction">- Rivotril : <b>{{PosoRivotrilIAL}} µg IVD</b> (soit 15 µg/kg)</p>
      <p class="dilutionDrogueInduction">- Intralipides 20% : <b>{{PosoIntralipidesIAL}} mL IVL</b> (soit 3mL/kg), renouvelable</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="drogueContainer">
    <ion-card-content>
      <p class="dilutionDrogueInduction">Intoxication aux opiacés</p>
      <p class="posologieDrogueInduction">Posologie proposée : 10 µg/kg dans 10 mL</p>
      <p class="drogueInduction"><b>Naloxone (Narcan® 0,4mg/mL) : {{AdminNarcan}} mg IVL </b></p>
      <p class="comment">Injecter 1 mL/30 secondes jusqu'à efficacité</p>
      <br> 
      <p class="dilutionDrogueInduction">Intoxication aux benzodiazépines</p>
      <p class="posologieDrogueInduction">Posologie proposée : 10 µg/kg sur 10 minutes</p>
      <p class="drogueInduction"><b>Flumazénil (Anexate® 0,1mg/mL) : {{AdminAnexate}} mg IVL </b></p>
      <p class="comment">Puis entretien 10 µg/kg/h IVSE</p>
      <br>        
      <p class="dilutionDrogueInduction">Intoxication au paracétamol</p>
      <p class="drogueInduction"><b>N-acetyl-cystéine (5g/25mL) : protocole </b></p>
      <p class="comment">1. 150 mg/kg/15min = {{AdminNAC1}} mg en 15 minutes</p>
      <p class="comment">2. 50 mg/kg/4h = {{AdminNAC2}} mg en 4 heures</p>
      <p class="comment">3. 100 mg/kg/20h = {{AdminNAC3}} mg en 20 heures</p>
      <p class="comment">4. 150 mg/kg/j = {{AdminNAC4}} par jour</p>
      <br>

    </ion-card-content>
  </ion-card> 

</ion-content>
