.normale 
{
    background-color:rgb(110, 185, 110) !important;
}

.tropbas 

{
    background-color:rgb(152, 116, 192) !important;
}

.trophaut

{
    background-color:rgb(199, 108, 101) !important;
}

.comment{
    font-size: 10px !important; 
}

.slideTitle{
    font-size: 16px !important;
}

.courbesTitle{
    text-align:center; 
    font-weight: bold;
    font-size: 14px;
}