

  <ion-header>
    <br>
    Médicaments 
    <div padding>Les posologies proposées sont envisagées pour la <b>pédiatrie</b> uniquement.
    <br>Légende : 
    <ion-chip class="indicationChip">
      <ion-label>Indication</ion-label>
    </ion-chip>
    <ion-chip class="classeMedicamenteuseChip">
      <ion-label>Classe</ion-label>
    </ion-chip>
    <ion-chip class="voieAdminChip">
      <ion-label>Voie</ion-label>
    </ion-chip> 
    <ion-chip class="AMMChip">
      <ion-label>AMM</ion-label>
    </ion-chip></div>
    <ion-toolbar>
      <ion-searchbar
      class="medicamentSearchbar"
      [(ngModel)]="searchTerm"
      (ionChange)="setFilteredItems()"
      placeholder="Rechercher..."
      inputmode="text"
    ></ion-searchbar>

  </ion-toolbar> 
    </ion-header>

    <ion-content>



  <ion-list>
    <ion-card class="medicamentContainer" *ngFor="let card of medicaments, let index = index" [attr.data-index]="index">
      
      <div class="medicamentTitle" padding (click)="displayMedicament(index)"> {{card.title}}
      </div>
      <img class="logoVidal" (click)="openVidal(index)" src="/assets/imgs/logo-vidal.png">
    
      
      

      <ion-card-content class="medicamentsubContainer" *ngIf="card.isShown">
        <br> <br> <br>
        <div class="commentMedicament">
          <ion-chip *ngIf="card.indication" class="indicationChip">
            <ion-label>{{card.indication}}</ion-label>
          </ion-chip>
          <ion-chip *ngIf="card.indication1" class="indicationChip">
            <ion-label>{{card.indication1}}</ion-label>
          </ion-chip>
          <ion-chip *ngIf="card.indication2" class="indicationChip">
            <ion-label>{{card.indication2}}</ion-label>
          </ion-chip>
          <ion-chip *ngIf="card.classeMed" class="classeMedicamenteuseChip">
            <ion-label>{{card.classeMed}}</ion-label>
          </ion-chip>
          <ion-chip *ngIf="card.voieAdmin" class="voieAdminChip">
            <ion-label>{{card.voieAdmin}}</ion-label>
          </ion-chip>
          <ion-chip *ngIf="card.voieAdmin1" class="voieAdminChip">
            <ion-label>{{card.voieAdmin1}}</ion-label>
          </ion-chip>
          <ion-chip *ngIf="card.AMM" class="AMMChip">
            <ion-label>{{card.AMM}}</ion-label>
          </ion-chip>

        </div>

        <div class="presentationMedicament">
          <ul>
            <li *ngIf="card.presentation">Présentation : {{card.presentation}}</li>
            <li *ngIf="card.posologie">Posologie : {{card.posologie}}</li>
    
          </ul>
        </div>
      

        <div class="commentMedicament">
          <ul>
            <li *ngIf="card.reconstitution">Reconstitution : {{card.reconstitution}}</li>

            <li *ngIf="card.dilution">Dilution : {{card.dilution}}</li>

            <li *ngIf="card.administration">Administration : {{card.administration}}</li>

            <li *ngIf="card.remarques">Remarques : {{card.remarques}}</li>
          </ul>
        </div>
        
      </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>