<ion-header><br>
  <div class="header"> 

    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>Bloc du nerf saphène</div>
   <br>
 
    </ion-header>
    
        <ion-content>
    
          <ion-card color="turquoise-fonce">
            <ion-card-header (click)="toggleIndications()">
              Indications
              <ion-icon *ngIf="!isShownIndications" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
              <ion-icon *ngIf="isShownIndications" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
            </ion-card-header>
            <ion-card-content *ngIf="isShownIndications"> 
              <ul>
                <li>Intervention chirurgicale sur la partie médiale du pied.</li>
                </ul> 
            </ion-card-content>
          </ion-card>

          
          <ion-card>
            <ion-card-header (click)="toggleTechnique()">
              Technique
              <ion-icon *ngIf="!isShownTechnique" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
              <ion-icon *ngIf="isShownTechnique" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
            </ion-card-header>
            <ion-card-content *ngIf="isShownTechnique" style="text-align: justify;">
              Utiliser la sonde linéaire à haute fréquence. L’identification échographique peut être difficile car le nerf est de petit diamètre et se confond avec les tissus adjacents.
              <br>
              Mettre le garrot en dessous du genou, placer la sonde au dessus de la malléole interne. Identifier alors la grande veine saphène, le fascia sous-cutané, situé juste au dessus de la veine saphène et le nerf saphène, fine structure hyperechogène, à proximité de la grande veine saphène, sous le fascia sous cutané. Celui-ci est parfois invisible.
              <br>
              Injecter de l’AL, sous le fascia sous cutané, à côté de la veine saphène, en se limitant à un petit volume (ne pas dépasser 10 mL).     
            </ion-card-content>
          </ion-card>
    
          <ion-card color="warning">
            <ion-card-header (click)="togglePosologie()">
              Posologie
              <ion-icon *ngIf="!isShownPosologie" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
              <ion-icon *ngIf="isShownPosologie" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
            </ion-card-header>
            <ion-card-content *ngIf="isShownPosologie">
              - A visée analgésique, Ropivacaïne 2 mg/mL, 0,2 mg/kg soit 0,1 mL/kg. 
            </ion-card-content>
          </ion-card>
    
            <!--
            <ion-item>
              <ion-label color="dark-turquoise">Imagerie  
                <div style="float:right ; margin-right:20px">
                <button ion-button color="dark-turquoise" *ngIf="!hasLegend" outline round small (click)="toggleLegend()"><ion-icon color="dark-turquoise" name="eye"></ion-icon></button>
                <button ion-button color="dark-turquoise" *ngIf="hasLegend" outline round small (click)="toggleLegend()"><ion-icon color="dark-turquoise" name="eye-off"></ion-icon></button>
              </div>
              </ion-label>
            </ion-item>
            <img *ngIf="!hasLegend" src="assets/imgs/tap_nolegende.png">
            <img *ngIf="hasLegend" src="assets/imgs/tap_legende.png">
            -->

    </ion-content>