
.AdminNAD {
    background-color: #f7918c;
    text-align:center !important;  
}

.DebitNAD {
    background-color: #8cd0f7; 
}

.QuantiteNAD
{
    background-color: #f7ec8c; 
}



.urgenceIcon {

    float: right !important;    

}