<ion-content>

        <!-- HEADER MENU  -->
        <div class="header"> 

          <div (click)="retourHome()" class="backButton">
          <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
          Retour
          </div>
Protocoles & posologies pour les urgences</div>
            <br>
      
                  <!-- HEADER MON PATIENT  -->
  
            <ion-item color="turquoise-fonce"> 
              <ion-label>
                <p class="MonPatient">{{sexeMF}} - {{ageLecture}} ans ( = {{AgeNum}} mois) - {{PoidsNum}} kg - {{Taille}} cm</p> 
                <p class="MonPatient">Estomac {{EstomacOuiNon}} - Jeune {{DureeJeune}} h</p>
                <p class="MonPatient">Allergie : {{Allergie}}</p></ion-label> 
            </ion-item>
        
            <br>
       <!-- END HEADER -->

<ion-list>

  <ion-item (click)="toggleNAD()" ><ion-label color="dark-turquoise">
    <ion-icon start name="flask"></ion-icon>
    &nbsp;&nbsp; Noradrénaline
    <ion-icon *ngIf="!isShownNAD" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
    <ion-icon *ngIf="isShownNAD" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
  </ion-label></ion-item>


  <ion-card class="drogueContainer" *ngIf="isShownNAD">
    <ion-card-content>


      <ion-item>
        <ion-label class="drogueInduction" color="dark">
          <p class="comment">Patient de {{PoidsNum}} kg</p>
          <p class="dilutionDrogueInduction">Protocole proposé : {{ProtocoleNAD}}</p>
          Noradrénaline (8mg/4mL) : <b>{{QuantiteNAD}}mg/50mL</b>
          <p class="dilutionDrogueInduction">Préparation : </p>
          <p class="dilutionDrogueInduction">{{VolumeNAD}}mL de NAD (= {{AmpoulesNAD}} ampoules de 4mL)</p>
          <p class="dilutionDrogueInduction">+ {{VolumeSerumPhyNAD}}mL de NaCl 0,9%</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="drogueInduction">Débit : {{DebitNADgammakgmin}} µg/kg/min 
          <br> Vitesse : {{DebitNADmlh}} mL/h
          <br> Posologie : {{DebitNADmgh}} mg/h
        </ion-label>
        <ion-range color="turquoise-fonce" max="500" step="10" (ngModelChange)="VariationNAD()" [(ngModel)]="DixiemeDebitNADgammakgmin"> </ion-range>

      </ion-item>
    </ion-card-content>
  </ion-card>

    <ion-item  (click)="ToggleACR()">
        <ion-label color="danger"><ion-icon start name="medkit"></ion-icon>
          &nbsp;&nbsp; Arrêt cardio-respiratoire
        <ion-icon *ngIf="!isShownACR" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
        <ion-icon *ngIf="isShownACR" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
        </ion-label>
    </ion-item>

        <ion-card class="drogueContainer" *ngIf="isShownACR">
          <ion-card-content>
          <p>1. Appel à l'aide (RDB <b>3535</b>).</p>
          <p>2. Débuter le massage cardiaque externe.</p>
          <p>3. Ventiler en FiO2 1.</p>
          <br>
          <h4>Posologies ACR : </h4>

        <ion-item>
          <ion-label class="drogueInduction" color="danger">
            Adrénaline : <b>{{PosoAdrenalineACR}} µg</b> - IVD/5 minutes
            <p class="dilutionDrogueInduction">- 10 µg/kg, renouvellable</p>
            <p>- d'emblée si asystolie, au 3e choc si TV/FV</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="drogueInduction" color="danger">
            CEE : <b>{{CEEACR}} J</b> 
            <p class="dilutionDrogueInduction">- 4 J/kg</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="drogueInduction" color="dark">
            Cordarone : <b>{{PosoCordaroneACR}} mg</b> - IVD 
            <p class="dilutionDrogueInduction">- 5 mg/kg</p>
            <p class="dilutionDrogueInduction">- renouvelable 1 fois après 5 min</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="drogueInduction" color="dark">
            Bicar 4,2% : <b>{{PosoBicarACR}} mL</b> - IVL 
            <p class="dilutionDrogueInduction">- 2 mL/kg dès la 15e minute</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>


    <ion-item (click)="ToggleHTM()">
      <ion-label color="warning"><ion-icon start name="alert"></ion-icon>
        &nbsp;&nbsp; Hyperthermie maligne
        <ion-icon *ngIf="!isShownHTM" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
        <ion-icon *ngIf="isShownHTM" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
      </ion-label>
    </ion-item>

      <ion-card class="drogueContainer" *ngIf="isShownHTM">
      <ion-card-content>
        <p  class="drogueInduction">Evoquer devant  :
          <p class="dilutionDrogueInduction">- augmentation importante et inexpliquée de l'EtCO2, de la FC ou de la température</p>
          <p class="dilutionDrogueInduction">- apparition d'une rigidité musculaire des masséters, du tronc ou des membres.</p>
          <br>
        <p  class="drogueInduction">Conduite à tenir en cas de suspicion :</p>
        <p class="dilutionDrogueInduction">- Arrêt halogénés, changement des filtres et tuyaux</p>
        <p class="dilutionDrogueInduction">- Hyperventilation en FiO2 1</p>
        <p class="dilutionDrogueInduction">- Contre indication absolue celocurine jusqu'à preuve du contraire</p>
        <p class="dilutionDrogueInduction">- Dantrolène <b>{{AdminDantroleneHTM}} mg IVL</b> (soit 2,5 mg/kg, renouvelable 4 fois max) à diluer dans de l'<b>EPPI</b></p>
      </ion-card-content>
    </ion-card>

    <ion-item (click)="ToggleChocAna()">
      <ion-label color="dark-turquoise"><ion-icon start name="clipboard"></ion-icon>
        &nbsp;&nbsp; Anaphylaxie
        <ion-icon *ngIf="!isShownChocAna" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownChocAna" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-card class="drogueContainer" *ngIf="isShownChocAna">
      <ion-card-content >
        <p class="drogueInduction">Réaction anaphylactique de grade 2 ou 3 si : </p>
            <p class="dilutionDrogueInduction">- Hypotension : -30% PAS référence</p> 
            <p class="dilutionDrogueInduction">- Tachycardie : +30% FC référence</p> 
            <p class="dilutionDrogueInduction">- Oedeme de Quincke ou bronchospasme</p>
        
        <br>
        <p class="drogueInduction">Mesures à mettre en place :</p>
        <p class="dilutionDrogueInduction">- éviction de tout allergène suspecté,</p>
        <p class="dilutionDrogueInduction">- adrénaline : <b>{{PosoAdrenalineAnaph}} µg IVD</b>, renouvelable 5 à 10 fois,</p>
        <p class="dilutionDrogueInduction">- solumédrol : <b>{{PosoSoluAnaph}} mg IVD</b>, renouvelable 1 fois,</p>
        <p class="dilutionDrogueInduction">- prévoir bilan allergo-immunologique après contrôle de la situation clinique.</p>
      </ion-card-content>
    </ion-card>

    <ion-item (click)="ToggleIAL()">
      <ion-label color="dark-turquoise"><ion-icon start name="clipboard"></ion-icon>
        &nbsp;&nbsp; Intoxication aux AL
        <ion-icon *ngIf="!isShownIAL" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
        <ion-icon *ngIf="isShownIAL" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
      </ion-label>
      </ion-item>

      <ion-card *ngIf="isShownIAL" class="drogueContainer">
      <ion-card-content>
        <p class="drogueInduction">Devant toute suspicion, en présence de signes neurologiques :</p>
        <p class="dilutionDrogueInduction">- Rivotril : <b>{{PosoRivotrilIAL}} µg IVD</b> (soit 15 µg/kg)</p>
        <p class="dilutionDrogueInduction">- Intralipides 20% : <b>{{PosoIntralipidesIAL}} mL IVL</b> (soit 3mL/kg), renouvelable</p>
      </ion-card-content>
    </ion-card>

    <ion-item (click)="ToggleMetabo()">
      <ion-label color="dark-turquoise"><ion-icon start name="clipboard"></ion-icon>
        &nbsp;&nbsp; Désordres métaboliques
        <ion-icon *ngIf="!isShownMetabo" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
        <ion-icon *ngIf="isShownMetabo" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
      </ion-label>
      </ion-item>

      <ion-card *ngIf="isShownMetabo" class="drogueContainer">
      <ion-card-content>

        <p class="drogueInduction"><b>Hypoglycémie &lt; 3 mmol/L</b> :</p>
        <p class="dilutionDrogueInduction">- G10% : <b>{{AdminG10Initial}} mL</b> sur 5 minutes (3 mL/kg)</p>
        <p class="dilutionDrogueInduction">- puis G10% : <b>{{AdminG10Suite}} mL/min</b> IVSE jusqu'à normalisation (0,4 mL/kg/min).</p>
        
        <hr>
        <p class="drogueInduction"><b>Hyponatrémie &lt; 125 mmol/L & symptomatique </b>:</p>
        <ion-item>
          <ion-label class="dilutionDrogueInduction" position="stacked">Natrémie mesurée</ion-label>
          <ion-input class="dilutionDrogueInduction" inputmode ="number" type="number" (ionChange)="CalculDeltaNa(NatremieMesuree)" [(ngModel)]="NatremieMesuree" placeholder="Renseigner"></ion-input>
        </ion-item>
        <p class="dilutionDrogueInduction">- Le delta sodium est de {{DeltaNa}} mM.</p>
        <p class="dilutionDrogueInduction">- Sodium IVD : <b>{{AdminNa}} mEq</b> IVD jusqu'à amélioration des symptomes (Delta x Poids x 0,6)</p>
        <p class="dilutionDrogueInduction">- puis Sodium IVSE : <b>{{AdminNa}} mEq/4h</b> IVSE jusqu'à normalisation de la natrémie</p>
        <p class="dilutionDrogueInduction">- Utiliser du SSH (NaCl 20%) pour limiter les apports hydriques.</p>
       
        <hr>
        <p class="drogueInduction"><b>Hyperkaliémie menaçante </b>:</p>
        <p class="dilutionDrogueInduction">- Arrêt des apports</p>
        <p class="dilutionDrogueInduction">- Si arythmie cardiaque : gluconate de calcium {{AdminGluconateCa}} mL IVD (2 mL/kg)</p>
        <p class="dilutionDrogueInduction">- Traitement hypokaliémiant : insuline {{AdminInsulineHyperK}} UI (0,1 UI/kg) + G10 {{AdminG10HyperK}} mL (10 mL/kg) IVL sur 15 minutes</p>
        
      
      
      </ion-card-content>
    </ion-card> 

    <ion-item (click)="ToggleAAG()">
      <ion-label color="dark-turquoise"><ion-icon start name="clipboard"></ion-icon>
        &nbsp;&nbsp; Asthme aigu grave
        <ion-icon *ngIf="!isShownAAG" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
        <ion-icon *ngIf="isShownAAG" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
      </ion-label>
      </ion-item>

      <ion-card *ngIf="isShownAAG" class="drogueContainer">
      <ion-card-content>
        <p class="drogueInduction">- <b>Penser à l'hydratation & au potassium !</b></p>
        <p class="comment">NaCl 0,9% {{ApportBaseJour}} mL/j + KCl {{AdminKClAAGmg}} mg/j (pour 150 mg/kg/j)</p>
        <p class="comment">Remplacer après 24h par du B26</p>
        <br>
        <p class="drogueInduction">- <b>Salbutamol aérosol (Ventoline®): {{AerosolSalbutamolAAG}} mg</b></p>
        <p class="comment">Renouvelable après 15 minutes</p>
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 2 mg/kg</p>
        <p class="drogueInduction">- <b>Solumédrol (20 mg/2mL) : {{AdminSolumedrolAAG}} mg en bolus</b></p>
        <p class="comment">Puis entretien par {{IVSESolumedrolAAG}} mg/6h IVSE (pour 0,5 mg/kg/6h)</p>
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 1/2 à 1 flacon</p>
        <p class="drogueInduction">- <b>Ipratropium (Atrovent® 0,5 mg/2mL) : {{AerosolAtroventAAG}} mg en aérosol</b></p>
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 0,2 mg/kg</p>
        <p class="drogueInduction">- <b>Terbutaline (Bricanyl® 5mg/2mL) : {{AerosolBricanylAAG}} mg en aérosol </b></p> 
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 40 mg/kg sans dépasser 2g</p>
        <p class="drogueInduction">- <b>MgSO4 (1,5g/10mL) : {{MgSO4AAG}} mg IVL sur 20 minutes</b></p>
        <p class="comment">A diluer dans du NaCl 0,9%</p>
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 0,5 µg/kg/min</p>
        <p class="drogueInduction">- <b>Salbutamol (5 mg/5 mL) : {{SalbutamolIVAAG}} µg/min IVSE</b></p>
        <p class="comment">Possibilité d'augmenter de 0,1 µg/kg/min toutes les 10 minutes</p>
        <p class="comment">Ne s'envisage qu'en secteur de réanimation</p>
        <p class="comment">Ne pas administrer pur, dilution minimale de 1/2</p>
        <br>
        
      </ion-card-content>
    </ion-card> 

    <ion-item (click)="ToggleHTADiuretiques()">
      <ion-label color="dark-turquoise"><ion-icon start name="clipboard"></ion-icon>
        &nbsp;&nbsp; Hypertension & diurétiques
        <ion-icon *ngIf="!isShownHTADiuretiques" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
        <ion-icon *ngIf="isShownHTADiuretiques" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
      </ion-label>
      </ion-item>

      <ion-card *ngIf="isShownHTADiuretiques" class="drogueContainer">
      <ion-card-content>
        <p class="posologieDrogueInduction">Posologie proposée : 60 µg/kg/h</p>
        <p class="drogueInduction">- <b>Nicardipine (Loxen® 1 mg/mL) : {{LoxenIVSE}} µg/h IVSE </b></p>
        <p class="comment">Possibilité de doubler la dose si insuffisant</p>
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 2 mg/kg/j en deux prises</p>
        <p class="drogueInduction">- <b>Acebutolol (Sectral®) : {{SectralPO}} mg/j PO</b></p>
        <p class="comment">A répartir sur 2 prises PO</p>
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 0,3 mg/kg/prise</p>
        <p class="drogueInduction">- <b>Labétolol (Trandate®) : {{TrandateBolus}} mg IVL</b></p>
        <p class="comment">En IVSE : {{TrandateIVSE}} mg/j (pour 2 mg/kg/j), possibilité d'augmenter jusqu'à 24 mg/kg/j </p>
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 50 µg/kg/j en deux prises</p>
        <p class="drogueInduction">- <b>Enalapril (Renitec®) : {{AdminRenitec}} µg/j PO</b></p>
        <p class="comment">Sans dépasser 5 mg/j</p>
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 1 mg/kg/prise</p>
        <p class="drogueInduction">- <b>Furosémide (Lasilix® 10 mg/mL) : {{AdminLasilix}} mg PO ou IV</b></p>
        <p class="comment">AMM : 4 mg/kg/j maximum, soit 1 prise/6h maximum</p>
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 10 µg/kg/h</p>
        <p class="drogueInduction">- <b>Bumétanide (Burinex® 500 µg/mL) : {{AdminBurinexIVSE}} mg/h IVSE</b></p>
        <p class="comment">Possibilité de doubler la dose si insuffisant</p>
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 1 à 5 mg/kg/j</p>
        <p class="drogueInduction">- <b>Spironolactone (Aldactone®) : {{AdminAldactoneMin}} - {{AdminAldactoneMax}} mg/j PO</b></p>
        <br>

      </ion-card-content>
    </ion-card> 

    <ion-item (click)="ToggleCriseConvulsive()">
      <ion-label color="dark-turquoise"><ion-icon start name="clipboard"></ion-icon>
        &nbsp;&nbsp; Crises convulsives
        <ion-icon *ngIf="!isShownCriseConvulsive" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
        <ion-icon *ngIf="isShownCriseConvulsive" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
      </ion-label>
      </ion-item>

      <ion-card *ngIf="isShownCriseConvulsive" class="drogueContainer">
      <ion-card-content>
        <p class="posologieDrogueInduction">Posologie proposée : 20 µg/kg/prise</p>
        <p class="drogueInduction">- <b>Clonazépam (Rivotril® 1 mg/mL) : {{AdminRivotrilConvulsion}} µg IVD </b></p>
        <p class="comment">Répéter une seconde fois si nécessaire</p>
        <p class="comment">{{AdminRivotrilConvulsion}} mg/6h IVSE si nécessaire</p>
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 15 mg/kg/j prise</p>
        <p class="drogueInduction">- <b>Phénobarbital (Gardénal® 40 mg/2mL) : {{AdminGardenal}} mg IVL sur 20 minutes </b></p>
        <p class="comment">Sans dépasser 500 mg/administration</p>
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 20 mg/kg/prise</p>
        <p class="drogueInduction">- <b>Phénytoïne (Dilantin® 250 µg/5mL) : {{AdminDilantin}} mg IVL sur 20 minutes </b></p>
        <p class="comment">Sans dépasser 1500 mg/administration</p>
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 0,25 mg/kg/prise</p>
        <p class="drogueInduction">- <b>Midazolam (Hypnovel® 1 mg/mL) : {{AdminMidazolamConvulsion}} mg IVD</b></p>
        <br>
        <p class="posologieDrogueInduction">Posologie proposée : 30 mg/kg/12h</p>
        <p class="drogueInduction">- <b>Lévétiracetam (Keppra® 100 mg/mL) : {{AdminKeppra}} mg IVL sur 5 min ou PO</b></p>
        <p class="comment">Sans dépasser 2g/j</p>
        <br>

      </ion-card-content>
    </ion-card> 

    <ion-item (click)="ToggleAntidotes()">
      <ion-label color="dark-turquoise"><ion-icon start name="clipboard"></ion-icon>
        &nbsp;&nbsp; Intoxications & antidotes
        <ion-icon *ngIf="!isShownAntidotes" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
        <ion-icon *ngIf="isShownAntidotes" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
      </ion-label>
      </ion-item>

      <ion-card *ngIf="isShownAntidotes" class="drogueContainer">
      <ion-card-content>
        <p class="dilutionDrogueInduction">Intoxication aux opiacés</p>
        <p class="posologieDrogueInduction">Posologie proposée : 10 µg/kg dans 10 mL</p>
        <p class="drogueInduction"><b>Naloxone (Narcan® 0,4mg/mL) : {{AdminNarcan}} mg IVL </b></p>
        <p class="comment">Injecter 1 mL/30 secondes jusqu'à efficacité</p>
        <br>
        <p class="dilutionDrogueInduction">Intoxication aux benzodiazépines</p>
        <p class="posologieDrogueInduction">Posologie proposée : 10 µg/kg sur 10 minutes</p>
        <p class="drogueInduction"><b>Flumazénil (Anexate® 0,1mg/mL) : {{AdminAnexate}} mg IVL </b></p>
        <p class="comment">Puis entretien 10 µg/kg/h IVSE</p>
        <br>        
        <p class="dilutionDrogueInduction">Intoxication au paracétamol</p>
        <p class="drogueInduction"><b>N-acetyl-cystéine (5g/25mL) : protocole </b></p>
        <p class="comment">1. 150 mg/kg/15min = {{AdminNAC1}} mg en 15 minutes</p>
        <p class="comment">2. 50 mg/kg/4h = {{AdminNAC2}} mg en 4 heures</p>
        <p class="comment">3. 100 mg/kg/20h = {{AdminNAC3}} mg en 20 heures</p>
        <p class="comment">4. 150 mg/kg/j = {{AdminNAC4}} par jour</p>
        <br>

      </ion-card-content>
    </ion-card> 

  </ion-list>

</ion-content>
