<ion-header translucent>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Drogues d'urgences</ion-title>
  </ion-navbar>
  <ion-item color="secondary"> 
    <ion-label class="MonPatient" >Mon patient : {{AgeNum}} mois - {{PoidsNum}} kg 
      <p class="dilution">Estomac {{EstomacOuiNon}} - Jeune {{DureeJeune}} h</p>
          <p>Allergie : {{Allergie}}</p></ion-label>
    <ion-icon slot="end" icon="accessibility-outline"></ion-icon> 
  </ion-item>
</ion-header>

<ion-content>

<ion-list>
  <ion-item (click)="ToggleHypoTA()">
      <ion-label color="dark-turquoise">Hypotension artérielle
      <ion-icon *ngIf="!isShownHypoTA" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
      <ion-icon *ngIf="isShownHypoTA" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
      </ion-label>
  </ion-item>
      
      <ion-card class="drogueContainer"  *ngIf="isShownHypoTA">
      <ion-card-content>
        <p class="drogueInduction">PAM abaissée de 20% ou plus par rapport la valeur mesurée avant induction.</p>
        <p class="dilutionDrogueInduction">Enfant de <b>{{ageAnnees}} ans : PAS &lt; {{PAShypoTA}} mmHg </b>environ </p>
        <br>
        <p class="drogueInduction">Mesures à envisager :</p>
        <p class="dilutionDrogueInduction"> - Remplissage par <b>{{VolRemplissage}} mL </b> de <b>{{SoluteRemplissage}}</b>, renouvelable une fois,</p>
        <p class="dilutionDrogueInduction"> - Ephédrine par bolus IVD de <b>{{AdminEphedrine}} mg</b>, renouvelable </p>
      </ion-card-content>
    </ion-card>


    <ion-item  (click)="ToggleACR()">
        <ion-label color="danger">Arrêt cardio-respiratoire
        <ion-icon *ngIf="!isShownACR" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
        <ion-icon *ngIf="isShownACR" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
        </ion-label>
    </ion-item>

        <ion-card class="drogueContainer" *ngIf="isShownACR">
          <ion-card-content>
          <p>1. Appel à l'aide (RDB <b>3535</b>).</p>
          <p>2. Débuter le massage cardiaque externe.</p>
          <p>3. Ventiler en FiO2 1.</p>
          <br>
          <h4>Posologies ACR : </h4>

        <ion-item>
          <ion-label class="drogueInduction" color="danger">
            Adrénaline : <b>{{PosoAdrenalineACR}} µg</b> - IVD/5 minutes
            <p class="dilutionDrogueInduction">- 10 µg/kg, renouvellable</p>
            <p>- d'emblée si asystolie, au 3e choc si TV/FV</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="drogueInduction" color="danger">
            CEE : <b>{{CEEACR}} J</b> 
            <p class="dilutionDrogueInduction">- 4 J/kg</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="drogueInduction" color="dark">
            Cordarone : <b>{{PosoCordaroneACR}} mg</b> - IVD 
            <p class="dilutionDrogueInduction">- 5 mg/kg</p>
            <p class="dilutionDrogueInduction">- renouvelable 1 fois après 5 min</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="drogueInduction" color="dark">
            Bicar 4,2% : <b>{{PosoBicarACR}} mL</b> - IVL 
            <p class="dilutionDrogueInduction">- 2 mL/kg dès la 15e minute</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>


    <ion-item (click)="ToggleChocAna()">
      <ion-label color="dark-turquoise">Anaphylaxie
        <ion-icon *ngIf="!isShownChocAna" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownChocAna" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-card class="drogueContainer" *ngIf="isShownChocAna">
      <ion-card-content >
        <p class="drogueInduction">Réaction anaphylactique de grade 2 ou 3 si : </p>
            <p class="dilutionDrogueInduction">- Hypotension -: 30% PAS référence</p> 
            <p class="dilutionDrogueInduction">- Tachycardie : +30% FC référence</p> 
            <p class="dilutionDrogueInduction">- Oedeme de Quincke ou bronchospasme</p>
        
        <br>
        <p class="drogueInduction">Mesures à mettre en place :</p>
        <p class="dilutionDrogueInduction"> - éviction de tout allergène suspecté,</p>
        <p class="dilutionDrogueInduction"> - adrénaline : <b>{{PosoAdrenalineAnaph}} µg IVD</b>, renouvelable 5 à 10 fois,</p>
        <p class="dilutionDrogueInduction"> - solumédrol : <b>{{PosoSoluAnaph}} mg IVD</b>, renouvelable 1 fois,</p>
        <p class="dilutionDrogueInduction"> - prévoir bilan allergo-immunologique après contrôle de la situation clinique.</p>
      </ion-card-content>
    </ion-card>

    <ion-item (click)="ToggleHTM()">
      <ion-label color="warning">Hyperthermie maligne
        <ion-icon *ngIf="!isShownHTM" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
        <ion-icon *ngIf="isShownHTM" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
      </ion-label>
    </ion-item>

      <ion-card class="drogueContainer" *ngIf="isShownHTM">
      <ion-card-content>
        <p  class="drogueInduction">Evoquer devant  :
          <p class="dilutionDrogueInduction">- augmentation importante et inexpliquée de l'EtCO2, de la FC ou de la température</p>
          <p class="dilutionDrogueInduction">- apparition d'une rigidité musculaire des masséters, du tronc ou des membres.</p>
          <br>
        <p  class="drogueInduction">Conduite à tenir en cas de suspicion :</p>
        <p class="dilutionDrogueInduction">- Arrêt halogénés, changement des filtres et tuyaux</p>
        <p class="dilutionDrogueInduction">- Hyperventilation en FiO2 1</p>
        <p class="dilutionDrogueInduction">- Contre indication absolue celocurine jusqu'à preuve du contraire</p>
        <p class="dilutionDrogueInduction">- Dantrolène <b>{{AdminDantroleneHTM}} mg IVL</b> (soit 2,5 mg/kg, renouvelable 4 fois max) à diluer dans de l'<b>EPPI</b></p>
      </ion-card-content>
    </ion-card>

    <ion-item (click)="ToggleIAL()">
      <ion-label color="dark-turquoise">Intoxication aux AL
        <ion-icon *ngIf="!isShownIAL" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
        <ion-icon *ngIf="isShownIAL" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
      </ion-label>
      </ion-item>

      <ion-card *ngIf="isShownIAL" class="drogueContainer">
      <ion-card-content>
        <p class="drogueInduction">Devant toute suspicion, en présence de signes neurologiques :</p>
        <p class="dilutionDrogueInduction">- Rivotril : <b>{{PosoRivotrilIAL}} µg IVD</b> (soit 15 µg/kg)</p>
        <p class="dilutionDrogueInduction">- Intralipides 20% : <b>{{PosoIntralipidesIAL}} mL IVL</b> (soit 3mL/kg), renouvelable</p>
      </ion-card-content>
    </ion-card>

  </ion-list>

</ion-content>
