<ion-header><br>
  <div class="header"> 

    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>Bloc des grands droits</div>
   <br>
 
    </ion-header>

<ion-content>
  <ion-card color="turquoise-fonce">
    <ion-card-header (click)="toggleIndications()">
      Indications
      <ion-icon *ngIf="!isShownIndications" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
      <ion-icon *ngIf="isShownIndications" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="isShownIndications"> 
      <ul>
        <li>Hernie ombilicale.</li>
        <li>Chirurgie de la ligne blanche.</li>
        <li>Sténose hypertrophique du pylore.</li>
        </ul> 
    </ion-card-content>
  </ion-card>

      <ion-card>
        <ion-card-header (click)="toggleTechnique()">
          Technique
          <ion-icon *ngIf="!isShownTechnique" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownTechnique" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
        </ion-card-header>
        <ion-card-content *ngIf="isShownTechnique" style="text-align: justify;">
          Bloc échoguidé utilisant la sonde linéaire à haute fréquence ou la sonde "club de golf".
          <br>
          La sonde est posée en position transverse de part et d'autre de l'ombilic, quelques centimètres au dessus. On repère les muscles grands droits, latéralement et au dessus de l'ombilic. 
          <br>
          Ponction <i>in plane</i> latéro-médiale permettant de positionner l'aiguille en arrière du grand droit et en avant du <i>fascia transversalis.</i>
        </ion-card-content>
      </ion-card>
      
    <ion-card color="warning">
      <ion-card-header (click)="togglePosologie()">
        Posologie
        <ion-icon *ngIf="!isShownPosologie" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
        <ion-icon *ngIf="isShownPosologie" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
      </ion-card-header>
      <ion-card-content *ngIf="isShownPosologie">
        - Ropivacaïne 2 mg/mL jusqu'à 6 ans et 30 kg puis Ropivacaïne 3,75 mg/mL, 0,1 à 0,2 mL/kg et par côté.</ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header (click)="toggleLegend()">Imagerie
        <ion-icon *ngIf="!hasLegend" class="OpenCloseIcon" color="dark-turquoise" name="eye"></ion-icon>
        <ion-icon *ngIf="hasLegend" class="OpenCloseIcon" color="dark-turquoise" name="eye-off"></ion-icon>
      </ion-card-header>
    <ion-card-content>
      <div style="float:right ; margin-right:20px">
        </div>
      <img *ngIf="!hasLegend" src="assets/imgs/grands_droits_nolegende.png">
    <img *ngIf="hasLegend" src="assets/imgs/grands_droits_legende.png">
    </ion-card-content>
    </ion-card>  
</ion-content>

