<ion-header>
  <!-- HEADER MENU  -->
  <div class="header"> 
<br>
    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>
Apport & gestion des troubles</div>
      <br>


      <ion-segment color="turquoise-fonce" [(ngModel)]="MetaboliqueView">
        <ion-segment-button value="1">Besoins quotidiens</ion-segment-button>
        <ion-segment-button value="2">Troubles métaboliques</ion-segment-button>
      </ion-segment>
      </ion-header>

<ion-content>

  <div padding class="patientHighlight">
    Enfant de <span *ngIf="AgeNum <= 24">{{AgeNum}} mois</span><span *ngIf="AgeNum > 24">{{ageLecture}} ans</span> et {{PoidsNum}} kg
    <br>Allergie : <span *ngIf="!Allergie">non renseigné</span> <span *ngIf="Allergie">{{Allergie}}</span>
  </div>


  <ion-grid  fixed="true" *ngIf="MetaboliqueView == 1">
    <ion-row>
      <ion-col>Apports journaliers</ion-col>
  </ion-row>
    <ion-row class="subHeaderRow">
      <ion-col >
        Apports cibles
      </ion-col>
      <ion-col>
        En dose poids (/kg)
      </ion-col>
      <ion-col>
        Pour mon patient
      </ion-col>            
    </ion-row>

    <ion-row class="TableApportsEven">
      <ion-col>
        Eau (mL/j)
      </ion-col>
      <ion-col>
        {{StandardEau}}
      </ion-col>
      <ion-col>
        {{Eau}}
      </ion-col>            
    </ion-row>

    <ion-row class="TableApportsOdd">
    <ion-col>
      Calories (KCal/j)
    </ion-col>
    <ion-col>
      {{StandardKCal}}
    </ion-col>
    <ion-col>
      {{KCal}}
    </ion-col>            
  </ion-row>

  <ion-row class="TableApportsEven">
  <ion-col>
    Glucides (g/j)
  </ion-col>
  <ion-col>
    {{StandardGlucides}}
  </ion-col>
  <ion-col>
    {{Glucides}}
  </ion-col>            
</ion-row>

<ion-row class="TableApportsOdd">
<ion-col>
  Acides aminés (g/j)
</ion-col>
<ion-col>
  {{StandardAcidesAmines}}
</ion-col>
<ion-col>
  {{AcidesAmines}}
</ion-col>            
</ion-row>

<ion-row class="TableApportsEven">
<ion-col>
Lipides (g/j)
</ion-col>
<ion-col>
{{StandardLipides}}
</ion-col>
<ion-col>
{{Lipides}}
</ion-col>            
</ion-row>

<ion-row class="TableApportsOdd">
<ion-col>
Sodium (mg/j)
</ion-col>
<ion-col>
{{StandardSodium}}
</ion-col>
<ion-col>
{{Sodium}}
</ion-col>            
</ion-row>

<ion-row class="TableApportsEven">
<ion-col>
Potassium (mg/j)
</ion-col>
<ion-col>
{{StandardPotassium}}
</ion-col>
<ion-col>
{{Potassium}}
</ion-col>            
</ion-row>

<ion-row class="TableApportsOdd">
<ion-col>
Calcium (mg/j)
</ion-col>
<ion-col>
{{StandardCalcium}}
</ion-col>
<ion-col>
{{Calcium}}
</ion-col>            
</ion-row>

<ion-row class="TableApportsEven">
<ion-col>
Phosphore (mg/j)
</ion-col>
<ion-col>
{{StandardPhosphore}}
</ion-col>
<ion-col>
{{Phosphore}}
</ion-col>            
</ion-row>

<ion-row class="TableApportsOdd">
<ion-col>
Magnesium (mg/j)
</ion-col>
<ion-col>
{{StandardMagnesium}}
</ion-col>
<ion-col>
{{Magnesium}}
</ion-col>            
</ion-row>

    </ion-grid>




      <ion-card *ngIf="MetaboliqueView == 2" class="drogueContainer">
      <ion-card-content>

        <p class="drogueInduction"><b>Hypoglycémie &lt; 3 mmol/L</b> :</p>
        <p class="dilutionDrogueInduction">- G10% : <b>{{AdminG10Initial}} mL</b> sur 5 minutes (3 mL/kg)</p>
        <p class="dilutionDrogueInduction">- puis G10% : <b>{{AdminG10Suite}} mL/min</b> IVSE jusqu'à normalisation (0,4 mL/kg/min).</p>
        
        <hr>
        <p class="drogueInduction"><b>Hyponatrémie &lt; 125 mmol/L & symptomatique </b>:</p>
        <ion-item>
          <ion-label class="dilutionDrogueInduction" position="stacked">Natrémie mesurée</ion-label>
          <ion-input class="dilutionDrogueInduction" inputmode ="number" type="number" (ionChange)="CalculDeltaNa(NatremieMesuree)" [(ngModel)]="NatremieMesuree" placeholder="Renseigner"></ion-input>
        </ion-item>
        <p class="dilutionDrogueInduction">- Le delta sodium est de {{DeltaNa}} mM.</p>
        <p class="dilutionDrogueInduction">- Sodium IVD : <b>{{AdminNa}} mEq</b> IVD jusqu'à amélioration des symptomes (Delta x Poids x 0,6)</p>
        <p class="dilutionDrogueInduction">- puis Sodium IVSE : <b>{{AdminNa}} mEq/4h</b> IVSE jusqu'à normalisation de la natrémie</p>
        <p class="dilutionDrogueInduction">- Utiliser du SSH (NaCl 20%) pour limiter les apports hydriques.</p>
       
        <hr>
        <p class="drogueInduction"><b>Hyperkaliémie menaçante </b>:</p>
        <p class="dilutionDrogueInduction">- Arrêt des apports</p>
        <p class="dilutionDrogueInduction">- Si arythmie cardiaque : gluconate de calcium {{AdminGluconateCa}} mL IVD (2 mL/kg)</p>
        <p class="dilutionDrogueInduction">- Traitement hypokaliémiant : insuline {{AdminInsulineHyperK}} UI (0,1 UI/kg) + G10 {{AdminG10HyperK}} mL (10 mL/kg) IVL sur 15 minutes</p>
        
      
      
      </ion-card-content>
    </ion-card> 
</ion-content>
