<!--
  Generated template for the PlateauInductionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- HEADER DE LA PAGE avec menu principal -->  
  <ion-header translucent>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Plateau pour induction</ion-title>
  </ion-navbar>
  <ion-item color="secondary"> 
    <ion-label class="MonPatient" >Mon patient : {{AgeNum}} mois - {{PoidsNum}} kg 
      <p class="dilution">Estomac {{EstomacOuiNon}} - Jeune {{DureeJeune}} h</p>
    <p>Allergie : {{Allergie}}</p></ion-label>
    <ion-icon slot="end" icon="accessibility-outline"></ion-icon> 
  </ion-item>
</ion-header>

<ion-content padding>

  <!-- ITEM MON PATIENT -->


<ion-list>
  <ion-item-group>
    <ion-item-divider (click)="ToggleHypno()">
      <ion-label>Hypnotiques
        <ion-icon *ngIf="!isShownHypno" class="inductionIcon" name="add-circle"  style="zoom:1.5"></ion-icon>
          <ion-icon *ngIf="isShownHypno" class="inductionIcon" name="close-circle"  style="zoom:1.5"></ion-icon>
      </ion-label>
    </ion-item-divider> 


    <ion-card *ngIf="isShownHypno" color="warning">

    <ion-item  color="warning">
      <ion-label><b>Sevoflurane 6%</b> - Voie inhalée
        <p>!! Seulement si estomac vide.</p>
      </ion-label>
    </ion-item>

    <ion-item  color="warning">
      <ion-label> 
        <p class="posologie">Posologie proposée : {{PosoThiopental}}</p>
        <b>Thiopental {{AdminThiopental}} mg - IVD </b>
        <p class="dilution"> Dilution : {{DiluThiopental}}</p></ion-label>
    </ion-item>

    <ion-item  color="warning">
      <ion-label>
        <p class="posologie">Posologie proposée : {{PosoPropofol}}</p>
        <b>Propofol {{AdminPropofol}} mg - IVD </b>
        <p class="dilution">Dilution : {{DiluPropofol}}</p></ion-label>
    </ion-item>

    <ion-item  class="avecAMM" color="warning">
      <ion-label>
        <p class="posologie">Posologie proposée : {{PosoEtomidate}}</p>
        <b>Etomidate {{AdminEtomidate}} mg - IVD</b> 
        <p class="dilution">Dilution : {{DiluEtomidate}}</p> 
      </ion-label>
    </ion-item>

    <div class="AMM">AMM <br> > 2 ans</div>

    <ion-item  color="warning">
      <ion-label> 
        <p class="posologie">Posologie proposée : {{PosoKetamine}}</p>
        <b>Ketamine {{AdminKetamine}} mg - IVD</b>
        <p class="dilution">Dilution : {{DiluKetamine}}</p> </ion-label>
      <div ></div>
    </ion-item>

  </ion-card>
    

    <ion-item-divider (click)="ToggleMorphiniques()">
      <ion-label>Morphiniques
        <ion-icon *ngIf="!isShownMorphiniques" class="inductionIcon" name="add-circle"  style="zoom:1.5"></ion-icon>
          <ion-icon *ngIf="isShownMorphiniques" class="inductionIcon" name="close-circle"   style="zoom:1.5"></ion-icon>
      </ion-label>
    </ion-item-divider>

    <ion-card *ngIf="isShownMorphiniques">
    <ion-item color="primary">
      <ion-label>
        <p class="posologie">Posologie proposée : {{PosoSufentanil}}</p>
        <b>Sufentanil {{AdminSufentanil}} µg - IVD</b>
        <p class="dilution">Dilution : {{DiluSufentanil}}</p></ion-label>
    </ion-item>

    <ion-item color="primary">
      <ion-label>
        <p class="posologie">Posologie proposée : {{PosoAlfentanil}}</p>
        <b>Alfentanil {{AdminAlfentanil}} µg - IVD</b>
        <p class="dilution">Dilution : {{DiluAlfentanil}}</p>
      </ion-label>
    </ion-item>

  </ion-card>

    <ion-item-divider (click)="ToggleCurares()">
      <ion-label>Curares
        <ion-icon *ngIf="!isShownCurares" class="inductionIcon" name="add-circle"  style="zoom:1.5"></ion-icon>
          <ion-icon *ngIf="isShownCurares" class="inductionIcon" name="close-circle"  style="zoom:1.5"></ion-icon>
      </ion-label>
    </ion-item-divider>

    <ion-card *ngIf="isShownCurares">
    <ion-item color="danger">
      <ion-label>
        <p class="posologie">Posologie proposée : {{PosoAtracurium}}</p>
        <b>Atracurium {{AdminAtracurium}} mg - IVD</b>
        <p class="dilution">Dilution : {{DiluAtracurium}}</p></ion-label>
    </ion-item>

    <ion-item  color="danger">
      <ion-label>
        <p class="posologie">Posologie proposée : {{PosoRocuronium}}</p>
        <b>Rocuronium {{AdminRocuronium}} mg - IVD</b>
        <p class="dilution">Dilution : {{DiluRocuronium}}</p></ion-label>
    </ion-item>

    <ion-item color="danger">
      <ion-label>
        <p class="posologie">Posologie proposée : {{PosoCelocurine}}</p>
        <b>Celocurine {{AdminCelocurine}} mg - IVD</b>
        <p class="dilution">Dilution : {{DiluCelocurine}}</p></ion-label>
    </ion-item>
  </ion-card>

  <ion-item-divider (click)="ToggleAutres()">
    <ion-label>Autres
      <ion-icon *ngIf="!isShownAutres" class="inductionIcon" name="add-circle"  style="zoom:1.5"></ion-icon>
        <ion-icon *ngIf="isShownAutres" class="inductionIcon" name="close-circle"  style="zoom:1.5"></ion-icon>
    </ion-label>
  </ion-item-divider>

    <ion-card *ngIf="isShownAutres">

      <ion-item color="tertiary">
        <ion-label>
          <p class="posologie">Posologie proposée : 0,15 mg/kg</p>
          <b>Dexamethasone {{AdminDexa}} mg - IVD</b>
          <p class="dilution">Dilution : {{DiluDexa}}</p></ion-label>
      </ion-item>

      <ion-item color="tertiary">
        <ion-label>
          <p class="posologie">Posologie proposée : 10 mg/kg</p>
          <b>Exacyl : {{AdminExacyl}} mg - IVSE sur 30 min</b>
          <p class="dilution">Dilution : 100 mg/mL</p></ion-label>
      </ion-item>

      <ion-item color="tertiary">
        <ion-label>
          <p class="posologie">Posologie proposée : 100 µg/kg</p>
          <b>Ephédrine : {{AdminEphedrine}} mg - IVD</b>
          <p class="dilution">Dilution : {{DiluEphedrine}}</p></ion-label>
      </ion-item>

      <ion-item color="tertiary">
        <ion-label>
          <p class="posologie">Posologie proposée : 20 µg/kg</p>
          <b>Atropine : {{AdminAtropine}} mg - IVD</b>
          <p class="dilution">Dilution : {{DiluAtropine}}</p></ion-label>
      </ion-item>

    </ion-card>

  </ion-item-group>
</ion-list>
</ion-content>
