.MonPatient {
    
    text-align: center;

};

.dilution {
    font-style:italic; 
    font-size:40%;
};

.posologie {

    font-style:bold; 
    font: Times;
    font-size:40%;
};



.inductionIcon {

    float: right !important;    

}