
<ion-header>
  <br>
        <!-- HEADER MENU  -->
        <div class="header"> 

          <div (click)="retourHome()" class="backButton">
          <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
          Retour
          </div>
Induction anesthésique  </div>
            <br>
      
                  <!-- HEADER MON PATIENT  -->
  
            <ion-item color="turquoise-fonce"> 
              <ion-label>
                <p class="MonPatient">{{sexeMF}} - {{ageLecture}} ans ( = {{AgeNum}} mois) - {{PoidsNum}} kg - {{Taille}} cm</p> 
                <p class="MonPatient">Estomac {{EstomacOuiNon}} - Jeune {{DureeJeune}} h</p>
                <p class="MonPatient">Allergie : {{Allergie}}</p></ion-label> 
            </ion-item>
        <!-- ITEM MON PATIENT -->
         
       <!-- END HEADER -->
</ion-header>
  
  <ion-content>

<ion-list>
  <ion-item-group>
    <ion-item-divider (click)="ToggleHypno()">
      <ion-label color="dark-turquoise">Hypnotiques
        <ion-icon *ngIf="!isShownHypno" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownHypno" class="OpenCloseIcon" name="close"   style="zoom:0.9"></ion-icon>
      </ion-label>
    </ion-item-divider> 


    <ion-card *ngIf="isShownHypno" class="drogueContainer">

    <ion-item >
      <ion-label class="drogueInduction" color="warning">Sevoflurane (Sevorane®) : 6% - Voie inhalée
        <p class="dilutionDrogueInduction">DGF pour l'induction : 6-8 L/min</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="drogueInduction" color="warning"> 
        <p class="posologieDrogueInduction">Posologie proposée : {{PosoThiopental}}</p>
        Thiopental (Pentotal® 500mg pdr) : {{AdminThiopental}} mg - IVD 
        <p class="dilutionDrogueInduction"> Dilution : {{DiluThiopental}}</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="drogueInduction" color="warning">
        <p class="posologieDrogueInduction">Posologie proposée : {{PosoPropofol}}</p>
        Propofol (Diprivan® 200mg/20mL) : {{AdminPropofol}} mg - IVD
        <p class="dilutionDrogueInduction">Dilution : {{DiluPropofol}}</p></ion-label>
    </ion-item>

    <ion-item  class="avecAMM">
      <ion-label class="drogueInduction" color="warning">
        <p class="posologieDrogueInduction">Posologie proposée : {{PosoEtomidate}}</p>
      Etomidate (Hypnomidate® 20mg/10mL) : {{AdminEtomidate}} mg - IVD
        <p class="dilutionDrogueInduction">Dilution : {{DiluEtomidate}}</p> 
      </ion-label>
    </ion-item>

    <div class="AMM">AMM <br> > 2 ans</div>

    <ion-item>
      <ion-label class="drogueInduction" color="warning"> 
        <p class="posologieDrogueInduction">Posologie proposée : {{PosoKetamine}}</p>
        Ketamine (Ketalar® 50mg/5mL) : {{AdminKetamine}} mg - IVD
        <p class="dilutionDrogueInduction">Dilution : {{DiluKetamine}}</p> </ion-label>
      <div ></div>
    </ion-item>


    <ion-item class="avecAMM">         
      <ion-label class="drogueInduction" color="dark-blue">Dexmédétomidine (Dexdor® 200µg/2mL) : 
        <p class="comment">Posologie proposée : 2 µg/kg</p>
        <p class="dilutionDrogueInduction">Prémédication :  {{DexdorPremed}} µg intranasal
        <p class="comment">intra-nasal, 20 min avant induction </p>
        <hr>
        <p class="comment">Posologie proposée : 0,5 µg/kg</p>
        <p class="dilutionDrogueInduction">Bolus seul : {{DexdorBolusSeul}} µg IVD </p>

    </ion-label>
      </ion-item>
    
      <div class="AMM">AMM : <br> sédation chez l'adulte en USI objectif RASS [0 ; -3]</div>

  </ion-card>
    

    <ion-item-divider (click)="ToggleMorphiniques()">
      <ion-label color="dark-turquoise">Morphiniques
        <ion-icon *ngIf="!isShownMorphiniques" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownMorphiniques" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
      </ion-label>
    </ion-item-divider>

    <ion-card *ngIf="isShownMorphiniques" class="drogueContainer">
    <ion-item>
      <ion-label class="drogueInduction" color="primary">
        <p class="posologieDrogueInduction">Posologie proposée : {{PosoSufentanil}}</p>
        Sufentanil (50µg/10mL) : {{AdminSufentanil}} µg - IVD
        <p class="dilutionDrogueInduction">Dilution : {{DiluSufentanil}}</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="drogueInduction" color="primary">
        <p class="posologieDrogueInduction">Posologie proposée : {{PosoAlfentanil}}</p>
        Alfentanil (1mg/2mL) : {{AdminAlfentanil}} µg - IVD
        <p class="dilutionDrogueInduction">Dilution : {{DiluAlfentanil}}</p>
      </ion-label>
    </ion-item>

  </ion-card>

    <ion-item-divider (click)="ToggleCurares()">
      <ion-label color="dark-turquoise">Curares
        <ion-icon *ngIf="!isShownCurares" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownCurares" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
      </ion-label>
    </ion-item-divider>

    <ion-card *ngIf="isShownCurares" class="drogueContainer">
    <ion-item>
      <ion-label class="drogueInduction" color="danger">
        <p class="posologieDrogueInduction">Posologie proposée : {{PosoAtracurium}}</p>
        Atracurium (Tracrium® 25mg/2,5mL) : {{AdminAtracurium}} mg - IVD
        <p class="dilutionDrogueInduction">Dilution : {{DiluAtracurium}}</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="drogueInduction" color="danger">
        <p class="posologieDrogueInduction">Posologie proposée : {{PosoRocuronium}}</p>
        Rocuronium (Esméron® 50mg/5mL) : {{AdminRocuronium}} mg - IVD
        <p class="dilutionDrogueInduction">Dilution : {{DiluRocuronium}}</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="drogueInduction" color="orange">
        <p class="posologieDrogueInduction">Posologie proposée : 16 mg/kg</p>
        Suggamadex (Bridion® 200mg/2mL) : {{AdminBridion}} mg - IVD
        <p class="dilutionDrogueInduction"><b>Pour réversion immédiate en cas d'urgence après curarisation par rocuronium</b></p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="drogueInduction" color="danger">
        <p class="posologieDrogueInduction">Posologie proposée : {{PosoCelocurine}}</p>
        Suxaméthonium (Celocurine® 100mg/2mL) : {{AdminCelocurine}} mg - IVD
        <p class="dilutionDrogueInduction">Dilution : {{DiluCelocurine}}</p></ion-label>
    </ion-item>
  </ion-card>

  <ion-item-divider (click)="ToggleAutres()">
    <ion-label color="dark-turquoise">Autres
      <ion-icon *ngIf="!isShownAutres" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
        <ion-icon *ngIf="isShownAutres" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
    </ion-label>
  </ion-item-divider>

    <ion-card *ngIf="isShownAutres" class="drogueContainer">

      <ion-item>
        <ion-label class="drogueInduction" color="dark">
          <p class="posologieDrogueInduction">Posologie proposée : 0,15 mg/kg</p>
          Dexamethasone (4mg/mL) : {{AdminDexa}} mg - IVD
          <p class="dilutionDrogueInduction">Dilution : {{DiluDexa}}</p></ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction" color="dark">
          <p class="posologieDrogueInduction">Posologie proposée : 10 mg/kg</p>
          Acide tranexamique (Exacyl® 500mg/5mL) bolus : {{AdminExacyl}} mg - IVSE sur 30 min
          <p class="dilutionDrogueInduction">Dilution : {{DiluExacyl}}</p></ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction" color="dark">
          <p class="posologieDrogueInduction">Posologie proposée : 5 mg/kg/h</p>
          Acide tranexamique (Exacyl® 500mg/5mL) entretien : {{EntretienExacyl}} mg/h - IVSE
          <p class="dilutionDrogueInduction">Dilution : {{DiluExacyl}}</p></ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction" color="dark-pink">
          <p class="posologieDrogueInduction">Posologie proposée : 100 µg/kg</p>
          Ephédrine (3mg/mL) : {{AdminEphedrine}} mg - IVD
          <p class="dilutionDrogueInduction">Dilution : {{DiluEphedrine}}</p></ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction" color="dark-green">
          <p class="posologieDrogueInduction">Posologie proposée : 20 µg/kg</p>
          Atropine (0,5mg/mL) : {{AdminAtropine}} mg - IVD
          <p class="dilutionDrogueInduction">Dilution : {{DiluAtropine}}</p></ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction" color="dark">
          <p class="posologieDrogueInduction">Posologie proposée : 1.5 mg/kg</p>
          Xylocaïne (100mg/20mL) : {{AdminXylo}} mg - IVD lent
          <p class="dilutionDrogueInduction">Dilution : 5 mg/mL</p></ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="drogueInduction" color="warning">
          <p class="posologieDrogueInduction">Posologie proposée : 0.5 mg/kg</p>
          Ketamine antalgique (Ketalar® 50mg/5mL) : {{AdminKetaAntalgique}} mg - IVD
        <p class="dilutionDrogueInduction">Dilution : {{DiluKetaAntalgique}}</p></ion-label>
      </ion-item>

    </ion-card>

  </ion-item-group>
</ion-list>
</ion-content>
