
<ion-header><br>
  <div class="header"> 

    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>

Protocoles d'antibioprophylaxie</div>
<br>
      <ion-toolbar>

  <ion-searchbar *ngIf = "!this.searchBarType"
  class="interventionSearchbar"
  [(ngModel)]="searchTerm"
  (ionChange)="setFilteredChirurgie()"
  placeholder="Intervention..."
  inputmode="text"
></ion-searchbar><br *ngIf = "!this.searchBarType"><ion-icon *ngIf = "!this.searchBarType" zoom:1.5 name="swap" (click)="toggleSearchBars()"></ion-icon>

<ion-searchbar *ngIf = "this.searchBarType"
class="specialiteSearchbar"
[(ngModel)]="searchTermSpecialite"
(ionChange)="setFilteredSpecialite()"
placeholder="Specialite..."
inputmode="text"
></ion-searchbar><br *ngIf = "this.searchBarType"><ion-icon *ngIf = "this.searchBarType" zoom:1.5 name="swap" (click)="toggleSearchBars()"></ion-icon>



</ion-toolbar>
    </ion-header>



    <ion-content>

      <ion-card *ngIf="!searchTerm && !searchTermSpecialite" class="drogueContainer">
      <div  padding><ion-icon name="information-circle" color="dark-turquoise"></ion-icon>
        &nbsp; 
        Utilisez la barre de recherche par nom pour trouver une intervention ou appuyez sur <ion-icon name="swap" color="dark-turquoise"></ion-icon> pour effectuer une recherche par spécialité chirurgicale. 
        <br><br>
        Les posologies proposées sont envisagées pour la pédiatrie uniquement.
        Les doses présentées sont calculées pour le patient suivant : 
        <div class="patientMemo">
        <ul>
          <li>{{sexeMF}} de <span *ngIf="AgeNum <= 24">{{AgeNum}} mois</span><span *ngIf="AgeNum > 24">{{ageLecture}} ans</span>
          <li>{{PoidsNum}} kg </li>
          <li>Allergie : <span *ngIf="!Allergie">non renseigné</span> <span *ngIf="Allergie">{{Allergie}}</span></li>
        </ul>
      </div>
      
        <br>
        <b>Légende :</b> 
        <ul>
          <li>  Recommandée : 
            <ion-chip color="danger">
                <ion-label>Intervention</ion-label>
              </ion-chip></li>
          <li>Non recommandée :
            <ion-chip color="turquoise">
              <ion-label>Intervention</ion-label>
            </ion-chip></li>
          <li>Molécule(s) : 
            <ion-chip color="warning">
              <ion-label>Antibiotique</ion-label>
            </ion-chip></li>
        </ul>
      </div>
    </ion-card>


    <div *ngIf="searchTerm || searchTermSpecialite">
    <ion-card class="chirurgieContainer" (click)="displayChirurgie(index)" *ngFor="let chir of chirurgie, let index = index" [attr.data-index]="index">
      <ion-card-header>
          <div class="comment" *ngIf="chir.recommandation == 'Non recommandée'">
          <ion-chip class="nonRecommandee">
            <ion-label>{{chir.intitule}} </ion-label>
          </ion-chip> - prophylaxie non recommandée</div>

          <div class="comment" *ngIf="chir.recommandation == 'Recommandée'">
          <ion-chip class="Recommandee">
            <ion-label>{{chir.intitule}}</ion-label>
          </ion-chip> - prophylaxie recommandée</div>
        <span *ngIf="chir.specialite" class="specialiteChirurgie">{{chir.specialite}}</span> - <span *ngIf="chir.classeConta" class="classeContaminationChirurgie">Classe Altemeier : {{chir.classeConta}}</span>
     
        <div class="openIcon"><ion-icon *ngIf="chir.recommandation == 'Recommandée' && !chir.isShown" name="add" color="grisclair" end></ion-icon></div>
        <div class="openIcon"><ion-icon *ngIf="chir.recommandation == 'Recommandée' && chir.isShown" name="close" color="grisclair" end></ion-icon></div>

      </ion-card-header> 


      <ion-card-content class="chirurgiesubContainer" *ngIf="chir.isShown && chir.ATB1">
        <hr>
          <div *ngIf = "chir.ATB1"> 
            <div class="intentionATB" *ngIf="chir.ATBAllergie1">Première intention</div>
          <ion-chip *ngIf = "chir.ATB1" class="ATBchip">
            <ion-label *ngIf = "PoidsNum * chir.posologieNumATB1 <= chir.doseMaxATB1 || !chir.posologieNumATB1" >{{chir.ATB1}} : <span *ngIf="chir.posologieNumATB1"> {{PoidsRound * chir.posologieNumATB1}} mg</span> {{chir.administrationATB1}}</ion-label>
            <ion-label *ngIf = "PoidsNum * chir.posologieNumATB1 > chir.doseMaxATB1" >{{chir.ATB1}} : {{chir.doseMaxATB1}} mg {{chir.administrationATB1}}</ion-label>
          </ion-chip>
         
          <ul class="infoAntibioChirurgie">
            <li *ngIf="chir.posologieATB1">Posologie/poids : {{chir.posologieATB1}} (max. : {{chir.doseMaxATB1}} mg)</li>
            <li *ngIf="chir.dilutionATB1">Dilution : {{chir.dilutionATB1}} </li>
            <li *ngIf="PoidsNum * chir.posologiereinjectionNumATB1 <= chir.doseMaxReinjectionATB1">Réinjection : {{chir.posologiereinjectionNumATB1 * PoidsRound}} mg/{{chir.delaiReinjectionATB1}} </li>
            <li *ngIf="PoidsNum * chir.posologiereinjectionNumATB1 > chir.doseMaxReinjectionATB1">Réinjection : {{chir.doseMaxReinjectionATB1}} mg/{{chir.delaiReinjectionATB1}} </li>
          </ul>

          <ion-chip *ngIf = "chir.ATB2" class="ATBchip">
            <ion-label *ngIf = "PoidsNum * chir.posologieNumATB2 <= chir.doseMaxATB2" >+ {{chir.ATB2}} : {{PoidsRound * chir.posologieNumATB2}} mg {{chir.administrationATB2}}</ion-label>
            <ion-label *ngIf = "PoidsNum * chir.posologieNumATB2 > chir.doseMaxATB2" >+ {{chir.ATB2}} : {{chir.doseMaxATB2}} mg {{chir.administrationATB2}}</ion-label>
          </ion-chip>
          <ul *ngIf = "chir.ATB2" class="infoAntibioChirurgie">
            <li *ngIf="chir.posologieATB2">Posologie/poids : {{chir.posologieATB2}} (max. : {{chir.doseMaxATB2}} mg)</li>
            <li *ngIf="chir.dilutionATB2">Dilution : {{chir.dilutionATB2}} </li>
            <li *ngIf="PoidsNum * chir.posologiereinjectionNumATB2 <= chir.doseMaxReinjectionATB2">Réinjection : {{chir.posologiereinjectionNumATB2 * PoidsRound}} mg/{{chir.delaiReinjectionATB2}} </li>
            <li *ngIf="PoidsNum * chir.posologiereinjectionNumATB2 > chir.doseMaxReinjectionATB2">Réinjection : {{chir.doseMaxReinjectionATB2}} mg/{{chir.delaiReinjectionATB2}} </li>
          </ul>

          <ion-chip *ngIf = "chir.ATB3" class="ATBchip">
            <ion-label *ngIf = "PoidsNum * chir.posologieNumATB3 <= chir.doseMaxATB3" >+ {{chir.ATB3}} : {{PoidsRound * chir.posologieNumATB3}} mg {{chir.administrationATB3}}</ion-label>
            <ion-label *ngIf = "PoidsNum * chir.posologieNumATB3 > chir.doseMaxATB3" >+ {{chir.ATB3}} : {{chir.doseMaxATB2}} mg {{chir.administrationATB3}}</ion-label>
          </ion-chip>
          <ul *ngIf = "chir.ATB3" class="infoAntibioChirurgie"> 
            <li *ngIf="chir.posologieATB3">Posologie/poids : {{chir.posologieATB3}} (max. : {{chir.doseMaxATB3}} mg)</li>
            <li *ngIf="chir.dilutionATB3">Dilution : {{chir.dilutionATB3}} </li>
            <li *ngIf="PoidsNum * chir.posologiereinjectionNumATB3 <= chir.doseMaxReinjectionATB3">Réinjection : {{chir.posologiereinjectionNumATB3 * PoidsRound}} mg/{{chir.delaiReinjectionATB3}} </li>
            <li *ngIf="PoidsNum * chir.posologiereinjectionNumATB3 > chir.doseMaxReinjectionATB3">Réinjection : {{chir.doseMaxReinjectionATB3}} mg/{{chir.delaiReinjectionATB3}} </li>
          </ul>
        </div>

        <hr>
        <div *ngIf= "chir.ATBAllergie1">
          <div class="intentionATB">Seconde intention (allergie)</div>
          <ion-chip class="ATBchip">
            <ion-label *ngIf = "PoidsNum * chir.posologieNumATBAllergie1 <= chir.doseMaxATBAllergie1">{{chir.ATBAllergie1}} : {{PoidsRound * chir.posologieNumATBAllergie1}} mg {{chir.administrationATBAllergie1}}</ion-label>
            <ion-label *ngIf = "PoidsNum * chir.posologieNumATBAllergie1 > chir.doseMaxATBAllergie1">{{chir.ATBAllergie1}} : {{chir.doseMaxATBAllergie1}} mg {{chir.administrationATBAllergie1}}</ion-label>
          </ion-chip>

          <ul class="infoAntibioChirurgie">
            <li *ngIf="chir.posologieATBAllergie1">Posologie/poids : {{chir.posologieATBAllergie1}} (max. : {{chir.doseMaxATBAllergie1}} mg)</li>
            <li *ngIf="chir.dilutionATBAllergie1">Dilution : {{chir.dilutionATBAllergie1}}</li>
            <li *ngIf="PoidsNum * chir.posologiereinjectionNumATBAllergie1 <= chir.doseMaxReinjectionATBAllergie1">Réinjection : {{chir.posologiereinjectionNumATBAllergie1 * PoidsRound}} mg/{{chir.delaiReinjectionATBAllergie1}} </li>
            <li *ngIf="PoidsNum * chir.posologiereinjectionNumATBAllergie1 > chir.doseMaxReinjectionATBAllergie1">Réinjection : {{chir.doseMaxReinjectionATBAllergie1}} mg/{{chir.delaiReinjectionATBAllergie1}} </li>
          </ul> 

     
          <ion-chip *ngIf = "chir.ATBAllergie2" class="ATBchip">
            <ion-label *ngIf = "PoidsNum * chir.posologieNumATBAllergie2 <= chir.doseMaxATBAllergie2" >+ {{chir.ATBAllergie2}} : {{PoidsRound * chir.posologieNumATBAllergie2}} mg {{chir.administrationATBAllergie2}}</ion-label>
            <ion-label *ngIf = "PoidsNum * chir.posologieNumATBAllergie2 > chir.doseMaxATBAllergie2" >+ {{chir.ATBAllergie2}} : {{chir.doseMaxATBAllergie2}} mg {{chir.administrationATBAllergie2}}</ion-label>
          </ion-chip>

          <ul *ngIf="chir.ATBAllergie2" class="infoAntibioChirurgie"><b>{{chir.ATBAllergie2}}</b>
            <li *ngIf="chir.posologieATBAllergie2">Posologie/poids : {{chir.posologieATBAllergie2}} (max. : {{chir.doseMaxATBAllergie2}} mg)</li>
            <li *ngIf="chir.dilutionATBAllergie2">Dilution : {{chir.dilutionATBAllergie2}}</li>
            <li *ngIf="PoidsNum * chir.posologiereinjectionNumATBAllergie2 <= chir.doseMaxReinjectionATBAllergie2">Réinjection : {{chir.posologiereinjectionNumATBAllergie2 * PoidsRound}} mg/{{chir.delaiReinjectionATBAllergie2}} </li>
            <li *ngIf="PoidsNum * chir.posologiereinjectionNumATBAllergie2 > chir.doseMaxReinjectionATBAllergie2">Réinjection : {{chir.doseMaxReinjectionATBAllergie2}} mg/{{chir.delaiReinjectionATBAllergie2}} </li>
          </ul> 

          <ion-chip *ngIf = "chir.ATBAllergie3" class="ATBchip">
            <ion-label *ngIf = "PoidsNum * chir.posologieNumATBAllergie3 <= chir.doseMaxATBAllergie3" >+ {{chir.ATBAllergie3}} : {{PoidsRound * chir.posologieNumATBAllergie3}} mg {{chir.administrationATBAllergie3}}</ion-label>
            <ion-label *ngIf = "PoidsNum * chir.posologieNumATBAllergie3 > chir.doseMaxATBAllergie3" >+ {{chir.ATBAllergie3}} : {{chir.doseMaxATBAllergie3}} mg {{chir.administrationATBAllergie3}}</ion-label>
          </ion-chip>

          <ul *ngIf="chir.ATBAllergie3" class="infoAntibioChirurgie"><b>{{chir.ATBAllergie3}}</b>
            <li *ngIf="chir.posologieATBAllergie3">Posologie/poids : {{chir.posologieATBAllergie3}} (max. : {{chir.doseMaxATBAllergie3}} mg)</li>
            <li *ngIf="chir.dilutionATBAllergie3">Dilution : {{chir.dilutionATBAllergie3}}</li>
            <li *ngIf="PoidsNum * chir.posologiereinjectionNumATBAllergie3 <= chir.doseMaxReinjectionATBAllergie3">Réinjection : {{chir.posologiereinjectionNumATBAllergie3 * PoidsRound}} mg/{{chir.delaiReinjectionATBAllergie3}} </li>
            <li *ngIf="PoidsNum * chir.posologiereinjectionNumATBAllergie3 > chir.doseMaxReinjectionATBAllergie3">Réinjection : {{chir.doseMaxReinjectionATBAllergie3}} mg/{{chir.delaiReinjectionATBAllergie3}} </li>
          </ul> 
        </div>
      </ion-card-content>

    </ion-card>
  </div>

      
</ion-content>
