.interventionSearchbar {
width:90% ;
float:left; 
}

.specialiteSearchbar{
    width:90% ;
    float:left; 
    }

.patientMemo {
    background-color:  #f4f4f4;
    border-radius: 15px;
    margin:auto; 
    margin-top: 10px; 
    width:70%; 
    padding:1px; 
    font-size:12px; 
}

.chirurgieContainer {
    box-shadow: none;
    background-color:  #f4f4f4;
    border-radius: 10px; 
}


.specialiteChirurgie {
    font-size:12px !important; 

}

.classeContaminationChirurgie {
    font-size:12px !important; 
    font-weight: bold;
}

.nonRecommandee {
    background-color: #bce7e9;
    font-size:16px; 
}

.Recommandee {
    background-color: #ff6961;
    font-size:16px; 
}

.openIcon{
    width:10%;
    float:right; 
}

.chirurgiesubContainer {

}

.ATBchip{
    background-color:#f5d104;
    font-size:12px; 
    font-weight: bold;
    
}

.ATBAllergiechip{
    
    background-color:#f5d104;
    margin:auto;
}

.infoAntibioChirurgie{
    font-size: 10px !important; 
}