<ion-content>

          <!-- HEADER MENU  -->
          <div class="header"> 

            <div (click)="retourHome()" class="backButton">
            <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
            Retour
            </div>
  Gestion des voies aériennes</div>
              <br>
        
                    <!-- HEADER MON PATIENT  -->
    
              <ion-item color="turquoise-fonce"> 
                <ion-label>
                  <p class="MonPatient">{{sexeMF}} - {{ageLecture}} ans ( = {{AgeNum}} mois) - {{PoidsNum}} kg - {{Taille}} cm</p> 
                  <p class="MonPatient">Estomac {{EstomacOuiNon}} - Jeune {{DureeJeune}} h</p>
                  <p class="MonPatient">Allergie : {{Allergie}}</p></ion-label> 
              </ion-item>
          
              <br>
         <!-- END HEADER -->


    <ion-list> 
      <ion-item-group>
        <ion-item-divider (click)="ToggleVentilation()">
          <ion-label color="dark-turquoise">Ventilation
          <ion-icon *ngIf="!isShownVentilation" class= "OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownVentilation"  class= "OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
        </ion-label>
        </ion-item-divider> 

        <ion-card *ngIf="isShownVentilation" class="drogueContainer">
          <ion-item>
            <ion-label class="dispositifVentilation">Taille du filtre : {{TailleFiltre}} </ion-label></ion-item>
          <ion-item>
            <ion-label class="dispositifVentilation">Canule de Guédel & masque : {{CouleurCanuleMasque}}</ion-label></ion-item>
          <ion-item>
            <ion-label class="dispositifVentilation">Volume courant : <b>{{Volumecourant}} mL</b>
            <p class="dilutionDrogueInduction">pour 6 mL/kg</p></ion-label>
          </ion-item>
        </ion-card>
        
        <ion-item-divider (click)="ToggleIntubation()">
          <ion-label color="dark-turquoise">Intubation
          <ion-icon *ngIf="!isShownIntubation" class= "OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownIntubation" class= "OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
        </ion-label>
        </ion-item-divider> 

        <ion-card *ngIf="isShownIntubation" class="drogueContainer">
            <ion-item>
              <ion-label class="dispositifVentilation">Lame intubation : {{LameIntubation}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="dispositifVentilation">Taille de la sonde d'intubation : 
              <p class="dilutionDrogueInduction"> - Proposée selon l'âge : {{TailleSITage}} mm</p>
              <p class="dilutionDrogueInduction"> - Proposée selon le poids : {{TailleSITpoids}} mm</p></ion-label>
            </ion-item>


            <ion-item>
              <ion-label class="dispositifVentilation">Repère de fixation de la sonde : 
              <p class="dilutionDrogueInduction">Approx. : taille sonde x3 : {{RepereSITenfant}} </p>
              <p class="dilutionDrogueInduction"><b> - Repère dents : {{RepereSITdents}} cm</b></p>
              <p class="dilutionDrogueInduction"><b> - Repère nez : {{RepereSITnez}} cm</b></p>
            </ion-label>
              </ion-item>
        </ion-card>
          

        <ion-item-divider (click)="ToggleMasqueLarynge()">
          <ion-label color="dark-turquoise">Masque laryngé
          <ion-icon *ngIf="!isShownMasqueLarynge" class= "OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownMasqueLarynge" class= "OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
        </ion-label>
        </ion-item-divider> 

        <ion-card *ngIf="isShownMasqueLarynge" class="drogueContainer">
            <ion-item>
              <ion-label class="dispositifVentilation">Taille de masque : {{TailleMasqueLarynge}}
              </ion-label>
              </ion-item>
        </ion-card>


        <ion-item-divider (click)="ToggleIntubationDifficile()">
          <ion-label color="danger">Intubation difficile
          <ion-icon *ngIf="!isShownIntubationDifficile" class= "OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownIntubationDifficile" class= "OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
        </ion-label>
        </ion-item-divider> 

        <ion-card class="IOTdifficile" *ngIf="isShownIntubationDifficile">
              
              <ion-card-content class="dispositifVentilation">
                <p><b>RFE SFAR 2018</b></p>
                <p><b>- IOT difficile non prévue : </b></p>
                <br>
                <p>En cas de ventilation ou d'intubation difficile non prévue, utiliser un dispositif de 
                 ventilation supra-glottique pour tenter d'assurer la ventilation de l'enfant.</p>
                 <br>
               
                <p><b>- IOT difficile prévue : </b></p>
                <br>
                <p>Il est probablement recommandé d’utiliser un vidéolaryngoscope en première
                intention chez les patients avec intubation difficile prévue et ventilation au masque
                possible ou après échec de la laryngoscopie directe afin d’augmenter les chances de
                succès de l’intubation.</p>

              </ion-card-content>
        </ion-card>


  </ion-item-group>

  </ion-list>


</ion-content>
