<ion-header><br>
  <div class="header"> 

    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>

   ALR en pédiatrie</div>
   <br>
 
    </ion-header>

<ion-content>

  <ion-card color="turquoise-fonce">
    <ion-card-content>  Objectifs : 
      <p class="dilutionDrogueInduction"> - Optimiser l'analgésie.</p> 
      <p class="dilutionDrogueInduction"> - Réduire la consommation de morphiniques.</p>
      <p class="dilutionDrogueInduction"> - Favoriser la réhabilitation précoce.</p></ion-card-content>
  </ion-card>

  <ion-item><ion-label color="danger">Antiseptique<p class="comment">Utiliser la chlorexidine avant l'âge de 3 mois.<br>La bétadine alcoolique peut être utilisée pour les enfants plus âgés.</p> 
  </ion-label>  </ion-item>

  <ion-item (click)="toggle1()"><ion-label color="turquoise-fonce">
    Immaturité physiologique & anatomique
    <ion-icon *ngIf="!isShown1" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
    <ion-icon *ngIf="isShown1" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
  </ion-label></ion-item>
  <div *ngIf="isShown1">
  <div padding>
  Clairance des anesthésiques locaux abaissée et concentration des formes circulantes libres augmentée :  
  <ul class="comment">
      <li>La posologie doit systématiquement être adaptée au poids de l'enfant ;</li>
      <li>Les risques de toxicités sont majorés en cas de réinjections itératives. </li>
    </ul>
    <hr>
  Fibre nerveuse en développement : 
  <ul class="comment">
    <li>Faible adhérence des gaines et aponévroses, myélinisation incomplète ;</li>
    <li>Meilleure diffusion des anesthésiques locaux, permettant l'utilisation de plus faibles concentrations ; </li>
    <li>Risque lésionnel majoré en cas de contact nerveux dans les blocs tronculaires. </li>
  </ul>
  <hr>
  Immaturité du système vasculaire et sympathique : 
  <ul class="comment">
    <li>Résistances vasculaires systémiques basales plus faibles ;</li>
    <li>Capacité veineuse des membres inférieures proportionnellement plus faible ; </li>
    <li>Effets hémodynamiques minorés suite à la réalisation d'une anesthésie loco-régionale péri-médullaire.</li>
  </ul>
</div></div>
  
  <ion-item (click)="toggle2()"><ion-label color="turquoise-fonce">
    Particularités techniques
    <ion-icon *ngIf="!isShown2" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
    <ion-icon *ngIf="isShown2" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
  </ion-label></ion-item>
  <div *ngIf="isShown2">
    <div padding>
    Réalisation d'une ALR :  
    <ul class="comment">
        <li>Mauvaise tolérance des ponctions vigiles chez l'enfant ;</li>
        <li>Les blocs à visée analgésique sont réalisés sous AG : le risque de lésion nerveuse est majoré ;</li>
        <li>Les dimensions sont plus faibles, les distances variables selon l'âge et le poids : utiliser du matériel adapté (aiguilles, sondes d'échographie).</li>
      </ul>
      <hr>
    Analgésie périmédullaire : 
    <ul class="comment">
      <li>Ossification incomplète des vertèbres : attention au risque de pénétration et d'injection intra-osseuse, qui correspond à une injection intravasculaire ;</li>
      <li>Terminaison médullaire abaissée jusqu'à 1 an  ; </li>
      <li>Lordose lombaire inexistante avant  9 mois : adapter l'orientation de l'aiguille. </li>
    </ul>
  </div></div>

  <ion-item (click)="toggle3()"><ion-label color="turquoise-fonce">
    Avantages et limites
    <ion-icon *ngIf="!isShown3" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
    <ion-icon *ngIf="isShown3" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
  </ion-label></ion-item>
  <div *ngIf="isShown3">
    <div padding>
    Avantages :  
    <ul class="comment">
        <li>Réduction du stress lié à la prise en charge ;</li>
        <li>Réduction des NVPO ;</li>
        <li>Epargne morphinique, d'un intérêt tout particulier chez le nouveau-né et le prématuré (apnées) ; </li>
        <li>Réduction des besoins ventilatoires.</li>
      </ul>
      <hr>
    Contre-indications : 
    <ul class="comment">
      <li>Refus de l'enfant ou des parents ;</li>
      <li>Allergie aux anesthésiques locaux ;</li>
      <li>Trouble de l'hémostase majeur, notamment pour l'analgésie périmédullaire ;</li>
      <li>Contexte septique local ou systémique non contrôlé. </li>
    </ul>
    <hr>
  </div></div>


  <ion-item (click)="toggle4()"><ion-label color="turquoise-fonce">
    Particularités en orthopédie
    <ion-icon *ngIf="!isShown4" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
    <ion-icon *ngIf="isShown4" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
  </ion-label></ion-item>
  <div *ngIf="isShown4">
    <div padding style="text-align: justify;">
    Les particularités anatomiques du tiers proximal de jambe et de tout l'avant-bras impliquent un risque accru de syndrome des loges (SDL) en période périopératoire. 
    Une <b>surveillance attentive</b> des signes cliniques évocateurs de SDL est de rigueur. L'ALR efficace tend à rendre cette surveillance plus difficile. 
    L'ALR n'est pas contre-indiquée dans ces situations mais implique une évaluation du rapport bénéfice-risque avec l'opérateur et une utilisation de faibles concentrations d'anesthésique locaux, en évitant les adjuvants.   
   <br>
   <br>
   Il convient de prévoir systématiquement l'administration d'antalgiques par voie systémique en per- et post-opératoire, même en l'absence totale de douleur, pour prévenir le réveil douloureux à la levée du bloc analgésique. 
      <hr>
  </div></div>

  <ion-item (click)="toggle5()"><ion-label color="turquoise-fonce">
    Injection unique
    <ion-icon *ngIf="!isShown5" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
    <ion-icon *ngIf="isShown5" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
  </ion-label></ion-item>
  <div *ngIf="isShown5">
    <div padding style="text-align: justify;">
    Choix du produit : préférer la Levobupivacaïne à la Ropivacaïne, car la durée d'action est probablement supérieure à dose équivalente
      <br><br>
    Calculs de dose 
    <ul class="comment">
      <li>Le calcul de dose se base sur le <b>poids idéal théorique</b> de l'enfant</li>
      <li>Les doses <b>maximales en injection unique</b> à ne pas dépasser sont de <b>5 mg/kg pour la Lidocaïne</b> et de <b>2,5 mg/kg pour la Ropivacaïne et la Levobupivacaïne.</b></li>
    </ul>
    En pratique, les doses <b>maximales en injection unique</b> sont les suivantes : 
    <ul class="comment">
      <li>Lidocaïne 0,5% (5 mg/mL) : 1 mL/kg</li>
      <li>Lidocaïne 1% (10 mg/mL) : 0,5 mL/kg</li>
      <li>Lidocaïne 1,5% (mélange 50/50 de 1% et 2%) : 0,375 mL/kg</li>
      <li>Lidocaïne 2% (20 mg/mL) : 0,25 mL/kg</li>
      <li>Ropivacaïne 0,2% (2 mg/mL) : 1,25 mL/kg</li>
      <li>Levobupivacaïne 0,25% (2,5 mg/mL) : 1 mL/kg</li>
    </ul>
    Adjuvants :
    <ul class="comment">
      <li>Clonidine : 1 µg/kg de poids idéal théorique. Prolonge l'analgésie et optimise la qualité du bloc sensitif. Ne pas utiliser en période néonatale, prendre en compte les effets secondaires notamment la bradycardie. RFE SFAR 2016.</li>
      <li>Dexaméthasone : pas de recommandation SFAR à ce jour (2022).</li>
    </ul>
      <hr>
  </div></div>


  <ion-item (click)="toggle6()"><ion-label color="turquoise-fonce">
    Cathéter péri-nerveux
    <ion-icon *ngIf="!isShown6" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
    <ion-icon *ngIf="isShown6" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
  </ion-label></ion-item>
  <div *ngIf="isShown6">
    <div padding style="text-align: justify;">
      Critères pour envisager la pose : 
      <ul class="comment">
        <li>Discussion avec l'opérateur sur la balance bénéfice-risque</li>
        <li>Geste unilatéral</li>
        <li>Durée d'hospitalisation post-opératoire prévue > 24h</li>
        <li>Retrait dans un délai de 48 à 72h</li>
        <li>Absence d'immobilisation plâtrée ou plâtre ne rendant pas impossible (1) la surveillance du point d'entrée cutané du cathéter et (2) le retrait du cathéter</li>
      </ul>
      <br>
      Fixation du cathéter : 
      <ul class="comment">
        <li>Option 1 : Colle cutanée (type Dermabond, évitant la fuite d'anesthésique local) + Stéritrips + Tégaderm, renforcé par des bandes adhésives Tensoplast</li>
        <li>Option 2 : LOCK-IT Plus + Tégaderm, renforcé par des bandes adhésives type Tensoplast. Attention au risque de plicature des cathéters de pédiatrie dans le LOCK-IT.</li>
      </ul>
      Modalités d'administration : 
      <ul class="comment">
        <li>Utiliser exclusivement la Ropivacaïne 0,2% ou la Levobupivacaïne 0,125%</li>
        <li>Privilégier la pompe électronique à l'infuseur élastomérique, surtout chez le petit enfant</li>
        <li>Privilégier les débits continus + bolus par PCA (ou NCA chez le petit enfant)</li>
        <li>Démarrer le débit continu une heure après le bolus d'induction</li>
      </ul>
      <br>
      Doses maximales en administration continue 
      <ul class="comment">
        <li>Avant 2 ans : 0,2 mg/kg/h soit 0,1 mL/kg/h de Ropivacaïne 0,2% et 0,15 mL/kg/h de Levobupivacaïne 0,125%</li>
        <li>Après 2 ans : 0,4 mg/kg/h soit 0,2 mL/kg/h de Ropivacaïne 0,2% et 0,3 mL/kg/h de Levobupivacaïne 0,125% ; sans dépasser 18,75 mg/h et 400 mg/24h</li>
      </ul>

     
     
     
    

      <hr>
  </div></div>





 

</ion-content>
