<ion-header><br>
  <div class="header"> 

    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>TAP bloc</div>
   <br>
 
    </ion-header>

    <ion-content>
                <ion-card color="turquoise-fonce">
                  <ion-card-header (click)="toggleIndications()">
                    Indications
                    <ion-icon *ngIf="!isShownIndications" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
                    <ion-icon *ngIf="isShownIndications" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
                  </ion-card-header>
                  <ion-card-content *ngIf="isShownIndications"> 
                    <ul>
                      <li>Chirurgie abdominale et gynécologique par laparotomie.</li>
                      <li>Chirurgie appendiculaire et herniaire.</li>
                      </ul> 
                  </ion-card-content>
                </ion-card>
          
                <ion-card>
                  <ion-card-header (click)="toggleTechnique()">
                    Technique
                    <ion-icon *ngIf="!isShownTechnique" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
                    <ion-icon *ngIf="isShownTechnique" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
                  </ion-card-header>
                  <ion-card-content *ngIf="isShownTechnique" style="text-align: justify;">
                    Bloc réalisé sous échographie, en utilisant la sonde haute fréquence linéaire ou la sonde "club de Golf". 
                    <br>
                    Repérage des muscles de la paroi abdominale, latéralement et au dessus de l'ombilic, puis ponction <i>in plane</i> latéro-médiale permettant de positionner l'aiguille en arrière de l'oblique interne et en avant du transverse.
                  </ion-card-content>
                </ion-card>


                <ion-card color="warning">
                  <ion-card-header (click)="togglePosologie()">
                    Posologie
                    <ion-icon *ngIf="!isShownPosologie" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
                    <ion-icon *ngIf="isShownPosologie" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
                  </ion-card-header>
                  <ion-card-content *ngIf="isShownPosologie">
                    - Ropivacaïne 2 mg/mL jusqu'à 6 ans et 30 kg, 0,5 mL/kg/côté. <br>
                    - Ropivacaïne 3,75 mg/mL au-delà de 6 ans et 30 kg, 0,5 mL/kg/côté.
                  </ion-card-content>
                </ion-card>

                <ion-card>
                  <ion-card-header (click)="toggleLegend()">Imagerie
                    <ion-icon *ngIf="!hasLegend" class="OpenCloseIcon" color="dark-turquoise" name="eye"></ion-icon>
                    <ion-icon *ngIf="hasLegend" class="OpenCloseIcon" color="dark-turquoise" name="eye-off"></ion-icon>
                  </ion-card-header>
                <ion-card-content>
                  <div style="float:right ; margin-right:20px">
                    </div>
                  <img *ngIf="!hasLegend" src="assets/imgs/tap_nolegende.png">
                <img *ngIf="hasLegend" src="assets/imgs/tap_legende.png">
                </ion-card-content>
                </ion-card>  
          </ion-content>