<ion-header><br>
  <div class="header"> 

    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>Bloc supra-claviculaire</div>
   <br>
 
    </ion-header>
    
        <ion-content>
    
          <ion-card color="turquoise-fonce">
            <ion-card-header (click)="toggleIndications()">
              Indications
              <ion-icon *ngIf="!isShownIndications" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
              <ion-icon *ngIf="isShownIndications" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
            </ion-card-header>
            <ion-card-content *ngIf="isShownIndications"> 
              <ul>
                <li>Chirurgie du coude.</li>
                <li>Chirurgie de l'avant-bras.</li>
                <li>Chirurgie de la main.</li>
                </ul> 
            </ion-card-content>
          </ion-card>
    
          <ion-card>
            <ion-card-header (click)="toggleTechnique()">
              Technique
              <ion-icon *ngIf="!isShownTechnique" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
              <ion-icon *ngIf="isShownTechnique" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
            </ion-card-header>
            <ion-card-content *ngIf="isShownTechnique" style="text-align: justify;">
              Bloc échoguidé utilisant la sonde haute fréquence large.
              <br>
              Installation du patient en position dorsale, la tête légèrement tournée du côté controlatéral             
              <br>
              Poser la sonde dans la fosse supraclaviculaire parallèlement à la clavicule, pour obtenir une coupe transverse de l’artère subclavière et du plexus brachial.
              <br>
              Identifier, de l’intérieur vers l’extérieur, l’artère subclavière, la première côte, la plèvre et le plexus brachial, situé sur la face latérale de l’artère, au-dessus de la première côte. Les nerfs se présentent sous forme d’une grappe de raisins ronds ou ovales, hypoéchogènes.
              <br>
              Incliner la sonde en direction caudale, jusqu’à l’obtention d’une image optimale de l’artère subclavière posée <b>sur la première côte</b> ; l’image de l’artère subclavière posée sur la plèvre doit être rejetée en raison du risque de pneumothorax. L’inclinaison caudale de la sonde permet de visualiser l’artère et le plexus posés sur la première côte. A l’inverse, l’inclinaison céphalique offre régulièrement une image montrant l’artère et le plexus posés sur la plèvre.
              <br>
              Insérer l’aiguille dans le plan au niveau de l’extrémité latérale de la sonde en direction de l’angle formé par l’artère et la première côte. Injecter la moitié de l’AL et observer la surélévation de l’artère subclavière. Repositionner l’aiguille dans la moitié supérieure du plexus et injecter l’autre moitié de l’AL.
            </ion-card-content>
          </ion-card>
    

          <ion-card color="turquoise-fonce">
            <ion-card-header (click)="toggleKTPN()">
              Bloc continu
              <ion-icon *ngIf="!isShownKTPN" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
              <ion-icon *ngIf="isShownKTPN" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
            </ion-card-header>
            <ion-card-content *ngIf="isShownKTPN"> 
              L’approche dans le plan est recommandée. L’aiguille doit être dirigée vers l’angle latéral formé par l’artère et la première côte.
            </ion-card-content>
          </ion-card>

          <ion-card color="warning">
            <ion-card-header (click)="togglePosologie()">
              Posologie
              <ion-icon *ngIf="!isShownPosologie" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
              <ion-icon *ngIf="isShownPosologie" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
            </ion-card-header>
            <ion-card-content *ngIf="isShownPosologie">
              - A visée analgésique, Ropivacaïne 2 mg/mL, 1 mg/kg soit 0,5 mL/kg. 
            </ion-card-content>
          </ion-card>
    
            <!--
            <ion-item>
              <ion-label color="dark-turquoise">Imagerie  
                <div style="float:right ; margin-right:20px">
                <button ion-button color="dark-turquoise" *ngIf="!hasLegend" outline round small (click)="toggleLegend()"><ion-icon color="dark-turquoise" name="eye"></ion-icon></button>
                <button ion-button color="dark-turquoise" *ngIf="hasLegend" outline round small (click)="toggleLegend()"><ion-icon color="dark-turquoise" name="eye-off"></ion-icon></button>
              </div>
              </ion-label>
            </ion-item>
            <img *ngIf="!hasLegend" src="assets/imgs/tap_nolegende.png">
            <img *ngIf="hasLegend" src="assets/imgs/tap_legende.png">
            -->

    </ion-content>