
.lightbulb
{
    width:15% !important;
    margin-right: 10px; 
    display: inline-block; 
    vertical-align: middle;
}

.astucediv {
    
    display:inline-block; 
    width:auto; 
    vertical-align:middle;
    font-size: 8 px !important; 
}


.astucepara {
    
    display:inline-block; 
    width:80%; 
    vertical-align:middle;
}

