.scoreSplitter{
font-size:16px !important; 
text-align:center;
color:  #009c9e !important;
}

.reference{
    font-size: 10px !important; 
    background-color: #c8ceceb6;
    border-radius: 15px;
    padding: 8px; 
}



.strategie  {
    width: 95% !important; 
    font-size: 12px !important;
    text-align: center !important; 
    vertical-align: center !important;
    margin-top: 15px !important;
    padding-top: 5px !important;     
    padding-bottom: 5px !important; 
    padding-right : 1px !important;
    padding-left : 1px !important;  
    border-radius: 15px;
    color:white !important;
    background-color:#009c9e !important;
}

.EVENDOLlabel {
    font-size: 10px !important; 
    float: left !important;
    width:60% !important; 
}

.EVENDOLrange {
    width: 40% !important; 
    float: right !important; 
}