.reference {
  font-size:10px !important; 
  background-color: #f4f4f4; 
  border-radius: 10%;
  padding:2%;
}

.strategie {
  margin:5%;
  font-size:12px !important; 
  color:#ffffff !important;
  background-color: #85D0D2; 
  border-radius:10px;
  padding:2%;
}