<ion-content>

  <div class="header"> 

    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>

Traitements anti-infectieux</div>
      <br>

      <ion-item color="turquoise-fonce"> 
        <ion-label>
          <p class="MonPatient">{{sexeMF}} - {{ageLecture}} ans ( = {{AgeNum}} mois) - {{PoidsNum}} kg - {{Taille}} cm</p> 
          <p class="MonPatient">Estomac {{EstomacOuiNon}} - Jeune {{DureeJeune}} h</p>
          <p class="MonPatient">Allergie : {{Allergie}}</p></ion-label> 
      </ion-item>
  
      <br>


  <ion-item-divider (click)="ToggleIndications()" >
    <ion-label color="dark-turquoise">Antibioprophylaxie : indications
  <ion-icon *ngIf="!isShownIndications" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
  <ion-icon *ngIf="isShownIndications" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
    </ion-label>
  </ion-item-divider> 

  <ion-card *ngIf="isShownIndications" class="drogueContainer">
    En cours de développement
    </ion-card>

  <ion-item-divider (click)="TogglePosologies()" >
    <ion-label color="dark-turquoise">Antibioprophylaxie : posologies
  <ion-icon *ngIf="!isShownPosologies" class="OpenCloseIcon" name="open" style="zoom:0.9"></ion-icon>
  <ion-icon *ngIf="isShownPosologies" class="OpenCloseIcon" name="close"  style="zoom:0.9"></ion-icon>
    </ion-label>
  </ion-item-divider> 

  <ion-card *ngIf="isShownPosologies" class="drogueContainer">

  <ion-item class="avecAMM">         
    <ion-label class="drogueInduction" color="dark">
      <p class="dilutionDrogueInduction">Posologie proposée : 50 mg/kg sans dépasser 2g</p>
      Amoxicilline-Acide Clavulanique (Augmentin®) : {{AdminAugmentin}} mg IVL
    <p class="dilutionDrogueInduction">Réinjection demi-dose : {{ReInjAugmentin}} mg IVL toutes les 2h </p>
  </ion-label>
    </ion-item>
    <div class="AMM">Attention : ne pas dépasser 20 mg/kg/j d'acide clavulanique (<b>{{MaxAcideClavulanique}} mg</b>).</div>

    <ion-item>         
      <ion-label class="drogueInduction" color="dark"> 
        <p class="dilutionDrogueInduction">Posologie proposée : 40 mg/kg sans dépasser 1.5g</p>
          Céfamandole : {{AdminCefamandole}} mg IVL
      <p class="dilutionDrogueInduction">Réinjection demi-dose : {{ReInjCefamandole}} mg IVL toutes les 2h</p>
    </ion-label>
      </ion-item> 

      <ion-item>         
        <ion-label class="drogueInduction" color="dark">
         
          <p class="dilutionDrogueInduction">Posologie proposée : 50 mg/kg sans dépasser 2g</p>
          Céfazoline : {{AdminCefazoline}} mg IVL
        <p class="dilutionDrogueInduction">Réinjection demi-dose : {{ReInjCefazoline}} mg IVL toutes les 4h </p>
      </ion-label>
        </ion-item> 

        <ion-item>         
          <ion-label class="drogueInduction" color="dark">
            <p class="dilutionDrogueInduction">Posologie proposée : 15 mg/kg sans dépasser 600 mg</p>
            Clindamycine: {{AdminClindamycine}} mg IVL
          <p class="dilutionDrogueInduction">Réinjection demi-dose : {{ReInjClindamycine}} mg IVL toutes les 4h</p>
        </ion-label>
          </ion-item> 

          <ion-item>         
            <ion-label class="drogueInduction" color="dark">
              <p class="dilutionDrogueInduction">Posologie proposée : 3 mg/kg sans dépasser 160 mg</p>
              Gentamicine : {{AdminGentamicine}} mg IVL
            <p class="dilutionDrogueInduction">Pas plus d'une injection par jour, attention à adapter chez l'insuffisant rénal</p>
          </ion-label>
            </ion-item> 

            <ion-item>         
              <ion-label class="drogueInduction" color="dark">
                <p class="dilutionDrogueInduction">Posologie proposée : 20 mg/kg sans dépasser 1000 mg</p>
                Métronidazole (Flagyl®) : {{AdminMetronidazole}} mg IVL
              <p class="dilutionDrogueInduction">Réinjection demi-dose : {{ReInjMetronidazole}} mg IVL toutes les 8h</p>
            </ion-label>
              </ion-item> 

              <ion-item>         
                <ion-label class="drogueInduction" color="dark">
                  <p class="dilutionDrogueInduction">Posologie proposée : pour 15 mg/kg sans dépasser 2000 mg</p>
                  Vancomycine : {{AdminVancomycine}} mg IVL sur 30 minutes ou IVSE
                  <p class="dilutionDrogueInduction">Réinjection pleine dose : {{ReInjVancomycine}} mg IVL toutes les 12h</p>
              </ion-label>
                </ion-item> 
          </ion-card>
</ion-content>
