.algoPEC{
    text-align: center;
    box-shadow:none; 

}

.bigNumber
{
    font-size: 26px; 
    width:40px;
    height: 40px;  
    float:left;
    border-radius:50%;
    background-color: white; 
    text-align:center;
    color:#ff6961; 
    padding:0px; 
}

.bigTitle
{
    font-size: 18px; 
    width:80%; 
    float:left; 
    color:#ff6961; 
    padding-top:10px; 
    padding-left: 5px; 
}

.timeAlgo {
    width: 40%;
    float:left; 
    font-size:12px;
    color:  black; 
}

.algoText{
    color: black;
    font-size:12px; 
    padding:5px; 
    width:100%; 
    float:left;
}

.algoButtonContainer {
    width: 20%; 
    float:right; 
    margin-right:2%;
    box-shadow:none; 
    margin-bottom: 10px;  

}

.algoTitleContainer {
    width:75%; 
    float:left;
    margin-bottom: 10px;  
}

.algoHTMcard {
background-color: white; 
border-radius: 10px;
}

.arrowDown {
    width: 20%; 
    margin: auto; 
    text-align: center; 
    color:white; 
}

.checkboxAlgo {
    width:30px;
    height: 30px;
    border-radius:5px;  
    background-color:   white; 
    color: #ff6961;
    float: right; 
    text-align:center; 
    padding:2px; 
    margin-top: -10px;
}

.finAlgo{
    text-align:center; 
    color: white; 
}