
.lightbulb
{
    width:15% !important;
    margin-right: 10px; 
    display: inline-block; 
    vertical-align: middle;
}

.subHeaderRow {
    background-color: #f4f4f4;
}

.astucediv {
    
    display:inline-block; 
    width:auto; 
    vertical-align:middle;
    font-size: 8 px !important; 
}


.astuce {
    
    display:inline-block; 
    width:80%; 
    vertical-align:middle;
    font-size: 12px !important;
}

.tableauALR {
    font-size: 12px !important;
}
