<ion-header>
  <br>

        <!-- HEADER MENU  -->
        <div class="header"> 

          <div (click)="retourHome()" class="backButton">
          <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
          Retour
          </div>
          ALR</div><br>

            <ion-toolbar>

              <ion-searchbar *ngIf = "!this.searchBarType"
              class="interventionSearchbar"
              [(ngModel)]="searchTerm"
              (ionChange)="setFilteredChirurgie()"
              placeholder="Intervention..."
              inputmode="text"
            ></ion-searchbar><br *ngIf = "!this.searchBarType"><ion-icon *ngIf = "!this.searchBarType" zoom:1.5 name="swap" (click)="toggleSearchBars()"></ion-icon>
            
            <ion-searchbar *ngIf = "this.searchBarType"
            class="specialiteSearchbar"
            [(ngModel)]="searchTermSpecialite"
            (ionChange)="setFilteredSpecialite()"
            placeholder="Specialite..."
            inputmode="text"
            ></ion-searchbar><br *ngIf = "this.searchBarType"><ion-icon *ngIf = "this.searchBarType" zoom:1.5 name="swap" (click)="toggleSearchBars()"></ion-icon>
            
            
            
            </ion-toolbar>


              </ion-header>
       <!-- END HEADER -->


<ion-content>
        <div padding class="patientHighlight">
          Enfant de <span *ngIf="AgeNum <= 24">{{AgeNum}} mois</span><span *ngIf="AgeNum > 24">{{ageLecture}} ans</span> et {{PoidsNum}} kg
          <br> Allergie : <span *ngIf="!Allergie">non renseigné</span> <span *ngIf="Allergie">{{Allergie}}</span>
        </div>        


        <div *ngIf="!searchTerm && !searchTermSpecialite">

          <ion-card (click)="openPageGeneralites()" class="drogueContainer">
            <ion-card-content  class="cardRecos">
            <div class="headerProtocoles">
              Particularités de l'ALR en pédiatrie
            </div>
            <hr>
            <div class="contentProtocoles">
              <ion-icon start name="bulb"></ion-icon> &nbsp; <b>Généralités</b>
            </div>
            </ion-card-content>
            </ion-card>  
    
          <hr>

          <ion-card (click)="openPageAPD()" class="drogueContainer">
            <ion-card-content  class="cardRecos">
            <div class="headerProtocoles">
              Pose de cathéter d'anesthésie péridurale lombaire
            </div>
            <hr>
            <div class="contentProtocoles">
              <ion-icon start name="pin"></ion-icon> &nbsp; <b>Anesthésie péridurale</b>
            </div>
            <hr>
            <div>
            <div class="ALRCalculatorDiv"> 
            <div class="ALRCalculatorIcon"><ion-icon start style="zoom:2" name="calculator"></ion-icon></div>
              Ropivacaïne 1 mg/mL + Sufentanil 0,25 µg/mL<br>
              PIEB : {{BolusPIEBRopiSuf}} mL/h - PCEA : {{BolusPCEARopiSuf}} mL/bolus<br>
              PR : 20 minutes - Dose max. : {{DoseMaxPCEARopiSuf}} mL/4h
            </div>
          </div>
            </ion-card-content>
            </ion-card>  
    
          <hr>

          <ion-card (click)="openPageBlocAxillaire()" class="drogueContainer">
            <ion-card-content  class="cardRecos">
            <div class="headerProtocoles">
            Bloc du plexus brachial au creux axillaire
            </div>
            <hr>
            <div class="contentProtocoles">
              <ion-icon start name="pin"></ion-icon> &nbsp; <b>Bloc axillaire</b>
            </div>
            <hr>
            <div>
            <div class="ALRCalculatorDiv"> 
            <div class="ALRCalculatorIcon"><ion-icon start style="zoom:2" name="calculator"></ion-icon></div>
            A visée analgésique : Ropivacaïne 2 mg/mL : xxx mL <br>  
            A visée anesthésique : Carbocaïne 20 mg/mL : xxx mL 
            </div>
          </div>
            </ion-card-content>
            </ion-card>  
    
          <hr>



        <ion-card (click)="openPageALR(index)" class="drogueContainer" *ngFor="let entry of pagesALR, let index = index">
          <ion-card-content  class="cardRecos">
          <div class="headerProtocoles">
            {{entry.soustitre}}
          </div>
          <hr>
          <div class="contentProtocoles">
            <ion-icon start name="pin"></ion-icon> &nbsp; <b>{{entry.titre}}</b>
          </div>
          <hr>
          <div> 
            <span style="color:#009c9e">{{entry.produit1}} : {{entry.posologie1 * PoidsNum}} mL/côté</span>
            <span style="color:#009c9e">{{entry.produit2}} : {{entry.posologie2 * PoidsNum}} mL/côté</span>
          </div>
          </ion-card-content> 
          </ion-card>  

        </div>


        <!-- SEULEMENT EN CAS DE RECHERCHE DONC SI RESULTAT-->

          <div *ngIf="searchTerm || searchTermSpecialite">

            <div class="detersion" *ngIf="AgeNum <= 3">Détersion cutanée : chlorexidine avant 3 mois</div>
            <div class="detersion" *ngIf="AgeNum > 3">Détersion cutanée : bétadine jaune après 3 mois</div>


            <ion-card padding class="chirurgieContainer" *ngFor="let chir of chirurgie, let index = index" [attr.data-index]="index">
                 
              <!--  ALR NON -->
              <div class="comment" *ngIf="chir.recommandationALR == 'Non recommandée'">
                  <ion-chip class="ALRnonRecommandee">
                    <ion-label>{{chir.intitule}} </ion-label>
                  </ion-chip><ion-icon name="radio-button-off" style="zoom:2.5; float: right; color:darkgrey"></ion-icon>
                  <br>
                  <span>Specialité : {{chir.specialite}}</span>
                  <br>
                  <span>Suggestion : <b>ALR non recommandée</b></span>
                  <br>
                  <span *ngIf="chir.commentaire">Remarque : {{chir.commentaire}}</span>
                </div>

                <!--  ALR OUI -->
        
                  <div class="comment" *ngIf="chir.recommandationALR == 'Recommandée'">
                    <div>
                    <ion-chip class="ALRRecommandee">
                    <ion-label>{{chir.intitule}}</ion-label>
                  </ion-chip>
                  <ion-icon name="checkmark-circle" style="zoom:2.5; float: right; color:#009c9e"></ion-icon>
                  <br>
                  <span>Specialité : {{chir.specialite}}</span>
                  <br>
                  <span>Suggestion : <b>ALR recommandée</b></span>
                  <br>
                  <span *ngIf="chir.commentaire">Remarque : {{chir.commentaire}}</span>
                </div>
                
                  <!-- Technique A-->  
                <div *ngIf="chir.techniqueproposeeA">
                <hr style="height:2px">
                <span class="specialiteChirurgie">1. <b>{{chir.techniqueproposeeA}}</b></span><br>
                <span *ngIf="chir.commentairetechniqueB" class="comment">{{chir.commentairetechniqueA}}<br></span> 
                
                <span *ngIf="chir.produitALR1A" class="comment"><u>Produit</u> : <span style="color:#009c9e; font-weight:bold;">{{chir.produitALR1A}}</span>.</span> 
                <br *ngIf="chir.produitALR2A">
                <span *ngIf="chir.produitALR2A" class="comment"><u>Alternative produit</u> : <span style="color:#009c9e; font-weight:bold;">{{chir.produitALR2A}}</span>.</span>
                <br>
                <span *ngIf="chir.adjuvantALRA" class="comment">Adjuvant proposé : {{chir.adjuvantALRA}}.</span>
              </div>

                <!-- Technique B--> 
                 <div *ngIf="chir.techniqueproposeeB">
                  <hr style="height:2px">
                 <span *ngIf="chir.techniqueproposeeB" class="specialiteChirurgie">2. <b>{{chir.techniqueproposeeB}}</b></span> <br>
                 <span *ngIf="chir.commentairetechniqueB" class="comment">{{chir.commentairetechniqueB}}<br></span> 
                 
                 <span *ngIf="chir.produitALR1B" class="comment"><u>Produit</u> : <span style="color:#009c9e; font-weight:bold;">{{chir.produitALR1B}}</span>.</span>
                 <br *ngIf="chir.produitALR2B">
                 <span *ngIf="chir.produitALR2B" class="comment"><u>Alternative produit</u> : <span style="color:#009c9e; font-weight:bold;">{{chir.produitALR2B}}</span>.</span>
                 <br> 
                 <span *ngIf="chir.adjuvantALRB" class="comment">Adjuvant proposé : {{chir.adjuvantALRB}}.</span>
                 <br>
                </div> 
              </div>
                
                                <!--  ALR A DISCUTER -->


                <div class="comment" *ngIf="chir.recommandationALR == 'A discuter'">
                  <div>
                  <ion-chip class="ALRAdiscuter">
                    <ion-label>{{chir.intitule}}</ion-label>
                  </ion-chip>
                  <ion-icon name="help-circle" style="zoom:2.5; float: right; color:#FFA500"></ion-icon>
                  <br>
                  <span>Specialité : {{chir.specialite}}</span>
                  <br>
                  <span>Suggestion : <b>Discuter l'intérêt d'une ALR</b></span>
                  <br>
                  <span *ngIf="chir.commentaire">Remarque : {{chir.commentaire}}</span>
                </div>
                
                  <!-- Technique A-->  
                <div *ngIf="chir.techniqueproposeeA">
                <hr style="height:2px">
                <span class="specialiteChirurgie">1. <b>{{chir.techniqueproposeeA}}</b></span><br>
                <span *ngIf="chir.commentairetechniqueA" class="comment">{{chir.commentairetechniqueA}}<br></span>
                <span *ngIf="chir.produitALR1A" class="comment"><u>Produit</u> : <span style="color:#009c9e; font-weight:bold;">{{chir.produitALR1A}}</span>.</span> 
                <br *ngIf="chir.produitALR2A">
                <span *ngIf="chir.produitALR2A" class="comment"><u>Alternative produit</u> : <span style="color:#009c9e; font-weight:bold;">{{chir.produitALR2A}}</span>.</span>
                <br>
                <span *ngIf="chir.adjuvantALRA" class="comment">Adjuvant proposé : {{chir.adjuvantALRA}}.</span>
              </div>

                <!-- Technique B--> 
                 <div *ngIf="chir.techniqueproposeeB">
                  <hr style="height:2px">
                 <span *ngIf="chir.techniqueproposeeB" class="specialiteChirurgie">2. <b>{{chir.techniqueproposeeB}}</b></span> <br>
                 <span *ngIf="chir.commentairetechniqueB" class="comment">{{chir.commentairetechniqueB}}<br></span> 
                 <span *ngIf="chir.produitALR1B" class="comment"><u>Produit</u> : <span style="color:#009c9e; font-weight:bold;">{{chir.produitALR1B}}</span>.</span>
                 <br *ngIf="chir.produitALR2B">
                 <span *ngIf="chir.produitALR2B" class="comment"><u>Alternative produit</u> : <span style="color:#009c9e; font-weight:bold;">{{chir.produitALR2B}}</span>.</span>
                 <br> 
                 <span *ngIf="chir.adjuvantALRB" class="comment">Adjuvant proposé : {{chir.adjuvantALRB}}.</span>
                 <br>
                </div> 
              </div>



              </ion-card>
              </div>
</ion-content>

