<ion-header>
  <br>

        <!-- HEADER MENU  -->
        <div class="header"> 

          <div (click)="retourHome()" class="backButton">
          <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
          Retour
          </div>
          ALR</div><br>

            <ion-toolbar>

              <ion-searchbar *ngIf = "!this.searchBarType"
              class="interventionSearchbar"
              [(ngModel)]="searchTerm"
              (ionChange)="setFilteredChirurgie()"
              placeholder="Intervention..."
              inputmode="text"
            ></ion-searchbar><br *ngIf = "!this.searchBarType"><ion-icon *ngIf = "!this.searchBarType" zoom:1.5 name="swap" (click)="toggleSearchBars()"></ion-icon>
            
            <ion-searchbar *ngIf = "this.searchBarType"
            class="specialiteSearchbar"
            [(ngModel)]="searchTermSpecialite"
            (ionChange)="setFilteredSpecialite()"
            placeholder="Specialite..."
            inputmode="text"
            ></ion-searchbar><br *ngIf = "this.searchBarType"><ion-icon *ngIf = "this.searchBarType" zoom:1.5 name="swap" (click)="toggleSearchBars()"></ion-icon>
            
            
            
            </ion-toolbar>


              </ion-header>
       <!-- END HEADER -->


<ion-content>
        <div padding class="patientHighlight">
          Enfant de <span *ngIf="AgeNum <= 24">{{AgeNum}} mois</span><span *ngIf="AgeNum > 24">{{ageLecture}} ans</span> et {{PoidsNum}} kg
          <br> Allergie : <span *ngIf="!Allergie">non renseigné</span> <span *ngIf="Allergie">{{Allergie}}</span>
        </div>        


        <div *ngIf="!searchTerm && !searchTermSpecialite">
          <ion-card (click)="openPageGeneralites()" class="drogueContainer">
            <ion-card-content  class="cardRecos">
            <div class="headerProtocoles">
              Particularités de l'ALR en pédiatrie
            </div>
            <hr>
            <div class="contentProtocoles">
              <ion-icon start name="bulb"></ion-icon> &nbsp; <b>Généralités</b>
            </div>
            </ion-card-content>
            </ion-card>  
          </div>

          <hr>

        <div *ngIf="!searchTerm && !searchTermSpecialite">
        <ion-card (click)="openPageALR(index)" class="drogueContainer" *ngFor="let entry of pagesALR, let index = index">
          <ion-card-content  class="cardRecos">
          <div class="headerProtocoles">
            {{entry.soustitre}}
          </div>
          <hr>
          <div class="contentProtocoles">
            <ion-icon start name="pin"></ion-icon> &nbsp; <b>{{entry.titre}}</b>
          </div>
          <hr>
          <div> 
            <span *ngIf="entry.critere1" style="color:#009c9e">{{entry.produit1}} : {{entry.posologie1 * PoidsNum}} mL/côté</span>
            <span *ngIf="entry.critere2" style="color:#009c9e">{{entry.produit2}} : {{entry.posologie2 * PoidsNum}} mL/côté</span>
          </div>
          </ion-card-content> 
          </ion-card>  

        </div>


        <!-- SEULEMENT EN CAS DE RECHERCHE DONC SI RESULTAT-->

          <div *ngIf="searchTerm || searchTermSpecialite">

            <div class="detersion" *ngIf="AgeNum <= 3">Détersion cutanée : chlorexidine avant 3 mois</div>
            <div class="detersion" *ngIf="AgeNum > 3">Détersion cutanée : bétadine jaune après 3 mois</div>


            <ion-card padding class="chirurgieContainer" *ngFor="let chir of chirurgie, let index = index" [attr.data-index]="index">
                  <div class="comment" *ngIf="chir.recommandationALR == 'Non recommandée'">
                  <ion-chip class="ALRnonRecommandee">
                    <ion-label>{{chir.intitule}} </ion-label>
                  </ion-chip>&nbsp; ALR non recommandée</div>
        
                  <div class="comment" *ngIf="chir.recommandationALR == 'Recommandée'">
                  <ion-chip class="ALRRecommandee">
                    <ion-label>{{chir.intitule}}</ion-label>
                  </ion-chip>&nbsp; ALR recommandée
                  <br>
                  <span *ngIf="chir.commentaire">{{chir.commentaire}}</span>
                </div>
                
                  <!-- Technique A produit 1 -->  
                <div *ngIf="chir.techniqueproposeeA">
                <hr style="height:2px">
                <span class="specialiteChirurgie">1. <b>{{chir.techniqueproposeeA}}</b></span><br>
                <span class="comment">{{chir.commentairetechniqueA}}</span> 
                <hr>
                <span *ngIf="chir.produitALR1A" class="comment"><u>Produit</u> : <span style="color:#009c9e; font-weight:bold;">{{chir.produitALR1A}}</span>. <br><u>Posologie</u> : {{chir.posologieALR1A}}.</span> 
                <br>
                <span class="comment"><u>Dose patient</u> : <span style="color:#009c9e; font-weight:bold;">{{PoidsRound * chir.posologieNumALR1A/chir.concentrationProduit1A}} mL (={{PoidsRound * chir.posologieNumALR1A}} mg)</span><span *ngIf="chir.commentairePosologieA">&nbsp;{{chir.commentairePosologieA}}</span>.</span> 
                <br>
                <span *ngIf="chir.dosetoxiqueALR1A" class="comment"><u>{{chir.commentaireDoseToxiqueA}}</u> : {{chir.dosetoxiqueALR1A}} - soit <span style="color:#ff6961; font-weight:bold;">{{PoidsRound * chir.dosetoxiqueNumALR1A}} mg (={{PoidsRound * chir.dosetoxiqueNumALR1A/chir.concentrationProduit1A}} mL)</span>.</span> 
                <br> 
                <span *ngIf="chir.adjuvantALRA" class="comment">Adjuvant proposé : {{chir.adjuvantALRA}} soit {{PoidsRound}} µg.</span>
                <hr style="height:2px">
              </div>

                <!-- Technique A produit 2 NON REMPLI POUR LE MOMENT -->  


                <!-- Technique B produit 1   --> 
                 <div *ngIf="chir.techniqueproposeeB">
                 <span *ngIf="chir.techniqueproposeeB" class="specialiteChirurgie">2. <b>{{chir.techniqueproposeeB}}</b></span> <br>
                 <span class="comment">{{chir.commentairetechniqueB}}</span> 
                 <hr>
                 <span *ngIf="chir.produitALR1B" class="comment"><u>Produit</u> : <span style="color:#009c9e; font-weight:bold;">{{chir.produitALR1B}}</span>. <br><u>Posologie</u> : {{chir.posologieALR1B}}.</span>
                 <br>
                 <span class="comment"><u>Dose patient</u> : <span style="color:#009c9e ; font-weight: bold;">{{PoidsRound * chir.posologieNumALR1B/chir.concentrationProduit1B}} mL (={{(PoidsRound * chir.posologieNumALR1B)}} mg)</span><span *ngIf="chir.commentairePosologieB">&nbsp;{{chir.commentairePosologieA}}</span>.</span> 
                 <br>
                 <span *ngIf="chir.dosetoxiqueALR1B" class="comment"><u>{{chir.commentaireDoseToxiqueB}}</u> : {{chir.dosetoxiqueALR1B}} - soit <span style="color:#ff6961; font-weight:bold;">{{PoidsRound * chir.dosetoxiqueNumALR1B}} mg (={{PoidsRound * chir.dosetoxiqueNumALR1B/chir.concentrationProduit1B}} mL)</span>.</span> 
                 <br> 
                 <span *ngIf="chir.adjuvantALRB" class="comment">Adjuvant proposé : {{chir.adjuvantALRB}} soit {{PoidsRound}} µg.</span>
                 <br>
                </div> 

                <!-- Technique B produit 2 NON REMPLI POUR LE MOMENT -->  

              </ion-card>
              </div>
</ion-content>

