.ALRnonRecommandee {
    background-color: #C0C0C0;
    font-size:16px; 
}

.ALRRecommandee {
    background-color: #85D0D2;
    font-size:16px; 
}



.lightbulb
{
    width:15% !important;
    margin-right: 10px; 
    display: inline-block; 
    vertical-align: middle;
}

.subHeaderRow {
    background-color: #f4f4f4;
}

.astucediv {
    
    display:inline-block; 
    width:auto; 
    vertical-align:middle;
    font-size: 8 px !important; 
}


.astuce {
    
    display:inline-block; 
    width:80%; 
    vertical-align:middle;
    font-size: 12px !important;
}

.tableauALR {
    font-size: 12px !important;
}

.detersion {
    width: auto;
    text-align: center;
    padding:6px; 
    background-color: #85D0D2;
    border-radius: 25px;
    margin: 10px; 
    color: #FFFFFF;
}

.pop-up{
    box-shadow: inset;
}
