<ion-content>

  <div class="header"> 

    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div> Antibiothérapie </div>
      <br>

      <div padding color="danger">   Les posologies proposées sont envisagées :
        <br>- pour la <b>pédiatrie</b> uniquement
        <br>- en antibio<b>thérapie</b>.</div>

      <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionChange)="setFilteredItems()"
    ></ion-searchbar>

  <ion-list>
    <ion-card *ngFor="let card of cards, let i = index" [attr.data-index]="i" padding="5%">

      <ion-item>
      <ion-label class="carteATB"><u>{{card.title}}</u>
          <ion-toggle class="toggleATBCard" [(ngModel)]="card.isShown"></ion-toggle>
        </ion-label>
        </ion-item>

      <ion-card-content *ngIf="card.isShown">
        <p class="dilutionDrogueInduction"><b>Posologie</b> : {{card.posologie}}</p>
        <br>
        <p class="dilutionDrogueInduction"><b>Reconstitution</b> : {{card.reconstitution}}</p>
        <br>
        <p class="dilutionDrogueInduction"><b>Dilution</b> : {{card.dilution}}</p>
        <br>
        <p class="dilutionDrogueInduction"><b>Administration</b> : {{card.administration}}</p>
        <br>
        <p class="dilutionDrogueInduction"><b>Remarques</b> : {{card.remarques}}</p>
        <br>
      </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>