<ion-header><br>
  <div class="header"> 
    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>

   Drépanocytose</div>
   <br>
    </ion-header>
<ion-content padding>

  <ion-chip style="margin-top: 5%; margin-left:2%;" color="dark-turquoise"><ion-icon color="dark-turquoise" name="bulb"></ion-icon></ion-chip>
  <div class="comment" padding style="float:right; width:87%; color:darkgray;">Penser à contacter l'hématologue en charge du patient et récupérer les derniers comptes-rendus.</div>

  <ion-card class="drogueContainer">
    <ion-card-header color="turquoise-fonce">Evaluer la sévérité</ion-card-header>
    <ion-card-content class="comment">
      - Génotype, comorbidités (déficit en G6PD), hémoglobine de base, traitements, greffe ;<br>
      - Fréquence des crises vaso-occlusives ;<br>
      - Antécédent d'hospitalisation, notamment en réanimation ; <br>
      - Antécédent de syndrome thoracique aigu, vasculopathie cérébrale.
    </ion-card-content>
  </ion-card>

    <hr>
  
  <ion-card class="drogueContainer">
    <ion-card-header color="danger">Préparation transfusionnelle :</ion-card-header>
    <ion-card-content>
  <ion-item>
    <ion-label color="dark-turquoise" class="drogueInduction">Durée d'intervention :</ion-label>
  <ion-select #newselect (ionChange)="UpdatePerteChir()" [(ngModel)]="TypeChir" interface="action-sheet" cancelText="Retour" class="drogueInduction">
   <ion-option value="1" color="turquoise-fonce">&le;45 min.</ion-option>
   <ion-option value="2" color="turquoise-fonce">&le; 2h.</ion-option>
   <ion-option value="3" color="turquoise-fonce">&gt; 2h.</ion-option>
  </ion-select>
  </ion-item>
        <div class="comment">
        <div *ngIf="TypeChir == 1">- Transfusion si Hb &le; 8g/dL <br>- Cible en fin de chirurgie à 10 g/dL</div>
        <div *ngIf="TypeChir == 2">- Mesure HbS par EPHb<br>- Transfusion ou échange ; objectif HbS &le; 40%<br>- Cible en fin de chirurgie entre 10 et 10,5 g/dL</div>
        <div *ngIf="TypeChir == 3">- Mesure HbS par EPHb<br>- Transfusion ou échange ; objectif Hbs &lt; 30%<br>- Cible en fin de chirurgie à 10g/dL</div>  
      </div>  
      </ion-card-content>
      </ion-card>

<hr>

<ion-card class="drogueContainer">
  <ion-card-header color="turquoise-fonce">Hydrater dès l'hospitalisation</ion-card-header>
  <ion-card-content class="comment">
    - 2 L/m²/24h en dessous de 50 kg ;<br>
    - 1,5 L/m²/24h au dessus de 50 kg ;<br>
    <span style="font-size: smaller;">- Repères : 10 kg = 40 mL/h, 20 kg = 66 mL/h, 30 kg = 88 mL/h.</span>
  </ion-card-content>
</ion-card>

<hr>

<ion-card class="drogueContainer">
  <ion-card-header color="primary">Oxygéner : 1L/min lunettes</ion-card-header>
</ion-card>

<hr>

<ion-card class="drogueContainer">
  <ion-card-header color="turquoise-fonce">Per et post-opératoire</ion-card-header>
  <ion-card-content class="comment">
    - Oxygénation et réchauffement continus ;<br>
    - Seuil transfusionnel à 8 g/dL, 10 g/dL si antécédent de SCA ou vasculopathie cérébrale ;<br>
    - Monitorage adapté au maintien de la normovolémie (DTO)<br>
    - Analgésie adaptée aux besoins (ALR, PCA morphine)<br>
    - Surveillance prolongée en SSPI puis orientation adaptée (USC).
  </ion-card-content>
</ion-card>

</ion-content>
