page-sauvegarde-patient {

}

.mesPatients{
    text-align:center;
    width: 50%; 
    float:right; 
}

.exemplesPatients{
    text-align:center;
    width: 50%; 
    float:left; 
}


.fichePatient{
    width: 90%;
    float:left;
    padding:1%; 
    background-color:#bce7e9;
}

.iconPatient{
    width: 8%;
    float:right; 
    padding:1%; 
    text-align:center; 
}


.prenomPatient{

    font-weight: bold;
    font-size:14px;
    color:#009c9e ;
}