
<ion-header>
  <br>
  <!-- HEADER MENU  -->
  <div class="header"> 
Protocoles & dispositifs</div>
      <br>
  
      <ion-segment color="turquoise-fonce" [(ngModel)]="ProtocolesView">
        <ion-segment-button value="1"><ion-icon name="stats"></ion-icon> &nbsp; Scores</ion-segment-button>
        <ion-segment-button value="2"><ion-icon name="list-box"></ion-icon> &nbsp; Protocoles</ion-segment-button>
        <ion-segment-button value="3"><ion-icon name="easel"></ion-icon> &nbsp; Dispostifs</ion-segment-button>
      </ion-segment>
 <!-- END HEADER -->
</ion-header>

 <ion-content >

  <div *ngIf="ProtocolesView ==1">

    <ion-card (click)="openScore(index)" class="drogueContainer" *ngFor="let entry of scores, let index = index">
      <ion-card-content  class="cardRecos">
      <div class="headerProtocoles">
        {{entry.soustitre}}

      </div>
      <div class="contentProtocoles">
        <ion-icon start name="stats"></ion-icon> &nbsp; <b>{{entry.titre}}</b>
      <hr> </div>
        <div *ngIf = "entry.objectif"  class="objectifsProtocoles">
        Objectif  :  {{entry.objectif}}</div>
      </ion-card-content>
      </ion-card>
  
  </div>

  <div *ngIf="ProtocolesView == 2">
  <ion-card (click)="openProtocole(index)" class="drogueContainer" *ngFor="let entry of protocoles, let index = index">
    <ion-card-content  class="cardRecos">
    <div class="headerProtocoles">
    Auteurs : {{entry.auteurs}}
    <br>
    Publication : {{entry.datepublication}}
    </div>
    <div class="contentProtocoles">
      <ion-icon start name="list-box"></ion-icon> &nbsp; <b>{{entry.titre}}</b>
    <hr> </div>
      <div class="objectifsProtocoles">
      Objectifs :
        <li *ngIf = "entry.objectif1"> {{entry.objectif1}}</li>
        <li *ngIf = "entry.objectif2"> {{entry.objectif2}}</li>
        <li *ngIf = "entry.objectif3"> {{entry.objectif3}}</li>
        <li *ngIf = "entry.objectif4"> {{entry.objectif4}}</li>
    </div>
    </ion-card-content>
    </ion-card>
  </div>



  <div *ngIf="ProtocolesView == 3">

    <ion-card (click)="openDispositif(index)" class="drogueContainer" *ngFor="let entry of dispositifs, let index = index">
      <ion-card-content  class="cardRecos">
      <div class="nomDispositif">
        <ion-icon start name="easel"></ion-icon> &nbsp; <b>{{entry.nom}}</b></div>
      <div class="nomcompletDispostif">{{entry.nomcomplet}}</div>
      </ion-card-content>
      </ion-card>

  </div>

</ion-content>