.intitules {
    font-size: 10px; 
}

.TableBilansEven {
    font-size: 12px !important;
    text-align:center;
    background: #FFF;
    color: rgb(0, 0, 0);

}

.TableBilansOdd
{
    font-size: 12px !important;
    text-align:center;
    background: #dbd9d9; 
    color: rgb(0, 0, 0);

};

.graphPoids {
    box-shadow: none !important;
}

.imgAideMemoire {
    width: 25% !important;
    float:left;
    margin-left: auto;
    margin-right: auto;
    padding: 5px; 
}

.imgANIMoniteur {
    width: 65% !important;
    float:right;
    margin-left: auto;
    margin-right: auto;
    padding: 5px; 
}
