
<ion-header><br>
  <!-- HEADER MENU  -->
  <div class="header"> 
Scores  </div>
      <br>  

      <ion-segment color="turquoise-fonce" [(ngModel)]="ScoresView">
        <ion-segment-button value="1">Consultation</ion-segment-button>
        <ion-segment-button value="2">Post-opératoire</ion-segment-button>
      </ion-segment>
  
      
 <!-- END HEADER -->

             <!-- DEBUT SCORE SHS SAOS-->

            </ion-header>
             <ion-content>

<div *ngIf="ScoresView==1">


  <ion-item (click)="toggleSHS()">
    <ion-label color="dark-turquoise"><ion-icon name="stats"></ion-icon> &nbsp; &nbsp; Sévérité SAOS (SHS)
    <ion-icon *ngIf="!isShownSHS" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
    <ion-icon *ngIf="isShownSHS" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
    </ion-label>
  </ion-item>
    
           
    
  <ion-card class="drogueContainer" *ngIf="isShownSHS">

    <p *ngIf="isShownSHS"  class="reference">Référence : Spruyt & al., Screening of pediatric sleep-disordered breathing. Chest 2012.
      <br>
    6 questions, 5 choix possibles (dans les 6 derniers mois): 
      <br> - 0 : jamais 
      <br> - 1 : rarement (une fois par semaine)
      <br> - 2 : occasionnelement (deux fois par semaine)
      <br> - 3 : fréquemment (3 à 4 fois par semaine)
      <br> - 4 : presque toujours (plus de 4 fois par semaine).
    </p>

    <ion-card-content *ngFor="let entry of SHSform">

      <ion-list>
          {{entry.val}}
          <br>
        
          <ion-segment [(ngModel)]="entry.count" color="dark-turquoise" (ionChange)="countSHS()">
          <ion-segment-button value="0">
            <ion-label>0</ion-label>
          </ion-segment-button>
          <ion-segment-button value="1">
            <ion-label>1</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2">
            <ion-label>2</ion-label>
          </ion-segment-button>
          <ion-segment-button value="3">
            <ion-label>3</ion-label>
          </ion-segment-button>
          <ion-segment-button value="4">
            <ion-label>4</ion-label>
          </ion-segment-button>
        </ion-segment>            
      </ion-list>
    </ion-card-content>
  </ion-card>
    
  <ion-card *ngIf="isShownSHS" class="drogueContainer">Interprétation : un score cumulé global supérieur à 2.72 prédit un index d'apnée-hypopnée supérieur à 5/h, ce qui correspond à un SAOS sévère de l'enfant. 
  <ion-card-content>
  <ion-item class="drogueInduction">Score cumulé global : <b>{{cumuleSHS}}</b></ion-item>
  <p class="strategie" padding>{{risqueSHS}}</p>
  <p *ngIf="isShownSHS" class="comment" padding>Détail du calcul : A = (Q1+Q2)/2, B = (A+Q3)/2, C = (B+Q4)/2, D = (C+Q5)/2, score cumulé global = (D+Q6)/2</p>
</ion-card-content> 
</ion-card>
              <!-- FIN SCORE SHS SAOS-->

<!-- DEBUT SCORE HEMSTOP SAIGNEMENT-->

<ion-item (click)="toggleHEMSTOP()">
  <ion-label color="dark-turquoise"><ion-icon name="stats"></ion-icon> &nbsp; &nbsp; Coagulopathies (HEMSTOP)
    <ion-icon *ngIf="!isShownHEMSTOP" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
    <ion-icon *ngIf="isShownHEMSTOP" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
  </ion-label>
</ion-item>



<ion-card class="drogueContainer" *ngIf="isShownHEMSTOP">

  <p class="reference">Référence : Bonhomme et al. Preoperative hemostatic assessment: a new and simple bleeding questionnaire. Can J. Anesthesiology 2016.
    <br><br>Score développé chez l'adulte. Envisager l'utilisation de ce score pour sensibiliser la prescription du bilan d'hémostase chez un enfant ayant acquis la marche. 6 questions, réponse par oui ou par non.
    </p>


  <ion-card-content *ngFor="let entry of HEMSTOPform">
    
    <ion-list>
        {{entry.val}}
      
      
       <ion-segment [(ngModel)]="entry.count" color="dark-turquoise" (ionChange)="countHEMSTOP()">
        <ion-segment-button value="0">
          <ion-label>Non</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label>Oui</ion-label>
        </ion-segment-button>
      </ion-segment>            
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="isShownHEMSTOP" class="drogueContainer">Interprétation : un score supérieur à 2 rend hautement probable la présence d'un sur-risque hémorragique périopératoire (Sn 89,5%, Sp 98,6%). 
<ion-card-content>
<ion-item *ngIf="isShownHEMSTOP" class="drogueInduction">Total : <b>{{totalHEMSTOP}}/6 pts</b></ion-item>
<p class="strategie" padding>{{risqueHEMSTOP}}</p>

</ion-card-content> 
</ion-card>

      <!-- FIN SCORE HEMSTOP SAIGNEMENT-->

<!-- SCORE VPOP-->



<ion-item (click)="toggleVPOP()">
<ion-label color="dark-turquoise"><ion-icon name="stats"></ion-icon> &nbsp; &nbsp; Risque NVPO (score VPOP)
<ion-icon *ngIf="!isShownVPOP" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
<ion-icon *ngIf="isShownVPOP" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
</ion-label>
</ion-item>

<ion-card class="drogueContainer" *ngIf="isShownVPOP">
<p class="reference">Référence : Bourdaud et al. Development & validation of a risk score to predict probability of p/o vomiting in pediatric patients. Pediatric Anesthesia 2014.
</p>
<ion-card-content>
  <ion-item *ngFor="let entry of VPOPform">
    <ion-label class="dilutionDrogueInduction">{{entry.val}}
      <p class="dilutionDrogueInduction">+ {{entry.count}} point(s)</p>
    </ion-label>
    <ion-checkbox color="turquoise-fonce" (click)="countVPOP()" [(ngModel)]="entry.isChecked"></ion-checkbox>
  </ion-item>
      <ion-item class="drogueInduction">Total : <b>{{totalVPOP}} pts</b> - Risque NVPO : <b>{{risqueVPOP}} %</b></ion-item>
      <ion-item><ion-label class="drogueInduction">Stratégie proposée :</ion-label></ion-item>
      <p class="strategie">{{prophylaxieVPOP}}</p>
</ion-card-content>
</ion-card>



<!-- FIN SCORE VPOP-->




<!-- DEBUT SCORE ANTICOAG-->



<ion-item (click)="toggleScoreAnticoag()">
<ion-label color="dark-turquoise"><ion-icon name="stats"></ion-icon> &nbsp; &nbsp; Anticoagulation (après 13 ans)
  <ion-icon *ngIf="!isShownScoreAnticoag" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
  <ion-icon *ngIf="isShownScoreAnticoag" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
</ion-label>
</ion-item>

<ion-card class="drogueContainer" *ngIf="isShownScoreAnticoag">
<ion-card-content>
 Envisager chez le patient pubère (+/- âge > 13 ans). Indiquez les facteurs de risque présents. Le total et la stratégie proposée sont indiqués en bas.
  
  <ion-list>
    <ion-item class="dilutionDrogueInduction">Facteurs liés au patient</ion-item>
    <ion-item *ngFor="let entry1 of Anticoagform1">
      <ion-label class="dilutionDrogueInduction">{{entry1.val}}
        <p class="dilutionDrogueInduction">+ {{entry1.count}} point(s)</p>
      </ion-label>
      <ion-checkbox color="turquoise-fonce" (click)="countAnticoag()" [(ngModel)]="entry1.isChecked"></ion-checkbox>
    </ion-item>

    <ion-item class="dilutionDrogueInduction">Facteurs liés à la chirurgie</ion-item>
    <ion-item *ngFor="let entry2 of Anticoagform2">
      <ion-label class="dilutionDrogueInduction">{{entry2.val}}
        <p class="dilutionDrogueInduction">+ {{entry2.count}} point(s)</p>
      </ion-label>
      <ion-checkbox color="turquoise-fonce" (click)="countAnticoag()" [(ngModel)]="entry2.isChecked"></ion-checkbox>
    </ion-item>

    <ion-item class="dilutionDrogueInduction">Facteurs liés à l'hospitalisation</ion-item>
    <ion-item *ngFor="let entry3 of Anticoagform3">
      <ion-label class="dilutionDrogueInduction">{{entry3.val}}
        <p class="dilutionDrogueInduction">+ {{entry3.count}} point(s)</p>
      </ion-label>
      <ion-checkbox  color="turquoise-fonce" (click)="countAnticoag()" [(ngModel)]="entry3.isChecked"></ion-checkbox>
    </ion-item>


        <ion-item class="drogueInduction">Total : <b>{{AnticoagTotal}} pts</b> - Risque <b>{{NiveauRisqueThrombose}}</b></ion-item>
        <ion-item><ion-label class="drogueInduction">Stratégie proposée :</ion-label></ion-item>
        <p class="strategie">{{prophylaxieAnticoag}} <b>{{MesuresSupplementairesAnticoag}}</b></p>
 </ion-list>
</ion-card-content>
</ion-card>


</div>

<!-- FIN SCORE ANTICOAG-->



<div *ngIf="ScoresView==2" >


<!-- DEBUT SCORE EVENDOL-->

  <ion-item (click)="toggleEVENDOL()">
    <ion-label color="dark-turquoise"><ion-icon name="stats"></ion-icon> &nbsp; &nbsp; Douleur enfant (EVENDOL)
      <ion-icon *ngIf="!isShownEVENDOL" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
      <ion-icon *ngIf="isShownEVENDOL" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
    </ion-label>
  </ion-item>

  <ion-card class="drogueContainer" *ngIf="isShownEVENDOL">
    <ion-card-content>

<p class="drogueInduction">Préférer l'auto-évaluation chaque fois que possible. En cas d'impossibilité liée à l'âge ou à l'état du patient, utiliser une échelle d'hétéro-évaluation. L'échelle EVENDOL est proposée ci-dessous.</p>    
    <br>
<p class="comment">Renseigner chacun des items de 0 à 3. 
  <br> - 0 = signe absent
  <br> - 1 = signe faible ou passager
  <br> - 2 = signe moyen ou environ la moitié du temps
  <br> - 3 = signe fort ou quasi permanent
  <br>
  <br> Pour l'item Relation, une absence (0) donne 3 points ; un état relationnel normal (3) ne compte aucun point. Seuil de prescription : 4/15.</p>

<ion-item class="EVENDOLlabel"><ion-label><br>Expression vocale/verbale</ion-label></ion-item>

    <ion-segment [(ngModel)]="EVENDOLVocal" class="EVENDOLrange" color="dark-turquoise" (ionChange)="CalcEVENDOL()">
      <ion-segment-button value="0">
        <ion-label>0</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>1</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>2</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>3</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-item class="EVENDOLlabel"><ion-label><br>Mimique (fronce, grimace)</ion-label></ion-item>

    <ion-segment [(ngModel)]="EVENDOLMimique" class="EVENDOLrange" color="dark-turquoise" (ionChange)="CalcEVENDOL()">
      <ion-segment-button value="0">
        <ion-label>0</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>1</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>2</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>3</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-item class="EVENDOLlabel"><ion-label><br>Mouvements (s'agite, se crispe)</ion-label></ion-item>

    <ion-segment [(ngModel)]="EVENDOLMouvement" class="EVENDOLrange" color="dark-turquoise" (ionChange)="CalcEVENDOL()">
      <ion-segment-button value="0">
        <ion-label>0</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>1</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>2</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>3</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-item class="EVENDOLlabel"><ion-label><br>Position (attitude antalgique, se protège)</ion-label></ion-item>

    <ion-segment [(ngModel)]="EVENDOLPosition" class="EVENDOLrange" color="dark-turquoise" (ionChange)="CalcEVENDOL()">
      <ion-segment-button value="0">
        <ion-label>0</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>1</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>2</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>3</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-item class="EVENDOLlabel"><ion-label><br>Relation (communique, peut être consolé)</ion-label></ion-item>

    <ion-segment [(ngModel)]="EVENDOLRelation" class="EVENDOLrange" color="dark-turquoise" (ionChange)="CalcEVENDOL()">
      <ion-segment-button value="3">
        <ion-label>0</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>1</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>2</ion-label>
      </ion-segment-button>
      <ion-segment-button value="0">
        <ion-label>3</ion-label>
      </ion-segment-button>
    </ion-segment>

            <ion-item class="drogueInduction">Total : <b>{{EVENDOLTotal}}/15 pts</b></ion-item>
            <p class="strategie">Seuil de prescription (3/15) : {{SeuilPrescriptionEVENDOL}}</p>



</ion-card-content>

</ion-card>

<!-- FIN SCORE EVENDOL-->


<!-- DEBUT SCORE EDIN -->



<ion-item (click)="toggleEDIN()">
<ion-label color="dark-turquoise"> <ion-icon name="stats"></ion-icon> &nbsp; &nbsp; Douleur nourrisson (0-3 mois - EDIN)
  <ion-icon *ngIf="!isShownEDIN" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>  
  <ion-icon *ngIf="isShownEDIN" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
</ion-label>
</ion-item>

<ion-card class="drogueContainer" *ngIf="isShownEDIN">
<ion-card-content>

<p class="drogueInduction">Utiliser chez le nourrisson entre 0 et 3 mois.</p>    
<br>
<ion-item class="EVENDOLlabel"><ion-label><br>Visage
<p class="comment">0 : visage détendu</p>
<p class="comment">1 : grimaces passagères</p>
<p class="comment">2 : grimaces fréquentes et prolongées</p>
<p class="comment">3 : crispation permanente, prostré, figé</p>
</ion-label></ion-item>

<ion-segment [(ngModel)]="EDINVisage" class="EVENDOLrange" color="dark-turquoise" (ionChange)="CalcEDIN()">
  <ion-segment-button value="0">
    <ion-label>0</ion-label>
  </ion-segment-button>
  <ion-segment-button value="1">
    <ion-label>1</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label>2</ion-label>
  </ion-segment-button>
  <ion-segment-button value="3">
    <ion-label>3</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-item class="EVENDOLlabel"><ion-label><br>Corps
<p class="comment">0 : détendu</p>
<p class="comment">1 : agitation transitoire</p>
<p class="comment">2 : agitation fréquente</p>
<p class="comment">3 : agitation permanente, crispation, raideur</p>

</ion-label></ion-item>

<ion-segment [(ngModel)]="EDINCorps" class="EVENDOLrange" color="dark-turquoise" (ionChange)="CalcEDIN()">
  <ion-segment-button value="0">
    <ion-label>0</ion-label>
  </ion-segment-button>
  <ion-segment-button value="1">
    <ion-label>1</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label>2</ion-label>
  </ion-segment-button>
  <ion-segment-button value="3">
    <ion-label>3</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-item class="EVENDOLlabel"><ion-label><br>Sommeil 
  <p class="comment">0 : s'endort facilement, sommeil prolongé</p>
  <p class="comment">1 : s'endort difficilement</p>
  <p class="comment">2 : se réveille spontanément, sommeil agité</p>
  <p class="comment">3 : pas de sommeil</p>

</ion-label></ion-item>

<ion-segment [(ngModel)]="EDINSommeil" class="EVENDOLrange" color="dark-turquoise" (ionChange)="CalcEDIN()">
  <ion-segment-button value="0">
    <ion-label>0</ion-label>
  </ion-segment-button>
  <ion-segment-button value="1">
    <ion-label>1</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label>2</ion-label>
  </ion-segment-button>
  <ion-segment-button value="3">
    <ion-label>3</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-item class="EVENDOLlabel"><ion-label><br>
  Relation
  <p class="comment">0 : sourire réponse, attentif</p>
  <p class="comment">1 : appréhension passagère du contact</p>
  <p class="comment">2 : contact difficile, cri à la moindre stimulation</p>
  <p class="comment">3 : hurlement ou gémissement spontané</p>

</ion-label></ion-item>

<ion-segment [(ngModel)]="EDINRelation" class="EVENDOLrange" color="dark-turquoise" (ionChange)="CalcEDIN()">
  <ion-segment-button value="0">
    <ion-label>0</ion-label>
  </ion-segment-button>
  <ion-segment-button value="1">
    <ion-label>1</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label>2</ion-label>
  </ion-segment-button>
  <ion-segment-button value="3">
    <ion-label>3</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-item class="EVENDOLlabel"><ion-label><br>Reconfort
  <p class="comment">0 : n'a pas besoin de reconfort</p>
  <p class="comment">1 : se calme rapidement à la caresse/au son de la voix</p>
  <p class="comment">2 : se calme difficilement</p>
  <p class="comment">3 : inconsolable, succion désespérée</p>

</ion-label></ion-item>

<ion-segment [(ngModel)]="EDINReconfort" class="EVENDOLrange" color="dark-turquoise" (ionChange)="CalcEDIN()">
  <ion-segment-button value="0">
    <ion-label>0</ion-label>
  </ion-segment-button>
  <ion-segment-button value="1">
    <ion-label>1</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label>2</ion-label>
  </ion-segment-button>
  <ion-segment-button value="3">
    <ion-label>3</ion-label>
  </ion-segment-button>
</ion-segment>

        <ion-item class="drogueInduction">Total : <b>{{EDINTotal}}/15 pts</b></ion-item>
        <p class="strategie">Seuil de prescription (3/15) : {{SeuilPrescriptionEDIN}}</p>



</ion-card-content>

</ion-card>

<!-- FIN DOULEUR EDIN -->


<!-- SCORE ALDRETE -->
<ion-item (click)="toggleAldrete()">
<ion-label color="dark-turquoise"><ion-icon name="stats"></ion-icon> &nbsp; &nbsp; Aldrete - Sortie de SSPI
<ion-icon *ngIf="!isShownAldrete" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
<ion-icon *ngIf="isShownAldrete" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
</ion-label>
</ion-item>

<p padding *ngIf="isShownAldrete">Cocher pour chacune des catégories l'item décrivant l'état du patient.</p>


<ion-list *ngIf="isShownAldrete">
  <ion-card class="drogueContainer" *ngFor="let entry of AldreteForm">
    <ion-card-header *ngIf="entry.category">{{entry.category}}</ion-card-header>
      <ion-item><ion-label class="drogueInduction">
      {{entry.val}}
      <p class="dilutionDrogueInduction">+ {{entry.count}} point(s)</p>
    </ion-label>  
      <ion-checkbox color="turquoise-fonce" (click)="countAldrete()" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-card>

  <ion-card padding class="drogueContainer">
      <ion-item class="drogueInduction">Total : <b>{{totalAldrete}}/14 pts</b></ion-item>
      <ion-item><ion-label class="drogueInduction">Conduite à tenir proposée (sortie SSPI > 11/14) :</ion-label></ion-item>
      <p padding class="strategie">{{CATAldrete}}</p>
    </ion-card>
</ion-list>

<!-- FIN SCORE ALDRETE -->



<!-- SCORE PADSS SORTIE AMBULATOIRE  -->
<ion-item (click)="togglePADSS()">
<ion-label color="dark-turquoise"><ion-icon name="stats"></ion-icon> &nbsp; &nbsp; PADSS - Sortie ambulatoire
<ion-icon *ngIf="!isShownPADSS" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
<ion-icon *ngIf="isShownPADSS" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
</ion-label>
</ion-item>

<p padding *ngIf="isShownPADSS">Cocher pour chacune des catégories l'item décrivant l'état du patient.</p>


<ion-list *ngIf="isShownPADSS">
<ion-card class="drogueContainer" *ngFor="let entry of PADSSForm">
<ion-card-header *ngIf="entry.category">{{entry.category}}</ion-card-header>
  <ion-item><ion-label class="drogueInduction">
  {{entry.val}}
  <p class="dilutionDrogueInduction">+ {{entry.count}} point(s)</p>
</ion-label>  
  <ion-checkbox color="turquoise-fonce" (click)="countPADSS()" [(ngModel)]="entry.isChecked"></ion-checkbox>
</ion-item>
</ion-card>


<ion-card padding class="drogueContainer">
  <ion-item class="drogueInduction">Total : <b>{{totalPADSS}}/14 pts</b></ion-item>
  <ion-item><ion-label class="drogueInduction">Conduite à tenir proposée (sortie ambulatoire > 8/10) :</ion-label></ion-item>
  <p padding class="strategie">{{CATPADSS}}</p>
</ion-card>
</ion-list>


    <!-- FIN SCORE PADSS-->


     <!-- SCORE de BROMAGE RACHIANESTHESIE   -->


<ion-item (click)="toggleBromage()">
<ion-label color="dark-turquoise"><ion-icon name="stats"></ion-icon> &nbsp; &nbsp; Bromage - Levée rachianesthésie
<ion-icon *ngIf="!isShownBromage" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
<ion-icon *ngIf="isShownBromage" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
</ion-label>
</ion-item>

<ion-card padding *ngIf="isShownBromage" class="drogueContainer">

<p  class="reference"> Référence : Bromage PR. A comparison of the hydrochloride and carbon dioxide salts of lidocaine and prilocaine in epidural analgesia. Acta Anaesthesiologica Scandinavica 1965.</p>
<br>
<p class="comment">Le score proposé est le score de Bromage <i>modifié</i>, utilisable en ambulatoire. Le score original est sur 4 points, le score modifié sur 7. 
<br>Examiner le patient et attribuer le score correspondant à la motricité observée aux membres inférieurs.</p>
<br>
<p class="dilutionDrogueInduction">
  - 1. Bloc moteur complet.
<br>- 2. Bloc moteur presque complet, bouge les pieds.
<br>- 3. Bloc moteur partiel, bouge les pieds et les genoux.
<br>- 4. Bouge les jambes, faiblesse détectable à la flexion de la hanche.
<br>- 5. Pas de faiblesse de la hanche en position couchée.
<br>- 6. Flexion des genoux debout avec appui.
<br>- 7. Flexion des genoux debout sans appui. 
</p>

  <p class="strategie">Sortie de salle de réveil vers l'hospitalisation conventionnelle envisageable pour un score supérieur ou égal à 4. Sortie en ambulatoire envisageable pour un score supérieur ou égal à 6.</p>


</ion-card>

</div>


</ion-content>