page-sauvegarde-patient {

}

.switchPatientView {
    width:100% !important;
}

.mesPatients{
    text-align:center;
    width: 40%; 
    float:right; 
}

.Garçon{
    text-align:center;
    width: 20%; 
    float:left; 
    background-color:#75a4f5 ;
    border-radius: 15px;
    margin:2%; 
    }

.Fille 
{
    text-align:center;
    width: 20%; 
    float:left; 
    background-color: #ffd1dc; 
    border-radius: 15px;
    margin:2%; 

}


.fichePatient{
    width: 45%;
    background-color:#bce7e9;
    margin:2%;
    float:left;
    border-radius: 15px;
}

.iconPatient{
    width: 8%;
    float:right; 
    padding:1%; 
    text-align:center; 
}


.prenomPatient{

    font-weight: bold;
    font-size:14px;
    color:#009c9e ;
}