<ion-content>



<div class="header"> 

  <div (click)="retourHome()" class="backButton">
  <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
  Retour
  </div>

  Mes patients



 <br>
 
    <ion-segment color="turquoise-fonce" [(ngModel)]="PatientsView">
      <ion-segment-button value="1">Standards</ion-segment-button>
      <ion-segment-button value="2">Enregistrés</ion-segment-button>
    </ion-segment>


</div>

  <!-- END HEADER -->

<div *ngIf="PatientsView == 1 ">

  <div padding class="fichePatient" *ngFor="let item of ExemplesPatients; let index = index;">
    <div class="iconPatient">
      <ion-icon color="primary" name="download" (click)="loadExemplePatient(index)"></ion-icon>
      <br><br>
    </div>
    <span class="prenomPatient">{{item.Prenom}}</span><br>
    <span class="comment">    
        {{item.Poids}} kg - {{item.Taille}} cm
    </span>
  </div>
  </div>


  <div *ngIf="PatientsView == 2 ">
  <ion-card><ion-card-content>Les patients enregistrés à partir de l'écran d'accueil sont enregistrés ici.</ion-card-content></ion-card>
  <div padding class="fichePatient" *ngFor="let item of PatientsSauvegardes; let index = index;">
    <div class="iconPatient">
      <ion-icon color="primary" name="download" (click)="loadMyPatient(index)"></ion-icon>
      <br><br>
      <ion-icon color="danger" name="trash" (click)="deleteMyPatient(index)"></ion-icon>
    </div>  
    <span class="prenomPatient">{{item.Prenom}}</span>
    <p class="comment">    
        {{item.Sexe}} - {{item.Age}} mois 
        <br>{{item.Poids}} kg - {{item.Taille}} cm
      </p>
    </div>

</div>



  </ion-content>