page-info {

}

.credits{

    text-align:center; 
    color: #009c9e; 
    padding: 5px;
    margin-top: 20px; 

}

.logoDAR {
    width: 90% ;
    padding: 5%;
  }

.CGU {
    text-align:justify; 
}

.CGUtitle {
    text-align:center; 
    font-weight:bold;
    font-size:14px; 
}

.infoFooter {
    background-color: #f4f4f4;
    box-shadow: inset;
    text-align: center;
}