<ion-header><br>
  <div class="header"> 

    <div (click)="retourHome()" class="backButton">
    <ion-icon start color="turquoise-fonce" name="arrow-back"></ion-icon>
    Retour
    </div>Bloc du nerf intercostobrachial</div>
   <br>
 
    </ion-header>

<ion-content>
  <ion-card color="turquoise-fonce">
    <ion-card-header (click)="toggleIndications()">
      Indications : en complément du bloc axillaire
      <ion-icon *ngIf="!isShownIndications" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
      <ion-icon *ngIf="isShownIndications" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="isShownIndications"> 
      <ul>
        <li>Intervention sur la partie médiale du bras.</li>
        <li>Intervention sur le coude.</li>
        <li>Amélioration de la tolérance du garrot au bras pour les chirurgies de l'avant-bras et de la main.</li>
        </ul> 
    </ion-card-content>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header (click)="toggleAnatomie()">Rappels d'anatomie
      <ion-icon *ngIf="!isShownAnatomie" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
      <ion-icon *ngIf="isShownAnatomie" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="isShownAnatomie">
      L'innervation cutanée de la région antéro-médiale et postéro-médiale du bras est assurée par les nerfs cutanés médiaux du bras et de l'avant-bras, qui sont situés en dehors de l'espace définit entre le fascia brachial et le tendon du grand dorsal dans lequel est réalisé le bloc axillaire. 
    </ion-card-content>
  </ion-card>

      <ion-card>
        <ion-card-header (click)="toggleTechnique()">
          Technique
          <ion-icon *ngIf="!isShownTechnique" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
          <ion-icon *ngIf="isShownTechnique" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
        </ion-card-header>
        <ion-card-content *ngIf="isShownTechnique" style="text-align: justify;">
          Bloc échoguidé utilisant la sonde linéaire à haute fréquence. Prévoir une aiguille de taille suffisante à la réalisation du bloc dans le plan. 
          <br>
          Au terme de la réalisation du bloc axillaire, compléter en déplaçant la sonde en direction du thorax de manière à faire apparaître la fusion du fascia brachial avec le fascia grand dorsal. 
          <br>
          Visualiser alors les deux petits nerfs posés dans le prolongement du fascia du grand dorsant, entre les tissus mous sous-cutanés et le fascia du grand dorsal. Une petite quantité d'AL suffit à entourer ces deux nerfs.
          </ion-card-content>
      </ion-card>
      
    <ion-card color="warning">
      <ion-card-header (click)="togglePosologie()">
        Posologie
        <ion-icon *ngIf="!isShownPosologie" class="OpenCloseIcon" name="open"  style="zoom:0.9"></ion-icon>
        <ion-icon *ngIf="isShownPosologie" class="OpenCloseIcon" name="close" style="zoom:0.9"></ion-icon>
      </ion-card-header>
      <ion-card-content *ngIf="isShownPosologie">
        - Ropivacaïne 2 mg/mL jusqu'à 6 ans et 30 kg puis Ropivacaïne 3,75 mg/mL, 0,1 mL/kg.</ion-card-content>
    </ion-card>
    
    <!-- 
    <ion-card>
      <ion-card-header (click)="toggleLegend()">Imagerie
        <ion-icon *ngIf="!hasLegend" class="OpenCloseIcon" color="dark-turquoise" name="eye"></ion-icon>
        <ion-icon *ngIf="hasLegend" class="OpenCloseIcon" color="dark-turquoise" name="eye-off"></ion-icon>
      </ion-card-header>
    <ion-card-content>
      <div style="float:right ; margin-right:20px">
        </div>
      <img *ngIf="!hasLegend" src="assets/imgs/grands_droits_nolegende.png">
    <img *ngIf="hasLegend" src="assets/imgs/grands_droits_legende.png">
    </ion-card-content>
    </ion-card>
    -->  
</ion-content>

