
<ion-header>
  <br>
  <!-- HEADER MENU  -->
  <div class="header"> 
Protocoles & dispositifs</div>
      <br>
  
      <ion-segment color="turquoise-fonce" [(ngModel)]="ProtocolesView">
        <ion-segment-button value="1">Interventions</ion-segment-button>
        <ion-segment-button value="2">Dispostifs</ion-segment-button>
      </ion-segment>
 <!-- END HEADER -->
</ion-header>

 <ion-content >

  <div *ngIf="ProtocolesView == 1">
  <ion-card (click)="openProtocole(index)" class="drogueContainer" *ngFor="let entry of protocoles, let index = index">
    <ion-card-content  class="cardRecos">
    <div class="headerProtocoles">
    Auteurs : {{entry.auteurs}}
    <br>
    Publication : {{entry.datepublication}}
    </div>
    <div class="contentProtocoles">
      <ion-icon start name="list-box"></ion-icon> &nbsp; <b>{{entry.titre}}</b>
    <hr> </div>
      <div class="objectifsProtocoles">
      Objectifs :
        <li *ngIf = "entry.objectif1"> {{entry.objectif1}}</li>
        <li *ngIf = "entry.objectif2"> {{entry.objectif2}}</li>
        <li *ngIf = "entry.objectif3"> {{entry.objectif3}}</li>
        <li *ngIf = "entry.objectif4"> {{entry.objectif4}}</li>
    </div>
    </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="ProtocolesView == 2">

    <ion-card (click)="openDispositif(index)" class="drogueContainer" *ngFor="let entry of dispositifs, let index = index">
      <ion-card-content  class="cardRecos">
      <div class="nomDispositif">
        <ion-icon start name="easel"></ion-icon> &nbsp; <b>{{entry.nom}}</b></div>
      <div class="nomcompletDispostif">{{entry.nomcomplet}}</div>
      </ion-card-content>
      </ion-card>

  </div>

</ion-content>