.headerProtocoles {
font-size:12px; 
text-align: left !important;
}

.contentProtocoles {
font-size:18px; 
color:  #009c9e; 
}

.objectifsProtocoles {
font-size:10px; 
}

.nomDispositif {
    font-size:18px; 
    color:  #009c9e; 
}

.nomcompletDispositif {
    font-size:10px; 
}